[2016-02-02 19:10] peterdotjs opened #4 "Update Component Proptypes to reflect in Pig"

[2016-02-02 19:10] peterdotjs opened #5 "Create PIG explorer page"

[2016-03-03 21:28] jamesyu opened #31 "Class counts don't come in when switching apps"
1) Open one app and note that all counts come in
2) Switch to another app, notice that all counts come in as well
3) Switch back to the first app, and counts don't come in

[2016-03-03 22:35] hramos opened #32 "No apps loaded if at least one app is non-responsive"
I ran into this when I first configured Dashboard with a Parse Server app that had not been deployed yet, but I can see people running into this if their app is down or unresponsive for whatever reason.

Steps to reproduce:
1. Make sure you have Parse Dashboard up and running with at least one working app.
2. Add a new `apps` item to your parse-dashboard-config.json where the server URL is not an

[2016-03-04 18:11] #32 closed, assigned to nobody

[2016-03-04 21:30] jamesyu opened #44 "Error message when Parse Server is erroring"
If Parse Server is returning non-200 from serverInfo, we should show a nice message saying there's something wrong with your parse server deployment for that app.

[2016-03-04 21:37] jamesyu commented on #44
Nevermind, this was landed earlier today!

[2016-03-04 21:37] #44 closed

[2016-03-04 22:13] #5 closed

[2016-03-04 23:23] adampietrasiak opened #45 "Migrate Schema"
Is there any way to save current schema of classes (with all the fields) and to import it later?

[2016-03-05 02:00] drew-gross commented on #45
You can easily save the current schemas in the API console, just use `schemas` for the endpoint and make sure to use the master key. We don't currently have a great way to import a schema, but we would happily accept PRs!

[2016-03-05 02:00] #45 closed

[2016-03-05 02:05] thphuc opened #46 "Parse Dashboard can only be remotely accessed via HTTPS"
After setting up the dashboard, I get the message "Parse Dashboard can only be remotely accessed via HTTPS".
I am hosting my backend on Digital Ocean (my domain is from Godaddy, but I didn't point to my IP yet), my dashboard url format: http://xxx.xxx.xxx.xxx:4040.
I am a mobile developer and I don't have experience on setting up https. Please tell me how to fix this!

[2016-03-05 02:14] drew-gross commented on #46
If you are running the dashboard on your own laptop (localhost), this shouldn't be an issue. If you want to run the dashboard on a remote server, https is mandatory to prevent you from leaking your Master Key and completely compromising the security of your app. https://letsencrypt.org/ can help you get started with https for free, or you can just run the dashboard locally.

[2016-03-05 02:14] #46 closed

[2016-03-05 02:16] thphuc commented on #46
Thanks @drew-gross
If I set up a https on Godaddy and point it to my IP address, will it work?

[2016-03-05 02:23] drew-gross commented on #46
That should work, but I haven't used SSL on GoDaddy so I can't be 100% sure. The connection to the express app that serves the dashboard must be secure, so as long as your setup on GoDaddy ensures you have a secure connection to dashboard, it will work. I'd recommend trying letsencrypt.org first, it's free so if it doesn't work then you haven't lost anything.

[2016-03-05 03:15] kilabyte opened #47 "build failing with node-sass@3.3.3"
We have latest Node.js yet we can't get it to build. We also have the latest version of parse-server up and running so all dependancies should be met? Somewhere else in the log it mentioned that our OS is not supported? How can it be that we can run parse-server with no problems and can't install the dashboard because the OS isn't supported?

![screen shot 2016-03-04 at 7 14 24 pm](https://cloud.g

[2016-03-05 03:24] chatpongs opened #48 "HTTPS required message is displayed even when using HTTPS if dashboard is deployed to Heroku."
I basically cloned the repo and pushed it to Heroku. First, there was an error that Node version wasn't specified. I added Node version in package.json. Then there is this error

remote:        > @ preinstall /tmp/build_59a48c67353dd6c9057be7bd1698879f
remote:        > git update-index --skip-worktree Parse-Dashboard/parse-dashboard-config.json
remote:
remote:        fatal: Not a git repository (o

[2016-03-05 03:31] drew-gross commented on #47
What OS are you using? The npm package documentation for `node-sass` mentions some issues on Ubuntu https://www.npmjs.com/package/node-sass could you follow those instructions and let me know if they help? I've also updated the `node-sass` version to the latest in #49 which may help.

[2016-03-05 03:35] kilabyte commented on #47
Running on CentOS 6. I'll try #49 and report back

[2016-03-05 03:35] drew-gross commented on #48
We've focused primarily on the `localhost` experience, so some issues when deploying to Heroku are expected. In this case, we added some git commands that prevent you from accidentally leaking your Master Key. We would gladly accept a PR to change this, you would just need to add the config file to `.gitignore`, then write a small node script that creates the file with some default data in it in t

[2016-03-05 03:45] kilabyte commented on #47
checkout node-sass-version and got everything up and running on my server and i can access it now!

[2016-03-05 03:54] thphuc opened #50 "Server not reachable: server version too low"
I am setting up dash-board on localhost (my PC).
I get the error: "Server not reachable: server version too low"
My parse-server version is 2.1.4

[2016-03-05 03:58] drew-gross commented on #47
Great! Https is required because the dashboard transmits your master key over the network. If you want to turn that off you can dig into the source of `Parse-Dashboard/index.js`, but be careful not to use the master key for apps that are important to you (or make sure you have some other security mechanism, such as early SSL termination)

I'd also accept a PR that makes this process easier, so tha

[2016-03-05 03:58] #47 closed

[2016-03-05 04:10] drew-gross commented on #50
2.1.4 should be a high enough version. Can you open up your javascript console and check if you have failing network requests? Specifically, requests to `yourparseserver.com/parse/serverInfo` as these are the ones that contain the dashboard version.

[2016-03-05 04:13] chatpongs commented on #48
Thanks @drew-gross Since it is just for testing, I am not worried about the Master Key.

I removed that preinstall script, created a Procfile to run "npm run dashboard" and I changed environment on Heroku to development with "heroku config:set NPM_CONFIG_PRODUCTION=false". Then add my Parse Server info into parse-dashboard-config.json

The server is now running at https://parse-dashboard-1.herokua

[2016-03-05 04:17] otymartin opened #51 "Cannot deploy my app to App Engine"
I followed all the steps to get the dashboard up and running, it works.

However, its created a problem for me. My app is currently hosted on Google App Engine.

I installed the dashboard files within the same folder where I have my parse server.
Parse Server Directory: `dev/appName-server/"server files, cloud code, app.yaml e.t.c`
Dashboard Directory: `dev/appname-server/parse-dashboard`

When I

[2016-03-05 04:17] thphuc commented on #50
yourparseserver.com/parse/serverInfo -> Error 404 (not found)
I also checked, there is no "serverInfo" folder (or file) under my app folder.
Where to get this?

[2016-03-05 04:26] drew-gross commented on #48
The dashboard requires your connection to server to be HTTPS. Heroku may be doing some early SSL termination, resulting in the connection to your dashboard not being HTTPS. You can allow insecure connections by digging into the source of `Parse-Dashboard/index.js`. Do note that your URL does seem to be accessible over HTTP as well.

I would also happily accept a PR that adds a config option to all

[2016-03-05 04:27] flovilmart commented on #48
It's most likely that heroku is handling the ssl termination and the node express server is on HTTP.

client <---- HTTPS -----> heroku <--- HTTP ---> parse-dashboard.

The requests coming to parse-dashboard are likely to be http requests from heroku proxy/load balancer/reverse proxy.

From there you have multiple options
- switch off the test for req.secure in the source (that I won't recommend)
-

[2016-03-05 04:30] thphuc commented on #50
OK. I figured it out. My fault!
I am using Parse server example and they are still using parse-server 2.1.2
But I got another issue with User table on dashboard. I have some users but the user table is empty. I will open new issue.
Thanks @drew-gross

[2016-03-05 04:33] drew-gross commented on #51
This issue seems to be pretty specific to google app engine. As a guess, I would say to remove the preinstall script from `package.json` (it's there to prevent people from accidentally pushing their master keys to GitHub, but it's pretty hacky)

If that doesn't work, I probably won't be able to help you.

[2016-03-05 04:33] #50 closed

[2016-03-05 04:35] flovilmart commented on #51
If you have a Dockerfile, you should put the runtime in app.yaml to custom

Also, I would recommend you deploy 2 modules instead of 1 with a routing.yaml to run api and dashboard to the right modules.

[2016-03-05 04:54] thphuc opened #52 "User collection empty"
As title said, the User collection is empty.
In mongodb, there are around 10 users.
I guess this issue is similar to [#825](https://github.com/ParsePlatform/parse-server/issues/825).
(When I use Android to request user list, the result is empty. But if I request for ONE (1) user, it works)

[2016-03-05 05:06] drew-gross commented on #52
This sounds like it might be a Parse Server issue. Can you open the Javascript console and show the request and the response to the request? Make sure to redact your master key.

[2016-03-05 05:13] thphuc commented on #52
I got below error in Console:

19743Warning: AppsSelector is accessing getDOMNode or findDOMNode inside its render(). render() should be a pure function of props and state. It should never access something that requires stale data from the previous render, such as refs. Move this logic to componentDidMount and componentDidUpdate instead.
Failed to load resource: the server responded with a status

[2016-03-05 05:44] kilabyte commented on #48
you can for now comment out line 33 in the Parse-Dashboard/index.js. This will bypass that check and allow you to continue setting it up for now while you work out SSL

[2016-03-05 06:06] drew-gross commented on #52
500 (Internal Server Error) is definitely a problem with Parse Server. Can you open an issue there? Please include an example CURL request and the state of your database (you can get the cURL from Chrome debugger network tab by right clicking on a request for _User and selecting copy as cURL, again make sure to redact your Master Key) https://github.com/ParsePlatform/parse-server/issues/

[2016-03-05 06:06] #52 closed

[2016-03-05 06:29] otymartin commented on #51
@drew-gross I kinda new to terminal. What command can i use to uninstall the dashboard along with all its files? I assume the parse-dashboard is the one creating the docker file.

@flovilmart Im not versed enough with server side/terminal to follow your instructions to be honest. for now I'd rather just uninstall.

[2016-03-05 06:45] drew-gross commented on #51
Just delete the `parse-dashboard` folder.

[2016-03-05 06:47] otymartin commented on #51
@drew-gross thanks drew. Do you recognize these files? Im assuming parse-dashboard created them. i want to know whether to delete them aswell
<img width="580" alt="screen shot 2016-03-05 at 1 46 37 am" src="https://cloud.githubusercontent.com/assets/2222881/13546197/2b553e08-e274-11e5-833f-455528298ce6.png">
<img width="394" alt="screen shot 2016-03-05 at 1 47 25 am" src="https://cloud.githubuserc

[2016-03-05 07:18] kilabyte opened #53 "Unable to connect to server"
Got everything setup now including one app. I get this error underneath the app that it can't connect to the parse-server on the localhost. If i replace the URL with the parse API url it works great! The parse-server is running on the localhost and apps can read and write from it. Any thoughts?

![screen shot 2016-03-04 at 11 16 40 pm](https://cloud.githubusercontent.com/assets/487948/13546324/2ee

[2016-03-05 07:25] drew-gross commented on #53
Did you include your parse mount point in the server URL?

[2016-03-05 07:26] drew-gross commented on #51
Parse Dashboard does not create any files outside it's own folder.

[2016-03-05 07:46] kilabyte commented on #53
Yup. I can even go to that url and i get the unauthorized json string

[2016-03-05 08:00] kilabyte commented on #53
I got it working pointing to a heroku instance... hmmm let me give it a good look over

[2016-03-05 08:14] drew-gross commented on #53
That sounds strange. Can you check in your browser debugger what the response is to the /serverInfo endpoint of your Parse Server?

[2016-03-05 08:21] kilabyte commented on #53
So if i put in an external url i.e. not localhost it works perfect. as soon as i put in localhost with the mount point it says it can't be found. If i run /serverInfo on the parse server i get "cannot find variable serverInfo". or typed into the address bar i get "cannot GET /serverInfo"

[2016-03-05 08:36] drew-gross commented on #53
What version is your Parse Server?

[2016-03-05 08:39] kilabyte commented on #53
2.1.4

[2016-03-05 08:46] drew-gross commented on #53
If you execute this cURL on your localhost, what is the response:

[2016-03-05 08:48] kilabyte commented on #53
Same.
![screen shot 2016-03-05 at 12 48 13 am](https://cloud.githubusercontent.com/assets/487948/13546741/f5547f10-e26b-11e5-9793-00633971a80d.png)

[2016-03-05 08:49] drew-gross commented on #53
OK, sounds like a bug in the server. Can you post the contents of your server's `package.json` file?

[2016-03-05 08:52] kilabyte commented on #53
[package.json.zip](https://github.com/ParsePlatform/parse-dashboard/files/159752/package.json.zip)

[2016-03-05 08:52] drew-gross commented on #53
You need to include the keys in your cURL. Please use the exact curl I sent you including the method and headers, but replace the mount, appId and masterKey with your mount, appId and masterKey (make sure not to include master key when you show me the results)

[2016-03-05 09:03] kilabyte commented on #53
![screen shot 2016-03-05 at 1 02 15 am](https://cloud.githubusercontent.com/assets/487948/13546807/19f81050-e26e-11e5-9e80-00375c7fa4cc.png)

[2016-03-05 09:05] drew-gross commented on #53
you still need the /serverInfo at the end of your URL for the curl. So if your mount point is `anni` use `http://localhost:1337/anni/serverInfo`

Can you also paste the contents of your `parse-dashboard-config.json` file, with the master keys removed?

[2016-03-05 09:09] kilabyte commented on #53
AH sorry bout that its getting late haha.
![screen shot 2016-03-05 at 1 08 47 am](https://cloud.githubusercontent.com/assets/487948/13546829/e91702ec-e26e-11e5-989e-365190f79256.png)

![screen shot 2016-03-05 at 1 07 36 am](https://cloud.githubusercontent.com/assets/487948/13546821/b8d3b36e-e26e-11e5-92b4-4e4a89f3bfb6.png)

[2016-03-05 09:13] drew-gross commented on #53
Your `parse-dashboard-config.json` file has `http://parse.kilabytecloud.com:1337/anni` as your serverURL, but you say it's your `localhost` server that the dashboard can't connect to. Are you sure your config file is correct?

That server response is correct, so the problem is not with the server.

[2016-03-05 09:14] kilabyte commented on #53
ya sorry thats my current config and its working i'll redo it with the local host my bad... :/

[2016-03-05 09:16] kilabyte commented on #53
![screen shot 2016-03-05 at 1 15 54 am](https://cloud.githubusercontent.com/assets/487948/13546858/e300024a-e26f-11e5-9369-36bd843e8000.png)
![screen shot 2016-03-05 at 1 15 42 am](https://cloud.githubusercontent.com/assets/487948/13546859/e3234e9e-e26f-11e5-842d-b2b158d934a8.png)

[2016-03-05 09:20] drew-gross commented on #53
That looks like it should work. Can you try removing the users, javascript key, and rest key from your config, and see if that changes anything?

[2016-03-05 09:22] kilabyte commented on #53
nope still unreachable with that setup
![screen shot 2016-03-05 at 1 22 33 am](https://cloud.githubusercontent.com/assets/487948/13546890/c0795f40-e270-11e5-96e4-034d8d2160ce.png)

[2016-03-05 09:28] drew-gross commented on #53
OK, I guess it's time to dig into the code. Can you open `dashboard/Dashboard.js` and on line 145 replace `'unable to connect to server'` with `JSON.stringify(error)` and then refresh the dashboard and tell me what the new error is?

[2016-03-05 09:30] kilabyte commented on #53
Server not reachable: {"code":100,"message":"XMLHttpRequest failed: \"Unable to connect to the Parse API\""}

[2016-03-05 09:40] drew-gross commented on #53
That is what I would expect if your Parse Server was not running, but it must be running if your cURL succeeded. What URL are you accessing the dashboard on? `localhost:4040`? You don't have anything in your `hosts` file that lets you visit other domains but still have them be `localhost`, do you? Also, can you open the Chrome Debugger, and on the Network tab, find the failing `/serverInfo` reques

[2016-03-05 09:43] kilabyte commented on #53
Well i won't be able to make a local host request from my browser as my computer and VPS reside on different networks and i can't vpn to my vps

[2016-03-05 09:49] chatpongs commented on #48
I figured it out. It seems Heroku doesn't terminate SSL but the app itself doesn't feel secure running behind the proxy. What I did is adding this statement

app.enable('trust proxy');

at line 13. And that's it. I can confirm this works for Heroku and Dokku

[2016-03-05 09:53] drew-gross commented on #53
I think I see your issue. You have the dashboard and server running on the same VPS, and you are loading the dashboard from your VPS via some method that give your VPS a URL that you can access from your browser. But since your `serverURL` is set to `localhost` in your config file, your browser then tries to access `localhost` which goes to the `localhost` of the machine your browser is running on

[2016-03-05 09:58] kilabyte commented on #53
right but the config file for the parse-server is set to localhost. and that would be correct since the file resides on the VPS its referencing itself. if parse-dash is also running on the same VPS and its config has localhost in it then it should still reference the VPS machine and not my personal local machine no diff then how parse-server is accessing localhost? or have i just lost all hope at

[2016-03-05 10:00] drew-gross commented on #48
Note that the 'trust proxy' line causes express to trust the request headers, which can be spoofed by an attacker. If you are doing this, make sure to have a username and password enabled for your dashboard, and make sure you are only entering the username and password over https. (The auth is HTTP Basic Auth so if you enter your password over http, your password will be transmitted in clear-text)

[2016-03-05 10:04] drew-gross commented on #53
The `npm run dashboard` command starts a small express app that sends the config file to the browser (and validates your username, password, and https). Once the browser has the config file, it sends requests to the serverURL(s) in the config file. If that URL is `localhost`, it will send requests to `localhost` which is the `localhost` of the machine the browser is running on.

[2016-03-05 10:07] kilabyte commented on #53
Ah gotcha. thanks for clearing that up and sticking through it haha :+1:  :+1:

[2016-03-05 10:07] #53 closed

[2016-03-05 10:11] drew-gross commented on #53
No worries! I'm glad people are using the dashboard. I'm surprised at the number of people trying to deploy the dashboard to heroku or other remote services, I personally quite prefer the local experience. I'm going to open an issue to improve teh heroku experience, hopefully someone will pick it up :)

[2016-03-05 10:14] kilabyte commented on #53
That would be great! Im basically building both one instance on heroku and one on the VPS while i evaluate which rabbit hole to go down.

[2016-03-05 10:15] drew-gross opened #54 "Improve the dashboard experience when deploying to Heroku or other remote machines"
Currently, deploying the dashboard to Heroku or similar services is awkward because we go to great lengths to ensure people don't accidentally leak their master key. This is useful, but can also make deploying difficult due to early SSL termination, untrusted proxies, and so on.

This would be a good first PR for someone new to the dashboard, but probably not so much to someone who is new to web s

[2016-03-05 10:15] drew-gross commented on #48
Replacing this issue with #54

[2016-03-05 10:15] #48 closed

[2016-03-05 10:34] TG908 opened #55 "Parse for people without a parse account?"
Will it ever be possible for people that don't have a parse account to use parse dashboard or parse server?

[2016-03-05 11:00] charlyBerthet opened #56 "SyntaxError ?"
Hi, I follow all the steps and when I would like to run the dashboard, I got these errors :

Could you explain me what I missed ?
Thanks

[2016-03-05 13:35] flovilmart commented on #51
These are the Google app engine deployment temporary folders

[2016-03-05 13:37] fson opened #57 "Open source license?"
It's fantastic that the source code for the dashboard has been made available to developers. But the current [license](https://github.com/ParsePlatform/parse-dashboard/blob/505d4a550f72e0c16e22ec9f136b36a7b5af3478/LICENSE) is not an [open source license](https://opensource.org/osd), because it doesn't allow distributing modifications of the software.

From the [introduction blog post](http://blog.

[2016-03-05 15:03] flovilmart commented on #55
This is completely possible! You don't need a parse account at all to start using either of those.

[2016-03-05 15:06] peterdotjs commented on #56
@charlyBerthet the error is related to babel. Can you confirm which versions of babel-core and babel-loader you are running?

[2016-03-05 15:27] TG908 commented on #55
I just wasnt shure where i would get these from:
`{
  "apps": [
    {
      "serverURL": "http://localhost:1337/parse",
      "appId": "myAppId",
      "masterKey": "myMasterKey",
      "appName": "MyApp"
    }
  ]
}`

[2016-03-05 15:31] flovilmart commented on #55
This is the configuration for parse-dashboard.
You can set your appId and masterKey to anything you want, and your appName too.

Once you set that on the dashboard, start a parse-server following the documentation with the according keys.

Just make sure you keep your master key private, and not shared with anyone.

[2016-03-05 15:36] TG908 commented on #55
Thank you very much that'll do it!

[2016-03-05 15:36] #55 closed

[2016-03-05 15:36] peterdotjs commented on #4
closing for now unless there is more usage in PIG.

[2016-03-05 15:36] #4 closed

[2016-03-05 15:48] ldmtam opened #59 "npm install failed"
I download the zip file from github, then extract it and run "npm install" but i get this error. Can anyone help me out? Thanks in advance.

![untitled](https://cloud.githubusercontent.com/assets/8778071/13548495/5e427956-e324-11e5-970f-6e26f81fa35c.png)

[2016-03-05 15:49] flovilmart commented on #59
You should clone the repository instead of downloading the zip!

[2016-03-05 15:51] durunvo opened #60 "How to create Config in Core menu"
I'm just wonder if this project can also browse config in core menu as well as analytic or push menu?

[2016-03-05 15:57] ldmtam commented on #59
But when i try to clone the project, i have another error. Please help me fix it. Thanks
![untitled](https://cloud.githubusercontent.com/assets/8778071/13548550/7e6c5ed0-e325-11e5-8c72-d696a70b5753.png)

[2016-03-05 15:59] otymartin commented on #51
@drew-gross @flovilmart thanks. Will try reinstalling in separate folder

[2016-03-05 16:01] charlyBerthet commented on #56
I just `npm install babel-loader` and `npm install babel-core`.

Version are :
`{
  "name": "babel-loader",
  "version": "5.3.3",`

AND

`{
  "name": "babel-core",
  "version": "5.8.35",`

But the command `npm run dashboard` is still not working :/

[2016-03-05 16:01] #54 closed

[2016-03-05 16:02] durunvo commented on #59
you need to setup your RSA key for github

try follow
https://help.github.com/articles/generating-an-ssh-key/

[2016-03-05 16:09] peterdotjs commented on #56
What node version are you using?

[2016-03-05 16:10] ldmtam commented on #59
Thanks @flovilmart and @durunvo, I have cloned and run the repository successfully.

[2016-03-05 16:12] charlyBerthet commented on #56
npm ERR! Darwin 14.5.0
npm ERR! argv "node" "/usr/local/bin/npm" "run" "dashboard"
npm ERR! node v0.12.0
npm ERR! npm  v3.8.0
npm ERR! code ELIFECYCLE
npm ERR! @ dashboard: `node ./Parse-Dashboard/index.js & webpack --config build.config.js --progress --watch`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the @ dashboard script 'node ./Parse-Dashboard/index.js & webpack --config build.config.

[2016-03-05 16:24] peterdotjs commented on #56
@charlyBerthet we're recommending node `v.4.3`. Once you've updated it should start working

[2016-03-05 16:34] drew-gross commented on #60
Some additional work on Parse Server is needed before we can do Parse Config, but it shouldn't be too much effort. Push would need a medium amount of work on Parse Server for basic push. Analytics would need a lot of work.

[2016-03-05 16:38] drew-gross commented on #51
You could replace the `npm run dashboard` step with a two step process:

[code]

[2016-03-05 16:39] #56 closed

[2016-03-05 16:57] durunvo commented on #60
You say, for now, open source parse server and dashboard is not fully feature compare to parse.com?
correct me if i'm wrong

[2016-03-05 16:58] drew-gross commented on #60
Yes, that is correct.

[2016-03-05 17:49] #60 closed

[2016-03-05 17:55] #59 closed

[2016-03-05 17:57] durunvo opened #62 "upgrade react-router to v2.0.0?"
Since react-router finally bump their version to 2 (not rc).
Any plan on this?

[2016-03-05 18:06] drew-gross commented on #62
I don't personally have any plans to do this, but I would happily accept a PR!

[2016-03-05 20:08] fnberta opened #64 "Blank screen with nginx reverse proxy"
I'm accessing nginx on my server via an SSL connection and passing the request to the dashboard express app via a reverse proxy. The title of the tab gets named "Parse Dashboard" but the screen is completely blank.

My dashboard config is:
[code]

And the nginx proxy config is:
[code]

I'm using a similar configuration for the express app that runs parse-server and that works flawlessly. Any idea

[2016-03-05 20:55] MarsVard opened #66 "What god do we praise for parse-dashboard & parse-server standalone implementations?"

[2016-03-05 22:48] trikiano opened #67 "npm ERR! @ dashboard: `node ./Parse-Dashboard/index.js & webpack --config build.config.js --progress --watch`"
root@ks3270774 [~/parse-dashboard]# npm run dashboard

/root/parse-dashboard/Parse-Dashboard/index.js:34
  .then(config => {
                ^
SyntaxError: Unexpected token >
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Function.Module.runMain (module.js

[2016-03-05 22:49] trikiano commented on #67
problem after `npm run dashboard`

[2016-03-05 22:52] flovilmart commented on #67
It's likely your version of node is too old, update to >= 4.3

[2016-03-05 22:53] mikepaggi opened #68 "fails on node-sass during npm install on ubuntu linux 14.04 LTS"
fails on node-sass during npm install on ubuntu linux 14.04 LTS

[2016-03-05 23:32] Krajiyah opened #69 "Server not reachable: server version too low"
I freshly pulled from this repository for Parse Dashboard and my parse-server module works on heroku...i've been using it with my apps, but I wanted to install the parse dashboard too as a seperate heroku app. Before even trying to push to heroku I get issues locally:

My config file for the parse dashboard has the server url in this format:
http://herokuappname.herokuapp.com/parse

When I check c

[2016-03-05 23:58] trikiano commented on #67
Parse Dashboard can only be remotely accessed via HTTPS

[2016-03-06 00:36] Krajiyah commented on #69
sorry issue was having version 2.1.3 instead of 2.1.4

[2016-03-06 00:36] #69 closed

[2016-03-06 02:27] drew-gross commented on #64
Could you check if your server is responding with the correct files? The dashboard only makes about 5 requests the dashboard app. Also, the dashboard requires the connection to the dashboard be HTTPS (to prevent accidental leakage of the master keys) which may be causing issues. (although I would expect an error message in that case, not a blank page)

[2016-03-06 02:29] drew-gross commented on #68
Have you tried pulling the latest version? We updated the `node-sass` package, which fixed this issue for some people. If not, the `node-sass` package on `npm` has some instructions for fixing issues on Ubuntu: https://www.npmjs.com/package/node-sass

[2016-03-06 02:32] drew-gross commented on #67
Yes, that is to prevent accidental leakage of your master key over http. I'm going to close this, as it sounds like the original problem has been resolved.

[2016-03-06 02:32] #67 closed

[2016-03-06 02:39] hoangtrongphuc opened #71 "push notifications and analytics dashboard"
How to use push notify in parse-dashboard ?

[2016-03-06 02:50] drew-gross commented on #71
Push isn't supported in Parse-Dashboard yet, because it uses a few features that aren't available in Parse.com. We'd happily accept a PR that adds it, and I would be glad to provide pointers to where to look in the code if you are interested in implementing it.

[2016-03-06 02:54] drew-gross commented on #66
A lot of us here at Parse have put a lot of effort into both the server and the dashboard. Thanks for letting us know that you like Parse!

[2016-03-06 02:54] #66 closed

[2016-03-06 03:30] hoangtrongphuc commented on #71
yes thanks for reply, In dashboard folder, i can see analytics folder, but when deploy i can't see this feature. How can i use ?

[2016-03-06 05:38] dcdspace opened #72 "Manage CLPs with Dashboard"
Will it eventually be possible to manage Class Level Permissions in the new dashboard like we were able to previously on the hosted dashboard? This would be a very useful feature. Also great job on this, looks great!

[2016-03-06 08:27] chavanshashank commented on #71
+1

[2016-03-06 08:43] Krajiyah opened #73 "Warning: setState(...): Cannot update during an existing state transition ...."
I ran my parse dashboard with following commands:
`export PARSE_DASHBOARD_ALLOW_INSECURE_HTTP=1`
`npm run dashboard`

I have a semi working parse dashboard, where I can click the first app and it leads me to the next page.

However, when I click the second app....the console on chrome gives me this error and wont let me progress to next page:
Warning: setState(...): Cannot update during an existin

[2016-03-06 09:18] Cliffordwh commented on #64
Identical problem my side. Have HTTPS server and still blank. Title tho says "Parse Dashboard"

[2016-03-06 11:10] fnberta commented on #64
A GET request to https://SERVER_IP/dasboard returns:

[code]
Which is correct I guess? But /bundles/dashboard.bundle.js is not correctly served because /bundles is not piped to the express app but instead handled by nginx, which of course cannot find the file. Changing the path in the index.html to:
[code]
results in the dasboard trying to load but failing with a "404, Oh no, we can't find that pa

[2016-03-06 11:15] charlyBerthet commented on #56
Thank you @peterdotjs  !

[2016-03-06 11:52] trikiano opened #74 "Parse Dashboard can only be remotely accessed via HTTPS"
Parse Dashboard can only be remotely accessed via HTTPS

i don't have a https in my server
can i desactivate https just for test dashboard

[2016-03-06 14:42] BloomSN opened #75 "Blank screen opening localhost:4040"
Hi,

might be completely stupid question but still, i am trying to set up this on windows server 2012 r2 with npm 3.8.1 and Node.js 4.3.2 all goes well but when i am trying to access dashboard (i have set link to app hosted on parse.com) i get white screen on localhost:4040. Any idea?

Thanks a lot.

[2016-03-06 14:44] greggmojica commented on #71
+1

[2016-03-06 14:44] greggmojica commented on #72
+1

[2016-03-06 15:27] peterdotjs commented on #73
@Krajiyah could you provide the stack trace (expanding the arrow on the left) may or may not be helpful to point to where it is failing.

[2016-03-06 15:29] peterdotjs commented on #75
@BloomSN can you provide a screen shot of any console errors you see in the browser? As well as any logs/errors you see in the terminal that is running the server?

[2016-03-06 15:33] peterdotjs commented on #74
Details of workaround are here: https://github.com/ParsePlatform/parse-dashboard#deploying-in-production

[2016-03-06 15:33] #74 closed

[2016-03-06 15:45] peterdotjs commented on #72
@dcdspace we are missing some endpoints that we had in Parse.com to support CLPs. If you or anyone is interesting in creating a PR we'll gladly point you guys in the right direction.

[2016-03-06 15:46] BloomSN commented on #75
<img width="552" alt="server_remote" src="https://cloud.githubusercontent.com/assets/5353463/13555214/d952faee-e3ba-11e5-8bd7-68f68cb77b74.png">
<img width="575" alt="server_remote" src="https://cloud.githubusercontent.com/assets/5353463/13555218/e9fd8170-e3ba-11e5-99d9-7fd333f93a3e.png">

Here are both screens. Hope it helps, if you need more i will get more :)

Thanks

[2016-03-06 16:08] clonezer opened #77 "npm install failed with Node v5.7"
I've install Parse Server on Digital Ocean and it's run smoothly but when install `parse dashboard` I got this error

[code]

Server details
[code]

[2016-03-06 16:14] thamer898 commented on #71
+1

[2016-03-06 16:25] thamer898 opened #78 "Parse Dashboard"
Hello

When i locate to localhost:4040 only white screen appear can you help me please ?

Regards

[2016-03-06 16:36] peterdotjs commented on #78
Likely a duplicate of #75

[2016-03-06 16:43] thamer898 commented on #78
Hello

How to solve this issue @peterdotjs ? can you help me

Regards

[2016-03-06 16:44] peterdotjs commented on #77
Related to an older version of `sass-loader`. I'll add a PR to update the version.

[2016-03-06 16:47] peterdotjs commented on #78
@thamer898 can you verify from your browser console that you're getting the same error? If so please close this issue and ref #75 for tracking.

[2016-03-06 16:52] thamer898 commented on #78
Hello

yes i get the same error ?

Regards

[2016-03-06 16:54] #78 closed

[2016-03-06 16:55] thamer898 commented on #75
Hello

now i get this error "Your parse‑dashboard‑config.json file contains invalid JSON."

Regards

[2016-03-06 16:56] thamer898 opened #79 "invalid json file in parse dashboard ?"
Hello

now i get this error "Your parse‑dashboard‑config.json file contains invalid JSON."

Regards

[2016-03-06 16:56] peterdotjs commented on #73
@Krajiyah I'm able to repro the issue locally. I'll give an update once I've found what went wrong.

[2016-03-06 17:06] peterdotjs commented on #79
@thamer898 please check `parse‑dashboard‑config.json` and ensure that is is valid JSON. This is a valid error.

[2016-03-06 17:06] #79 closed

[2016-03-06 17:12] thamer898 commented on #79
Hello

still the same error .

Regards

[2016-03-06 17:37] durunvo opened #81 "Cloud code doesn't show up in dashboard?"
I ran local parse-server-example project. It comes with sample cloud code but it does not appear in dashboard. Unlike project from parse.com, it shows everything in core menu as in parse.com has.

Any idea on this?

[2016-03-06 17:47] aweary opened #82 "use shouldComponentUpdate on stateful components"
I looks like there's only [one component](https://github.com/ParsePlatform/parse-dashboard/blob/b7efb406769eeb9c586225060167a5e045299b80/src/dashboard/Push/PushAudiencesData.react.js) that uses `shouldComponentUpdate`.

React provides the `shalowCompare` addon which provides functionality similar to the `react-addons-pure-render-mixin` for ES6 classes.

https://facebook.github.io/react/docs/shallo

[2016-03-06 18:23] thamer898 opened #83 "Dashboard error"
![error](https://cloud.githubusercontent.com/assets/17239124/13556050/2ecfa684-e3d9-11e5-96cc-9b12ea5504cb.PNG)

this happen when i locate localhost:4040 ?

[2016-03-06 18:34] flovilmart commented on #83
That's because your JSON file is not a valid json. Refer to the README.md and make sure your file is properly formatted.

[2016-03-06 18:34] #83 closed

[2016-03-06 18:37] thamer898 commented on #83
Hello

Thank you very much it works .

regards

[2016-03-06 18:39] thamer898 opened #84 "error at main page"
![error](https://cloud.githubusercontent.com/assets/17239124/13556159/73e90cf4-e3db-11e5-9ee5-d8b8c05cc5f6.PNG)

this error appear "server version is too low " please help me .

[2016-03-06 18:41] peterdotjs commented on #84
@thamer898 you need to be using `parse-server` version `>= 2.1.4`. This info is on the README.

[2016-03-06 18:41] #84 closed

[2016-03-06 18:44] thamer898 commented on #84
Hello

How to update my parse server ?

Regards

[2016-03-06 19:05] peterdotjs commented on #82
@Aweary thanks for bringing this up!

As the add on is still considered experimental I'm hesitant to add it in our other components for a perf gain which may be unnoticeable for end user.

[2016-03-06 19:11] drew-gross commented on #64
the 404 is because there is no `/dashboard` route. The routes are the same as on `dashboard.parse.com`. Try `/apps`.

[2016-03-06 19:14] Aweary commented on #82
Have you guys done any performance testing using the `react-addons-perf` package? I well implemented `shouldComponentUpdate` function can have a very noticeable impact on performance in some cases.

React considers essentially all their addons experimental from what I can see, in the sense that they are more likely to change on a more frequent basis. Even `PureRenderMixin` is considered experiment

[2016-03-06 19:15] drew-gross commented on #75
I've seen this issue before, it's due to the express app serving `index.html` even when the request is for `dashboard.bundle.js`. I haven't had the chance to track down the error yet.

[2016-03-06 19:18] drew-gross commented on #81
Parse Server is missing some endpoints that are necessary to view Cloud Code. Adding them to Parse Server would probably be a good first PR :) I could give you some pointers if you are interested! (You would also need to make a small PR to Parse Dashboard)

[2016-03-06 19:20] drew-gross commented on #79
Try pasting your JSON file into a JSON validator.

[2016-03-06 19:22] thamer898 commented on #79
thank you it works @drew-gross but i have a problem that i cone the parse server from parse server example repository so i want to upgrade my parse version to be 2.1.4 in order to run parse Dashboard can you help me with that please ?

[2016-03-06 19:31] peterdotjs commented on #82
Yup they're all considered experimental and agreed that it doesn't equate to being unstable. My hesitancy is more from ensuring we've proved there are noticeable benefits before adding it in.

We haven't done much performance testing but if we can show performance improvement in the component heavy pages (data browser for one) we would totally be open to using it :)

[2016-03-06 19:32] drew-gross commented on #79
You just need to update the `parse-server` line in your project's `package.json` and then run `npm install` again.

[2016-03-06 19:32] peterdotjs commented on #77
@clonezer could you pull the latest and test it out?

[2016-03-06 19:37] thamer898 commented on #79
can you give me a sample example @drew-gross please note that i update the line like this "
    "parse-server": "~2.1.4"  but when i hit npm install the screen stuck ?

[2016-03-06 19:41] flovilmart commented on #75
Should be fixed with #76

[2016-03-06 19:44] thamer898 commented on #75
@flovilmart how to update parse server example to be 2.1.4 without any errors ?

[2016-03-06 19:45] drew-gross commented on #79
That is the correct method. If `npm install` is stuck, that sounds like a problem with `npm`.

[2016-03-06 19:47] thamer898 commented on #79
i will try your method again , please give me a minute .

[2016-03-06 19:48] vjeux opened #87 "Moving things around broke tweet"
Turns out that one of my tweet got super popular and just stopped working :(

https://twitter.com/vjeux/status/706128843015237632

Sorry I didn't use a hash instead of master. It's winding down but still have some decent traffic. Not sure if worth moving back for a day though. Your call

[2016-03-06 19:49] thamer898 commented on #79
okay i update the version to be ~2.1.4 but this error appear "you must provide server url" ? kindly advice .

[2016-03-06 20:06] #87 closed

[2016-03-06 20:08] drew-gross commented on #79
You need to make sure you include the server URL in the configuration of your parse server. You probably want to use `http://localhost:<%your_port%>/<%your_mount>%`

[2016-03-06 20:10] thamer898 commented on #79
i used this serverURL: 'http://localhost:1337/parse' but many errors occur if you need i will screenshot it  .

[2016-03-06 20:12] drew-gross commented on #79
Yes I will need to know what errors you are seeing and see your full configuration before I can help.

[2016-03-06 20:14] thamer898 commented on #79
![error](https://cloud.githubusercontent.com/assets/17239124/13556682/bfd24e48-e3e8-11e5-96a7-289f01e4466b.PNG)

kindly see it

[2016-03-06 20:15] drew-gross commented on #79
That is a syntax error. Maybe you forgot to put a comma at the end of this line, or at the end of the previous line?

[2016-03-06 20:18] thamer898 commented on #79
thank you very much @drew-gross  you are great this what i missed a comma thank a lot for your help .

[2016-03-06 20:21] clonezer commented on #77
Thank you @peterdotjs  but I still got error
![screen shot 2559-03-07 at 3 17 20 am](https://cloud.githubusercontent.com/assets/582587/13556717/58cbab88-e413-11e5-9f9e-644ed529baf6.png)

[2016-03-06 20:24] dcdspace commented on #72
@peterdotjs yes please that would be appreciated. Is it as simple as interacting with the SCHEMA collection in the database or is there more to it?

[2016-03-06 20:24] flovilmart commented on #72
@peterdotjs can you put a GIST with the spec for that API?

[2016-03-06 20:29] peterdotjs commented on #77
@clonezer looking at it closer - it's not a direct dependency that is failing. It's node-sass -> gaze ->  globule -> glob -> graceful-fs. We don't have any control over the dependencies our dependencies use.

Is it possible for you to use `node ~4.3`?

[2016-03-06 20:30] dcdspace opened #89 "Best way to update?"
This may be a trivial question, but is the best way to update Parse Dashboard just by pulling the repo again? No other configuration needed? This isn't an npm module like Parse Server so it is updated differently right?

[2016-03-06 20:32] peterdotjs commented on #89
For now pulling from master would be the easiest way to get the latest. In future we'll be publishing npm module versions.

[2016-03-06 20:43] drew-gross commented on #72
@flovilmart @dcdspace actually the original CLPs endpoint went through parse.com/apps instead of api.parse.com so there is no spec. We'll need to come up with a new API for this one. I think it would be nice to put it into the Schemas API, but I'd be glad to hear other ideas :). If schemas API is what we want to go with, the files you will need to modify to create the endpoint are in Parse Server:

[2016-03-06 20:56] peterdotjs commented on #77
@clonezer looking closer there are several node_modules further down their dependency tree which use an older version of `graceful-fs`. A workaround is to use `node version ~4.3` until we figure out how if possible to resolve this.

[2016-03-06 20:56] BloomSN commented on #75
Great the fix works :) Thanks

[2016-03-06 21:04] #75 closed

[2016-03-06 21:16] #89 closed

[2016-03-06 21:21] dcdspace opened #90 "Unable to upload files"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [√ ] You're running version >=2.1.4 of Parse Server.

- [ √] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Parse Ser

[2016-03-06 21:45] drew-gross commented on #90
This actually looks like a Parse Server issue, it seems like Parse Server isn't issuing the correct headers for file uploads.

[2016-03-06 22:04] amirfarazmand opened #91 "Uncaught SyntaxError: Unexpected token <"
I get this error:
Uncaught SyntaxError: Unexpected token < dashboard.bundle.js:1

and when I check under Parse-Dashboard this file is missing:

/bundles/dashboard.bundle.js

[2016-03-06 22:12] drew-gross commented on #91
This should be fixed by #65 try pulling the latest version and see if that helps.

[2016-03-06 22:13] Aweary commented on #82
I have a feeling that it would definitely bring some performance gains, but I haven't tested it either. I'll try to get a report up when I get a chance.

[2016-03-06 22:28] amirfarazmand commented on #91
Excellent Drew. Thanks

[2016-03-06 23:12] #91 closed

[2016-03-06 23:52] Krajiyah commented on #73
Here is full strack trace:

Warning: setState(...): Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.warning @ dashboard.bundle.js:18835getInternalInstanceReadyForUpdate @ dashboard.bundle.js:22556ReactUpdateQueue.enqueueSetState @ dashboard.bundle.js:22697ReactComponent.setState @ dashboard.bundle.js:32559(ano

[2016-03-07 03:37] durunvo commented on #81
parse-server on parse.com and on github is not same version?

[2016-03-07 03:52] peterdotjs commented on #81
`api.parse.com` that runs in production and `parse-server` on github are completely separate implementations.

[2016-03-07 04:14] durunvo commented on #81
@peterdotjs  wow! that is why!, thank you for clarify me

[2016-03-07 05:35] senpng commented on #71
+1

[2016-03-07 08:21] hjgabrielsen opened #94 "Question: Why do you only release 50% of parse, when you know that 90% is forced to leave anyways - because parse-server (for now) is unusable for most users."
I really don't get you guys, You announce that you are helping people move on, but really, you are just making the breakup harder by abandoning customers with 1/2 a product.

[2016-03-07 10:26] kenglou opened #96 "How to make https for parse dashboard?"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ yes] You're running version >=2.1.4 of Parse Server.

- [ yes] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Ubunt

[2016-03-07 14:15] rblalock commented on #94
I disagree.  What Parse is doing is awesome and very helpful.  They didn't have to do any of this but they are and the result is a decent community contributing to the parse server, etc.

[2016-03-07 14:17] flovilmart commented on #94
@hjgabrielsen you're welcome to help us do the last 50%. As we discussed over (here)[https://github.com/ParsePlatform/parse-dashboard/pull/63]

From @drew-gross from ParseHQ

[2016-03-07 14:19] #94 closed

[2016-03-07 14:20] flovilmart commented on #96
If you're sure of what you're doing, you can use --allowInsecuretHTTP=1 or set the env variable PARSE_DASHBOARD_ALLOW_INSECURE_HTTP=1

[2016-03-07 14:29] gfosco commented on #94
I'd encourage some patience.  It's been 39 days and we've come a long way.  Nothing is being abandoned.  695 commits by 49 contributors since launch, 298 pull requests...  It's a fast-moving and growing community.

See https://medium.com/@newfosco/parse-2-0-600839abebdf and http://blog.parse.com/announcements/what-is-parse-server/

[2016-03-07 14:30] hjgabrielsen commented on #94
Look, Why didn't parse release everything?! : (Jobs, Push, Dashbord, CloudCode support) to begin with (They're not going to use it anyways) - instead they are  letting DEVs build the rest themselves? (Something that already exists) (The reason why Facebook didn't abandon all their 600.000 DEVs completely - is because they didn't want to end up in a giant shitstorm. so thy're giving us a lollypop t

[2016-03-07 14:32] ronaldo-getreveel commented on #96
Or you can use LetsEncrypt and generate your certificates for apache server (its opensource and free).

https://letsencrypt.org/

[2016-03-07 14:33] ronaldo-getreveel commented on #71
+1

[2016-03-07 14:35] rblalock commented on #94
Things like jobs and cloud code have to be taken in to account in the way parse-server works.  It's not just a matter of magically releasing something that already existed...it has to be released in a way that works with parse-server.

[2016-03-07 14:36] flovilmart commented on #94
I can tell you that the whole parse team is full time on improving the server and dashboard.
Push and CloudCode are implemented, there are alternatives opening to run cloud code on a separate server if you're worried about scaling.
Dashboard is available too! https://github.com/parseplatform/parse-dashboard

As for Jobs, heroku has a worker API that is designed just for that, AWS provides workers

[2016-03-07 15:26] krishnakumarcitrus opened #97 "Dashboard shows https error even after we created https url"
#### Environment Setup
We set up https using NGINX and tried remote access, but still the error "Parse Dashboard can only be remotely accessed via HTTPS" is shown.

Do you know where i might have gone wrong?

[2016-03-07 15:33] flovilmart commented on #97
See [here](https://github.com/ParsePlatform/parse-dashboard#deploying-in-production) there is a way to bypass the https problem if you have your https handled with a proxy

[2016-03-07 15:33] #97 closed

[2016-03-07 16:25] aweary opened #98 "Move lib/PropTypes into its own repo?"
I really like what you guys have with [`src/lib/PropTypes.js`](https://github.com/ParsePlatform/parse-dashboard/blob/master/src/lib/PropTypes.js), especially the `describe()` option.

Would you be open to moving this to a separate repo so others could use it in their own projects?

Thanks! :tada:

[2016-03-07 16:29] talkaboutdesign opened #99 "Clicking Class name displays no results. Database has records."
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [YES ] You're running version >=2.1.4 of Parse Server.

- [ YES] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup

Loca

[2016-03-07 17:01] TGIO commented on #81
@drew-gross please give some pointers ^^

[2016-03-07 18:02] peterdotjs commented on #73
@Krajiyah could you pull the latest and execute `npm run dev` and provide some more detailed stack information again.

This will help point to the file and line of the error. It would also be helpful if you provide a screen shot of the debugger/console/network.

[2016-03-07 18:07] drew-gross commented on #81
@TGIO `parse-dashboard` already supports viewing cloud code, so there probably won't be any changes necessary in the dashboard (unless the format of the new endpoint differs from the one on Parse.com) Parse Server will need to have two endpoints added: the `/releases/latest` endpoint, and the `/scripts` endpoint. I've opened ParsePlatform/parse-server#895 which describes what is necessary.

[2016-03-07 18:10] drew-gross commented on #96
Thanks @ronaldo-getreveel! I'd also recommend LetsEncrypt for https. You can also run the dashboard locally, which doesn't require https.

[2016-03-07 18:10] #96 closed

[2016-03-07 18:14] drew-gross commented on #97
For some more detail, the server requires https to the node instance directly. Early SSL termination is secure, but the node instance doesn't know that, so if you are using early SSL termination, you need to tell the node instance that it's OK to use HTTP.

[2016-03-07 19:39] drew-gross commented on #99
That error probably means the problem is with the server. Can you check what the request being sent to the server is, and what the response is? I'm going to close this and suggest that you re-open the issue on the Parse Server repo, but feel free to reopen this if it does turn out to be a dashboard issue.

[2016-03-07 19:39] #99 closed

[2016-03-07 20:04] alyssoncm commented on #71
+1

[2016-03-07 20:26] gateway opened #100 "NPM Warn on OSX.."
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ x] You're running version >=2.1.4 of Parse Server.

- [ x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
OSX El Ca

[2016-03-07 21:14] gateway opened #101 "Access Denied to photos"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ x] You're running version >=2.1.4 of Parse Server.

- [ x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
parse das

[2016-03-07 21:20] peterdotjs commented on #100
Duplciate of #77

[2016-03-07 21:20] #100 closed

[2016-03-07 21:21] andresgarza opened #102 "Update npm package/registry"
The package in npm's registry is still 0.0.1.

[2016-03-07 21:26] meoz commented on #71
+1

[2016-03-07 22:07] drew-gross commented on #102
We are still discussing how we want to manage versions and distribution in the Dashboard. Unlike Parse Server, there should never really be a reason not to be on `master`, and we'd like to avoid a scenario where lots of people are missing out on useful features because they haven't upgraded. Happy to hear the communities input on this one!

[2016-03-07 22:41] gateway opened #103 "Suggestion: Server URL, APP ID, Master Key display?"
It would be nice to maybe see these in the main dashboard or well eventually the full config.. but here is the area im talking about.

![image](https://cloud.githubusercontent.com/assets/519563/13585783/a7a8c9c0-e472-11e5-89aa-64548cb01952.png)

[2016-03-07 22:45] drew-gross commented on #103
Good idea! This would be quite simple to implement, want to take a crack at it?

[2016-03-07 22:46] gateway opened #104 "Browser Warning in Console - getDOMNode or findDOMNode inside its render(). render()"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x ] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
running da

[2016-03-07 22:50] ericlw commented on #57
It is very peculiar the current license doesn't specify anything about derivative works. With 64 forks as of time of writing, something to the effect of "with or without modification" would alleviate concerns.

[2016-03-07 23:00] gateway opened #105 "Array of Pointers issue with displaying data"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ x] You're running version >=2.1.4 of Parse Server.

- [x ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
OSX Dashb

[2016-03-07 23:08] drew-gross commented on #105
That looks like pointer is getting inflated into an object at some point, when it shouldn't be. This might be an issue with Parse Server. Can check the console and show the response to the classes/_User request? I want to to determine if the server is inflating when it shouldn't or if the dashboard is doing the inflation.

[2016-03-07 23:08] peterdotjs commented on #103
we should probably leave out master key or at least make it only visible when clicked.

[2016-03-07 23:25] gateway commented on #105
Its pretty huge, and looking at the data in the friendsUsingTheApp it seems to be recursively returning their friends in the app etc..

Note this is a test app only 3 users, and each of us are friends.. so I'm friends with Ben and Alex and them with me etc.

So instead of seeing this which worked in the old dashboard

`[{"__type":"Pointer","className":"_User","objectId":"eLNmQ8vx39"},{"__type":"Po

[2016-03-07 23:27] drew-gross commented on #105
That does look like an issue. Does it happen with all arrays of pointers, only arrays of pointers to users, or only to this specific column? A short script or set of steps that reproduces the issue would be very helpful in finding the root cause.

[2016-03-07 23:33] Apptation commented on #71
+1

[2016-03-07 23:34] drew-gross commented on #103
Yep, kinda like the settings/keys page from dashboard.parse.com. That could potentially be revived in Parse Dashboard, but that would need quite a bit more work.

[2016-03-07 23:37] gateway commented on #105
@drew-gross well its in swift in our iOS app.. I can paste the function.. but I would assume doing this in php or js wouldnt be to hard.. Loop though 3 existing users and add them as an array of pointers.. granted we get all the other users data in the browser, their access token, etc.. as you can see above.. thoughts?

[2016-03-07 23:44] gateway commented on #103
Yea, I was just suggesting an easy way to see a *few* things.. esp the url's to my server's etc.. just a thought

[2016-03-07 23:48] drew-gross commented on #103
Server URL does seem like the most useful, yeah

[2016-03-07 23:52] drew-gross commented on #105
OK, I've managed to reproduce the issue. This does seem to be an issue with the dashboard, and not the server. I'll look into a fix.

[2016-03-07 23:55] gateway commented on #105
:+1:

[2016-03-08 05:59] andresgarza commented on #102
I agree we should always be on master. That said, we are either going to have to `git pull` the latest changes or update the npm package.

Also, while in the perfect world `master` is always stable, there's bound a time when it breaks this or that feature. In these scenarios, I find npm's versioning way easier than rolling back to a particular commit.

If using npm, docs could even suggest to uset

[2016-03-08 08:02] cristiursachi commented on #57
+1 for an open source license, such as the BSD license that Parse Server is licensed with.

[2016-03-08 13:53] darkkiss commented on #71
+1

[2016-03-08 13:59] talkaboutdesign opened #106 "Hide/Unhide Columns in Data Browser"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!
- [X] You're running version >=2.1.4 of Parse Server.
- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.
#### Feature

Would be a neat feature

[2016-03-08 15:18] peterdotjs commented on #106
@talkaboutdesign thanks for bringing up the feature request. Having a hide/unhide option would be nice for classes that have lots of columns. Clicking on the field currently toggles the ascending and descending order so collapsing the a specific column would need to be in a right click context menu or another option in the edit menu.

If you're interested in contributing I can point you in the rig

[2016-03-08 19:10] ronaldo-getreveel opened #108 "Deploy in Production - NPM module broken"
The tutorial about deploy parse dashboard in production is not working.
The parse-dashboard npm module seems to be broken.
The node_modules/parse-dashboard contains only its package.json

#### Environment Setup
Node v5.7.1
OSx El Capitan 10.11
Parse server 2.1.4

#### Steps to reproduce
[code]

#### Logs/Trace

[code]

[2016-03-08 19:13] peterdotjs commented on #102
I think @andresgarza does make a good point with stability. Even if we choose not to use `npm` we should add release tags for good points to roll back to if there are any issues.

[2016-03-08 20:11] drew-gross commented on #108
Whoops, the npm package hasn't been published. I've removed that section of the readme. In the meantime, we are discussing how to best work with npm in #102

[2016-03-08 20:11] #108 closed

[2016-03-09 04:03] drew-gross commented on #90
This if fixed by ParsePlatform/parse-server#876 and the fix will be available in the next server version.

[2016-03-09 04:03] #90 closed

[2016-03-09 04:31] #105 closed

[2016-03-09 10:44] #62 closed

[2016-03-09 10:45] durunvo commented on #62
has been merge in #107

[2016-03-09 14:59] Cliffordwh commented on #64
@fnberta You manage to find a fix for this?

[2016-03-09 16:27] gateway commented on #105
I can confirm this is fixed on my end.. thanks.

[2016-03-09 21:03] devJoshLopez opened #112 "How to put on Heroku"
I just used the heroku install button and installed the parse server and connected to my app. I also tested to make sure I am writing and reading data and I am. Now I want to get the parse dashboard. I have no clue where to start. I am new to all of this. Do I create a new app? Do I find it in the add-ons section. I am lost. Please help. :)

Make sure these boxes are checked before submitting your

[2016-03-09 21:10] drew-gross commented on #112
We are working on some installation methods that will make it easier for you to install on Heroku. Some people have already done it by pushing the dashboard repo to a heroku app, but you have to be careful to make sure to keep your master keys secure. If you aren't comfortable doing that, then I recommend installing and running the dashboard locally until we have a better deployment story for Hero

[2016-03-09 21:14] yuzeh opened #113 "What are best practices for deployment to production?"
Apologies if this question doesn't belong in the right place. Somewhat related to the discussion going on in #102.

I'm trying to deploy parse-dashboard in production, and would love to know what best practices are, and also how other people are doing this.

More specific questions:
* Should it be deployed as a standalone application, or is there a vision to make it mountable on another node webse

[2016-03-09 21:16] devJoshLopez commented on #112
Ok thank you Drew. I appreciate the feedback. I have no clue how to push a repo to heroku so I will try and do a local dashboard. Thanks again.

[2016-03-09 21:57] drew-gross commented on #113
Since the dashboard is still in the early stages, we don't have a clear set of guidelines or desired features for deploying to production. The only absolute requirement is that you make the dashboard accessible over HTTPS only, and require a username and password. This is to prevent the master key from leaking.

Being mountable is one approach, but it's also pretty node specific. This might be fin

[2016-03-09 22:22] guitcastro commented on #64
I am also having this issue as well in the Heroku.

[2016-03-09 23:38] gfosco commented on #64
I think we can address this.  The dashboard is using / to start its paths, so it can only currently be hosted on the root of a URL.  Will work on a PR to use relative paths.

[2016-03-09 23:47] astanton opened #114 "Uncaught SyntaxError: Unexpected token < dashboard.bundle.js (when trying to access from Heroku)"
I saw another post about this in #91 however I have just pulled the latest version of the code so I would think that fix should be in there.

It runs fine when I run it locally with `npm run dashboard` however when I try to run it on the Heroku server with `npm start` like it says to do, this is the error I'm getting.

Any ideas?  Is it something simple I'm missing?

[2016-03-10 00:13] drew-gross commented on #114
Try `npm install` first, or try `npm run dashboard` on Heroku instead of `npm start`.

[2016-03-10 02:13] dcdspace opened #115 "Cannot click on app name"
I just pulled the latest version of the repo, and now I cannot click on my app's name on the dashboard home page. In the console I get the following error: `Uncaught TypeError: Cannot read property 'push' of undefined`.

[2016-03-10 02:15] dcdspace commented on #115
Fixed with `npm install`.

[2016-03-10 02:15] #115 closed

[2016-03-10 02:37] astanton commented on #114
@drew-gross Tried both of those and didn't have any luck with either.

[2016-03-10 04:25] drew-gross commented on #114
That is not what I would expect from `npm install`. Can you post the contents of `package.json` please?

[2016-03-10 04:53] vegidio commented on #64
+1

[2016-03-10 08:23] timchunght opened #117 "Uncaught TypeError: Cannot read property 'push' of undefined"
The newest commit seems to break the dashboard and I am getting this error "dashboard.bundle.js:50332 Uncaught TypeError: Cannot read property 'push' of undefined". This error occurs when I clicked on the app to enter into data dashboard.

The error completely disappeared when I rollback to a previous commit.

Please see screenshot. Thanks.

<img width="1280" alt="screen shot 2016-03-10 at 3 20 28

[2016-03-10 08:28] timchunght commented on #117
Actually, this issue is solved after ``npm install`` after cleaning up vendors. Please close the issue. But I think it will be useful for others who installed the app before the asset compilation step is combined with ``npm install``. Tahnks.

[2016-03-10 08:29] #117 closed

[2016-03-10 09:16] DazChong commented on #114
I found out that the error occurred on incomplete `npm install` mainly due to process killed by insufficient memory.

[2016-03-10 10:33] kenglou opened #118 "unable to connect to server"
My Parse Dashboard keep showing unable to connect.

- [yes] You're running version >=2.1.4 of Parse Server.

- [yes] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Ubuntu Server 14.04 with LAMP
Parse Server 2.1.4
Parse Dashboard 2.0.0(i se

[2016-03-10 10:58] AmbroiseCollon opened #119 "Cannot edit User row"
I have been trying parse dashboard open source. And old hosted dashboard too. I've set them up so that they both access the same app hosted on heroku +mongodb. They both works fine.

On my User class, I've added an `index` column of type `Number`. I tried to edit my User manually in the dashboard to give each one an incrementing index. I've done it several times on open source dashboard and when I

[2016-03-10 11:07] kenglou commented on #118
by the way, I'm able to setup the server and use the https://[local server address]:1338/parse and create an object at the mongodb that i had setup.

[2016-03-10 12:16] meoz commented on #112
@drew-gross Can you elaborate on what you mean by 'make sure to keep your master keys secure' ?
I suppose the parse dashboard runs in an app on the heroku servers, just like the parse-server application is running on the same heroku servers. So how would the master keys possible be leaking out ?

[2016-03-10 14:56] felipemobile commented on #64
Same issue on an EC2 nano instance and OS X El Capitan 10.11.3 both running Node.js 4.3.2

[2016-03-10 15:14] batkov commented on #118
+1

[2016-03-10 15:44] GPack1 opened #120 "ERROR in ./dashboard/index.js and blank page"
executing dashboard script I get an error and script stays running on terminal but
I get a blank page on http://localhost:4040

**#### Environment Setup**
Ubuntu 14.04
MongoDB and Parse-Server working on dev db
parse-dashboard 2.0.0

**#### Steps to reproduce**
execute npm run dashboard

**#### Logs/Trace**

[2016-03-10 15:58] peterdotjs commented on #120
@GPack1 can you try removing `node_modules` and run `npm install` again? It sounds like an issue with babel in your env.

[2016-03-10 16:00] peterdotjs commented on #119
@AmbroiseCollon can you take a screenshot of the network/console when you try to update? It'll help determine if it's an issue with the server or the dashboard.

[2016-03-10 16:00] drew-gross commented on #118
Is your parse app running on the same machine your browser is running on? Using a localhost URL in the dashboard means the browser will attempt to communicate with a Parse App on the same machine as it, not the same machine as the the one the dashboard is running on.

[2016-03-10 16:08] drew-gross commented on #112
The master keys are stored in a config file on the dashboard app, and that config file is transmitted to your browser when you access the dashboard. A Man In The Middle, listening to your HTTP connection, could capture your master keys.

[2016-03-10 16:13] GPack1 commented on #120
@peterdotjs
done but I get the same error and
these warning on installing:

and these

[2016-03-10 16:45] batkov commented on #118
Yes, parse running on same machine and it is available on same public api with dashboard.
Like:
the-ip:8080 - dashboard
the-ip:1337/parse - parse server

[2016-03-10 17:35] drew-gross commented on #103
#121 adds serverURL. Adding more stuff I think will make the index too crowded, maybe. We could potentially bring back the settings pages if we want to display more stuff. @gateway if you still want more info, open a new issue and we can take a look at some different designs for this page.

[2016-03-10 17:35] #103 closed

[2016-03-10 18:45] felipemobile opened #122 "Cannot GET /1/serverInfo"
Hi, I am setting up parse dashboard on localhost but it's not working properly since the dashboard shows the message: "_Server not reachable: server version too low_"

- [x] You're running version >=2.1.4 of Parse Server.

$ npm info parse-server version
$ 2.1.5

#### Environment Setup
OSX El Capitan 10.11.3

#### Steps to reproduce
git clone https://github.com/ParsePlatform/parse-dashboard.git
cd

[2016-03-10 19:29] fnberta commented on #64
@Cliffordwh No, for the moment I am directly accessing the Express app via SSL. But looking forward to switch back to the reverse proxy when the relative paths land!

[2016-03-10 19:29] drew-gross commented on #122
They do not need to be running on the same machine. Can you check that your mount point is correct? (eg. http://54.94.213.179:1338/1 is the URL you use with your Parse apps and not http://54.94.213.179:1338/parse or http://54.94.213.179:1338/?)

[2016-03-10 19:41] drew-gross commented on #31
Fixed by #123

[2016-03-10 19:41] #31 closed

[2016-03-10 19:54] flessard opened #124 "Delete all rows in collection"
Where is the delete all rows for a collection?

- [X] You're running version >=2.1.4 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

[2016-03-10 22:41] Krajiyah opened #125 "Can't add User columns"
I am running version 2.1.4 of Parse Server via Heroku. For my Parse Dashboard I have that running locally. I have just cloned repo from scratch. I am able to add new classes and edit columns for those fine......However......for the User class, I cant add any columns.

Here is a screenshot including stack trace for after I fill in type and name of the column dialog popup:

![asd](https://cloud.gith

[2016-03-10 22:49] drew-gross commented on #125
Could you tell me why type of column you were trying to add, with what name, and show the response received from the server?

[2016-03-10 22:50] Krajiyah commented on #125
I tried to add a String type with column name "test" and the second red console error in the screenshot is the result I got after I clicked "add column"

[2016-03-10 23:20] felipemobile commented on #122
The mount point is correct:

var api = new ParseServer({
    serverURL: 'http://' + IP + ':' + port + '/1',
    ...
}

[2016-03-10 23:25] drew-gross commented on #122
You also need to mount the Parse API at the correct place (the `app.use` line). Does this URL work with your parse apps?

[2016-03-10 23:27] drew-gross commented on #125
If you look in the network tab of the debugger, it will show you all the requests that have been made since the debugger was opened. Click on the request that failed (to `.../schemas/_User`) and show me the response from the server (preview tab).

[2016-03-10 23:38] peterdotjs commented on #125
@Krajiyah as a note if you run `npm run dev` the debug console will be more useful than the minified bundled resource.

[2016-03-10 23:45] felipemobile commented on #122
Just to help resolving the issue, I'm starting the server using forever to ensure the Parse Serve keep running continuously.

**forever start index.js**

This mount path seems to be working to all API's calls except for the Parse Dashboard.
I've an Android and iOS app executing all essential operations.
....

`var mountPath = '/1';`
`app.use(mountPath, api);`

`// Parse Server plays nicely with th

[2016-03-10 23:50] felipemobile commented on #122
Hmm... it seems like a Parse Server issue.

[2016-03-11 00:07] kenglou commented on #118
yes running in the same machine

[2016-03-11 00:16] drew-gross commented on #122
OK, good to know. I'll close this issue then.

[2016-03-11 00:16] #122 closed

[2016-03-11 00:39] Krajiyah commented on #125
@drew-gross Here is the response (its wierd because the name of the field was not username is was test):
[code]

@peterdotjs Here is a screenshot of debug console after running npm dev run instead of npm run dashboard

![asd](https://cloud.githubusercontent.com/assets/10042218/13689574/b2ec0c3e-e6de-11e5-912d-481f39698778.png)

[2016-03-11 00:51] peterdotjs commented on #125
@Krajiyah this was fixed on parse server version `2.1.5`. Once you update it'll be fixed.

[2016-03-11 00:52] #125 closed

[2016-03-11 00:58] peterdotjs commented on #73
@Krajiyah is this resolved? I'm assuming yes from the other issue you created.

[2016-03-11 02:31] peterdotjs commented on #98
@Aweary just to keep you updated we're looking into making this happen :)

[2016-03-11 02:43] peterdotjs commented on #120
@GPack1 hmm the warnings are fine to ignore. I tried to run using node 5.7 and did not have any issues on OSx. I'll try later with Ubuntu.

It shouldn't matter but for the `npm run dashboard` you don't need `sudo`.

[2016-03-11 02:45] drew-gross commented on #118
Have you been able to connect one of the Parse SDKs to the app?

[2016-03-11 02:53] kenglou commented on #118
yes, and the fun thing is i'm able to create a ParseObject and save to Parse Server.
I'm using Unity3d Plugin aka DotNet Parse SDK.

[2016-03-11 03:08] drew-gross commented on #118
Interesting. The Dashboard just uses the JS SDK so if any SDK can connect on a particular URL, then all should be able to. I'd suggest taking a closer look at your network setup and your URLs.

[2016-03-11 03:37] kenglou commented on #118
What i can think of is I never import any data from Parse Hosted backend into parse test server that i created. will that affect the server?

Currently i try to point the Parse Dashboard server to https://192.168.0.4:1338 and it seems like the following log appear. Anyone has any idea on this?
![screen shot 2016-03-11 at 11 32 43 am](https://cloud.githubusercontent.com/assets/4876665/13692528/20b3

[2016-03-11 04:01] drew-gross commented on #118
That shouldn't affect the server. Your new screenshot show a different error: ERR_SSL_PROTOCOL_ERROR which could mean many things but most likely is a problem with your SSL certificates. As that is unrelated to Parse Dashboard, I don't think I can help you.

[2016-03-11 04:20] kenglou commented on #118
previously i try to configure the server to run 192.168.0.4:1338 in http mode, that's why there are SSL erros.

right now i try to take away all the SSL stuff, and run the parse-dashboard with configuration of http and run the npm start with insecure http and i still have the error message as the first one.

I'm thinking that i had configure my Parse-Server with all the Master Key and Javascript K

[2016-03-11 07:02] DazChong commented on #124
+1 I use mongo to drop collection.

[2016-03-11 07:02] batkov commented on #118
I have different type of error
![screen shot 2016-03-11 at 9 00 54 am](https://cloud.githubusercontent.com/assets/582671/13695498/fe8e2134-e767-11e5-830b-63a705e98e34.png)

[2016-03-11 07:06] DazChong commented on #120
@GPack1 How much is the system memory? Did your `npm install` ended with `Killed` result? If so, it is your system running out of memory and the build is incomplete.

[2016-03-11 07:10] DazChong commented on #118
@kenglou have you tried using parse-server external IP? mine localhost same issue as well but works after I edit the config of serverURL to external IP/domain. It works with HTTPS either

[2016-03-11 07:19] kenglou commented on #118
@batkov  it seems like your sever url in parse-dashboard.config is not set.

[2016-03-11 07:21] batkov commented on #118
Inappropriate screenshot.
So I've set external IP and it worked.
But don't that mean seme kind of issue?

[2016-03-11 07:26] DazChong commented on #118
I believe it was designed to use as an optional web-ui framework that run in local machine and connect to live server. But I build the parse-server and parse-dashboard environment in a VPN for development purpose.

[2016-03-11 07:42] vferdiansyah commented on #120
I have the same problem.

**Environment:**
Ubuntu 14.04
MongoDB and Parse-Server working
Node 4.3.2
parse-dashboard 2.0.0

**Logs:**
[code]

[2016-03-11 07:55] kenglou commented on #118
Problem Solved!

It's the problem that happens when i try to set my server url to a local address url, then i set my apache2 configuration file, then it works @.@lll

Thank DazChong for pointing it out.

@batkov  your problem is solved? if yes then i will close this issue.

[2016-03-11 07:58] batkov commented on #118
@kenglou So you typed some IP instead of "localhost"?
I've made so and it worked

[2016-03-11 08:04] drew-gross commented on #118
Cool, sounds like we are all good here. I guess the confusion is about `localhost` and how the dashboard accesses the server. We'll try to make that more clear.

[2016-03-11 08:04] #118 closed

[2016-03-11 08:34] GPack1 commented on #120
Finally, I removed all and reinstalled the package as  _local_ in the Home and now dashboard works.
While if I install it as _global_ with `-g` option I get :

[2016-03-11 08:43] meoz commented on #112
I see. I'll use it locally until some sort of automatic deployment is put in place like you have suggested.

[2016-03-11 08:51] peterdotjs commented on #120
@GPack1 that's great to hear - I typically reserve using the global flags for modules I'll use across projects - dashboard isn't a case where you would.

@vferdiansyah what errors are you getting in the browser? Running `npm run dev` will produce a better stack trace.

[2016-03-11 11:56] d8815460 commented on #71
+1

[2016-03-11 11:57] alekoleg commented on #71
+1

[2016-03-11 13:20] andremilk commented on #64
I am having the same issue. Actually even if try locally (then no https and bypassing the nginx proxy) I get the Blank page with

    <!DOCTYPE html>
        <html>
           <title>Parse Dashboard</title>
           <body>
               <div id="browser_mount"></div>
               <script src="/bundles/dashboard.bundle.js"></script>
          </body>
      </html>

[2016-03-11 15:04] AmbroiseCollon commented on #119
Here is the request that is shot :

    {"index":2,"_method":"PUT","_ApplicationId":"blablaf","_ClientVersion":"js1.6.14","_MasterKey":blabla","_InstallationId":"blabla"}`

And the headers :
[code]
But it keeps trying but never get a response. Which is weird because it works as I said it works on old hosted dashboard and all similar requests works perfectly on new open source dashboard.

There is

[2016-03-11 16:01] peterdotjs commented on #119
What version of parse-server are you running? By no response are you saying the request is in `pending` state? There were some issues with `_User` in parse server 2.1.4 that were resolved in 2.1.5.

[2016-03-11 16:05] peterdotjs commented on #64
@andremilk for your local issue - can you post more info in #120?

[2016-03-11 16:07] #112 closed

[2016-03-11 16:23] AmbroiseCollon commented on #119
I have indeed an older version of Parse server. How is that linked to my issue though as it works on old dashboard ? Thanks !

[2016-03-11 17:44] peterdotjs commented on #119
Updating may or may not solve the issue but it'll be easier for us to troubleshoot if we're on the same versions. For now until we release a specific version I would recommend using the master branch of the dashboard the latest release version of Parse Server. Once you've updated let me know if you're still getting the issue and we'll go from there.

[2016-03-11 21:32] iatek commented on #94
I felt that way too several weeks ago, but it has really come a long way since. It's very usable and I have had a production app running on my self-hosted parse-server for a week or so. Mostly everything is working for me now.. complex queries, Twitter login, and even the /files api where my files are stored via the Mongo adapter.

[2016-03-11 21:42] flovilmart commented on #94
yeah, stability and feature parity is our main concern now. And we consider deeply every pull request. New features are added almost every week, and more bug fixes come in every day. We're very very close to feature parity. I would not call it 'production ready' only time will tell.

[2016-03-11 22:22] #73 closed

[2016-03-11 22:53] vferdiansyah commented on #120
After I removed `node_modules` and `npm install` again, I can open the dashboard now. But I can't find my app in the dashboard even though I already typed correct information in my config file.

[2016-03-11 23:00] peterdotjs commented on #120
@vferdiansyah  Can you provide a screenshot of what you are seeing as well as any network/console logs.

[2016-03-11 23:15] RafaRuiz opened #128 "Parse Dashboard can only be remotely accessed via HTTPS"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ X] You're running version >=2.1.4 of Parse Server.

- [X ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup

#### Ste

[2016-03-11 23:18] drew-gross commented on #128
Your https url doesn't seem to be connecting properly. I'd suggest either digging deeper into your network setup, or running the dashboard locally.

[2016-03-11 23:29] vferdiansyah commented on #120
![screen shot 2016-03-12 at 06 25 50](https://cloud.githubusercontent.com/assets/12978330/13718304/5d35924a-e81b-11e5-87ef-d5e761ae6b48.png)

**Logs:**
`> parse-dashboard@2.0.0 dashboard /home/user/parse-dashboard

events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::4040
    at Object.exports._errnoException (util.js:870:11)
    at exports._exceptionWithHo

[2016-03-11 23:38] peterdotjs commented on #120
@vferdiansyah hmm could be related the nginx issue. Are you getting any useful logs in the browser console/network?

[2016-03-12 00:19] vferdiansyah commented on #120
After looking at the console, turns out the page can't access my config file. After changing the path now it works just fine. Thanks a lot!

[2016-03-12 00:40] #120 closed

[2016-03-12 01:11] arnorhaux opened #129 "http://localhost:1337/parse/serverInfo 403 (Forbidden)"
- [ x] You're running version >=2.1.4 of Parse Server.
- [ x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup

OSX with node js -> 4.3

#### Steps to reproduce

parse-server-example:
git clone
npm install
export values for process.env.DATAB

[2016-03-12 02:17] drew-gross commented on #129
Can you show what specific curl command you are using? Is it pointed at the /serverInfo endpoint?

[2016-03-12 05:34] r2DoesInc opened #130 ""Server not reachable: server version too low""
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ x] You're running version >=2.1.4 of Parse Server.

- [x ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

I had this working earlier today

[2016-03-12 06:17] r2DoesInc opened #131 "Create new project from dashboard"
Would love to be able to create a project from the dashboard. Currently requires creating it on parse.com, then exporting to parse-server.

[2016-03-12 06:26] r2DoesInc commented on #130
Found the issue. It was actually just due to a misconf on my end on the parse server url. The " server version too low" came from its inability to read from /serverInfo. I would suggest some better error messages there.

[2016-03-12 06:47] drew-gross commented on #130
Thanks for the note. I'm not sure if it will be possible to update the error message, since we can only tell if the server version is too low if the app doesn't respond to /serverInfo. But if you use e.g the wrong mount point, it will just look like the app is not responding to /serverInfo, so it will think the version is too low. If you come up with a better idea for how to tell the difference be

[2016-03-12 06:47] #130 closed

[2016-03-12 06:53] drew-gross commented on #131
We won't be adding the ability to create apps on Parse.com using the dashboard, but it would be pretty neat if some of the infrastructure providers who make it easy to deploy Parse Server added their deploy buttons to the dashboard. In the meantime, [nodechef.com]() has an awesome, tightly integrated setup that gives you a Parse Server and Dashboard together.

[2016-03-12 06:55] r2DoesInc commented on #131
I think I may not have been clear enough there. I mean it would be nice to have a way to create a new app on our parse server instance without having to migrate one from parse.com

[2016-03-12 08:06] drew-gross commented on #131
Ah. You can absolutely create new instances of Parse Server without migrating from Parse.com. What you can't do is run multiple apps on the same server. There are currently many issues in the Parse Server code base that prevent that from being possible.

[2016-03-12 08:06] #131 closed

[2016-03-12 09:13] arnorhaux commented on #129
Hi

This would be directly from the parse-server-example:

curl -X POST \

{"objectId":"PV69meU2HD","createdAt":"2016-03-12T09:02:59.439Z"}

If I curl the serverInfo endpoint from the terminal:

workbook:~ arnorhaux$   curl -X GET \

{"error":"unauthorized: master key is required"}

[2016-03-12 09:15] drew-gross commented on #129
Can you double check the master key? It looks like you are using the wrong one.

[2016-03-12 09:26] peterdotjs commented on #129
@arnorhaux did you make sure to modify the master key in your parse-server-example? https://github.com/ParsePlatform/parse-server-example/blob/master/index.js#L17

[2016-03-12 09:33] arnorhaux commented on #129
I purposely did not alter anything and using the default values in app.json file. I am working my way back to just freshly installed parse-server-example and parse-dashboard on my osx.

For now the values are

APP_ID = "myAppId"
MASTER_KEY = "myMasterKey"

{
  "name": "Parse Server Example",
  "description": "An example Parse API server using the parse-server module",
  "repository": "https://gith

[2016-03-12 09:38] arnorhaux commented on #129
@drew-gross Can you point to where I am using different values in MASTER_KEY ?

[2016-03-12 10:01] nickjf89 commented on #130
I think my serverURL is also the problem. Any suggestions? I am using heroku.

[2016-03-12 12:35] AmbroiseCollon commented on #119
I have updated to 2.1.5 and I still have the issue for all columns. Sorry that I wasn't on the last version.

[2016-03-12 15:53] davidguardiola opened #132 "How to show DB logs on Dashboard"
I want to see info and error logs on dashboard.

Thanks in advance.

[2016-03-12 16:30] peterdotjs commented on #119
Could you provide a screen shot of the the browser debugger network tab? When you said the request was "pending" it sounds like an issue with parse-server but a screenshot would help confirm this.

This request payload you listed above is for adding a new column for user which was the exact issue that 2.1.4 was having. This makes me suspect that 2.1.5 might not be getting picked up.

[2016-03-12 16:34] peterdotjs commented on #132
@davidguardiola this requires some changes to the parse-server /logs endpoint to support this. The schema is slightly different right now and only local file logging is supported. If you're interested in contributing let me know and I can point you in the right direction.

[2016-03-12 17:11] peterdotjs commented on #129
@arnorhaux the app.json values I don't believe are being loaded locally by default. Your `masterKey` value is empty when parse-server is created. Can you try putting `myMasterKey` in the location I specified above? Should be working after you do this.

[2016-03-12 18:27] r2DoesInc commented on #131
Oh I see. Is that something that may be changed in the future?

[2016-03-12 20:22] drew-gross commented on #131
There is some effort going into doing that, but it's not really a priority.

[2016-03-12 22:27] r2DoesInc opened #133 "Unable to delete single rows"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ x] You're running version >=2.1.4 of Parse Server.

- [x ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
https://g

[2016-03-12 23:37] drew-gross commented on #133
I'm unable to reproduce this issue, even using a doubly nested mount point as you are. Could you post your server configuration include the serverURL and mount point, and the serverURL you use in your Parse Dashboard Config?

[2016-03-12 23:42] aryelevin opened #134 "Cannot install on elastic beanstalk as dependency of parse server"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [V] You're running version >=2.1.4 of Parse Server.

- [V] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
I've added

[2016-03-13 00:06] r2DoesInc commented on #133
I will have to come back to this issue as I found that cloud code doesnt work over https with an external address. Am working on getting everything running again with the server located at localhost.

[2016-03-13 00:43] r2DoesInc opened #135 "Unable to connect to server @ https://localhost"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x ] You're running version >=2.1.4 of Parse Server.

- [ x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
localhost

[2016-03-13 00:48] r2DoesInc commented on #135
`{"features":{"globalConfig":{"create":false,"read":false,"update":false,"delete":false},"hooks":{"create":false,"read":false,"update":false,"delete":false},"logs":{"level":false,"size":false,"order":false,"until":false,"from":false},"push":{"immediatePush":true},"schemas":{"addField":true,"removeField":true,"addClass":true,"removeClass":true,"clearAllDataFromClass":false,"exportClass":false}},"pa

[2016-03-13 01:01] jcguarinpenaranda commented on #71
+1

[2016-03-13 01:02] jcguarinpenaranda commented on #72
+1

[2016-03-13 01:15] flovilmart commented on #72
The API is merged and mounted on the schema endpoint

[2016-03-13 01:39] r2DoesInc commented on #133
dash-

what server config do you need? other than the server url its just my keys.

[2016-03-13 02:29] jcguarinpenaranda opened #136 "SyntaxError: expected expression, got '<'"
I am running parse-dashboard with Docker, and I have connected to the url http://172.17.0.3:4040, where the service is running.

I am not able to see anything, and the only console error in Firefox says: _SyntaxError: expected expression, got '<'_, when the navigator tries to fetch the file http://172.17.0.3:4040/bundles/dashboard.bundle.js

When I open the file dashboard.bundle.js I see:
[code]
I

[2016-03-13 03:29] drew-gross commented on #133
Also the mount point (from `app.use`)

[2016-03-13 03:32] drew-gross commented on #134
You will need to clone the dashboard using the instructions in the readme, and then build it (also using the instructions in the readme). It's not set up to be installed via npm yet, although we are working on that.

[2016-03-13 03:32] #134 closed

[2016-03-13 03:35] drew-gross commented on #136
The is usually because the dashboard hasn't been built yet. You can build and run dashboard without docker using the instructions in the readme. Running without docker is the recommended method, actually.

[2016-03-13 03:35] #136 closed

[2016-03-13 03:41] drew-gross commented on #135
ERR_CONNECTION_REFUSED usually means a problem connection the server. It might be an issue with your cert setup. For `localhost`, HTTPS is unnecessary, so I'd recommend simplifying by just using HTTP.

[2016-03-13 05:36] r2DoesInc commented on #135
I cannot load it over http, the dashboard blocks any unsecure content from being loaded.

[2016-03-13 05:48] r2DoesInc commented on #133
https://github.com/yongjhih/docker-parse-server/blob/master/index.js

`// Serve the Parse API on the /parse URL prefix
var mountPath = process.env.PARSE_MOUNT || '/parse';
app.use(mountPath, api);`

I dont define a custom mount point, so its `/parse'

[2016-03-13 05:52] r2DoesInc commented on #135
If there is a way to load the dashboard over https and allow for communication to be done over http to localhost, that would be great., but I get the error.

`Mixed Content: The page at 'https://parse.futurehax.org/' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://pserver.futurehax.org/msz/parse/serverInfo'. This request has been blocked; the content must be served

[2016-03-13 08:48] aristide opened #137 "Can not add custom field to User model"
Hi!!

Is it possible to add a custom field to the built-in User model?

I've tried but nothing happened. I've also tried to add a custom field on others built-in models (Role, Production ..)

[2016-03-13 13:47] omairvaiyani opened #138 "A pop-up to order columns more efficiently"
When classes have too many fields, it becomes really difficult to re-order columns in the current manner (dragging a column horizontally across the page). If a pop-up/modal was shown with just the fields in a vertical, draggable, list - it would be much easier to sort.

Bonus addition would be to export this order as a JSON, and import it to different Parse Apps (useful for development vs. product

[2016-03-13 16:09] peterdotjs commented on #137
Which version of parse-server are you running? Please update to the latest version of parse-server if you are running `2.1.4`. See #125.

[2016-03-13 16:21] peterdotjs commented on #138
We store the order of the columns in local storage so for most users it would be a one time cost. Are you finding yourself reordering frequently?

Using the existing [PIG components](https://github.com/ParsePlatform/parse-dashboard/tree/master/src/components]) you'll be able to build it. I can help point you in the right direction if you're interested in contributing.

[2016-03-13 17:29] MeMTn commented on #71
+1

[2016-03-13 18:22] r2DoesInc commented on #135
Have just confirmed Safari allows me to use http://localhost, but chrome does not allow loading of mixed content.

[2016-03-13 19:37] omairvaiyani commented on #138
Hi @peterdotjs, I do regularly re-order the fields, especially during early development on new projects. I did see the local storage object so I knew it wouldn't be too difficult to adjust. Can you double check that "PIG components" link, it's taking me to a 404. I'll have a crack at building it.

[2016-03-13 20:08] drew-gross commented on #138
I fixed the link.

[2016-03-13 20:12] drew-gross commented on #133
Thats the issue. The parse server expects the server URL passed in the batch delete endpoint (which is used regardless of the number of items being deleted) to match the mount point of the parse server. If you adjust your mount point to be `msz/parse` it should work, although you might also need to modify your subdirectory mapping setup.

[2016-03-13 20:12] #133 closed

[2016-03-13 20:58] drew-gross commented on #135
That dashboard should allow you to use HTTP over `localhost`, it only disallows HTTP when using a remote IP address.

[2016-03-13 21:10] r2DoesInc commented on #135
Oh sorry, i had it configured for the other issue. it gives me the same issue with localhost though.

You can go to 'https://parse.futurehax.org/ and check it out yourself. it doesnt allow anything over http.

[2016-03-14 01:16] shakked commented on #130
I'm very inexperiened with node, what exactly do you mean when you say "inability to read from /serverInfo". I'm having the same issue

[2016-03-14 02:43] zhouhao27 opened #139 "Is push notification UI included?"
I'd like to know if the UI for the push notification will be included in dashboard like what parse.com did?

Thanks.

[2016-03-14 02:44] peterdotjs commented on #130
@shakked did you make sure to have your master key specified in your parse-server to match that of the `parse-dashboard-config.json` ?

[2016-03-14 02:56] peterdotjs commented on #139
See #71.

[2016-03-14 02:56] #139 closed

[2016-03-14 03:01] r2DoesInc commented on #135
Simplified things today and removed the extra mount point.

Tried without http or https and they wouldnt allow that either. I dont know how else to connect to it

[2016-03-14 03:36] drew-gross commented on #135
Ah, I see. You are using a Parse App on localhost/http, but your dashboard is on https on some remote server. I'd recommend running your dashboard on localhost as well if you are running your app on localhost.

[2016-03-14 03:47] r2DoesInc commented on #135
I can access the dashboard itself locally, and it will connect to the server over localhost, but i need to be able to access the dashboard externally. I moved to localhost at the suggestion of this thread https://github.com/ParsePlatform/parse-server/issues/411

[2016-03-14 08:52] json-park opened #141 "npm install error"
I try "npm install" Amazon Linux AMI

However, an error occurred.

Help me~

![default](https://cloud.githubusercontent.com/assets/16973070/13739345/fbe59c0c-ea0d-11e5-8b46-60baf32aaa06.png)

[2016-03-14 09:28] nickjf89 commented on #130
Yes, they match. The odd thing is that when I revert back to a parse server version previous to 2.1.4, the Dashboard says server version too low, BUT my user and installation count are showing. Anything from 2.1.4 upwards and nothing works, and it even screws up my Heroku instance, and my iOS app stops getting data. Very odd.

[2016-03-14 12:04] aristide commented on #137
you are right @peterdotjs , i was running version 2.1..4. I did update to 2.1.6 and now it's working. I can now add and delete custom fields on the User and other built-in models.  You can close this issue.  Tks!!

[2016-03-14 15:37] hjgabrielsen commented on #94
Glad that you guys (and girls) are happy now, but noone has really answered, why parse haven't released everything at once. My best guess it that a lot of what parse was built on - is proprietary code - and not eligble for open-source..

[2016-03-14 15:40] zettlunic commented on #71
:+1:

[2016-03-14 15:41] flovilmart commented on #94
@hjgabrielsen https://github.com/ParsePlatform/parse-dashboard/pull/63#issuecomment-192781437

[2016-03-14 15:51] #137 closed

[2016-03-14 15:54] peterdotjs commented on #141
@json-park this is an issue with your machine instance. Other folks had mentioned that it is related to low  memory. #114

[2016-03-14 16:16] shakked commented on #130
@peterdotjs yes they match

[2016-03-14 16:50] AmbroiseCollon commented on #119
Here you go. Just to be really clear, I'm not adding a column, I am just editing a value in an existing column.
<img width="1440" alt="capture d ecran 2016-03-14 a 17 46 31" src="https://cloud.githubusercontent.com/assets/2622390/13752034/2f5fbb7c-ea0d-11e5-8c3c-b6394c3688f6.png">

[2016-03-14 16:52] peterdotjs commented on #130
@nickjf89 @shakked can you guys provide some more info? Screen shots of console/Network that you guys are seeing in the dashboard. It'll help point to what is going wrong.

[2016-03-14 16:55] nickjf89 commented on #130
I think it's because I'm using parse-server-example on Heroku. I've just realised. And there is no current process for using parse-server on Heroku, only locally.

[2016-03-14 17:37] astanton commented on #71
+1 for the analytics in dashboard!

[2016-03-14 17:48] justforfun commented on #71
+1 for push notification UI and analytics too

[2016-03-15 05:14] vferdiansyah opened #143 "HTTPS Basic Auth not working"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=2.1.4 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

I already setup HTTPS Basic Auth f

[2016-03-15 06:47] DazChong commented on #128
Your web server (Apache/NGINX) need to listen to HTTPS port requests and `Proxy Pass` to Parse-Server / Parse-Dashboard port.

[2016-03-15 06:55] DazChong commented on #68
try to use `screen` + `npm start`

[2016-03-15 08:08] fxredeemer commented on #143
In my case it workes fine, when accessing https://my_url:4040/apps/ a log in prompt is shown (only at first time after setting the password, afterwards it does not ask anymore)

[2016-03-15 08:12] darkkiss opened #144 "serverURL in cURL export"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=2.1.4 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Export to c

[2016-03-15 08:40] #144 closed

[2016-03-15 10:21] francksb opened #146 "Auth to access the dashboard but by app."
- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

Hello,

It's ok for me. But if I want different user access by app ?
I tried it but without success :

[code]
One idea please ?

[2016-03-15 10:32] json-park opened #147 "parse‑dashboard‑config.json file is missing."
I try "npm start" in Amazon Linux AMI

[parse-dashboard-config.json]
![1](https://cloud.githubusercontent.com/assets/16973070/13774607/298e36c0-eae3-11e5-8191-b0cad9696cb5.png)

[npm start]
![2](https://cloud.githubusercontent.com/assets/16973070/13774624/44bc7934-eae3-11e5-84af-50c07cfe9878.png)

[web browser]
![3](https://cloud.githubusercontent.com/assets/16973070/13774638/62af993a-eae3-11e5-9e

[2016-03-15 12:51] aristide opened #148 "not able to add a relation"
Hi!!
I added a Role and User models. I created an Admin role. But i'm not able to add a given user to that role through the dashboard.

I saw that it was possible on [ parse.com ](http://blog.parse.com/announcements/new-features-in-the-data-browser/)

I'm using parse-server 2.1.6

any Help !!!

[2016-03-15 13:06] r2DoesInc commented on #135
I can get everything working running over https on an external address except for cloud code, which is an integral part of our system. the current suggests for cloud code say to run everything off localhost, but that doesnt help us with our need for an external

[2016-03-15 13:10] r2DoesInc commented on #133
Unfortunately that didnt do it.

If i attempt to set the mount point to `/msz/parse` the server then sets runs on `/msz/msz/parse`. The `/msz/` mapping for the port is done on the virtualhost, i dont think the server cares about it.

[2016-03-15 13:21] darkkiss commented on #147
**path/to/config.json** is the **parse-dashboard-config.json** file ...
it's best to move your configuration elsewhere .. to avoid losing changes when pulling.

Move you file to another location and point to that file .. like this:

**npm start -- --config /parse.com/parse-dashboard-config.json --port 8080 --allowInsecureHTTP 1**

[2016-03-15 14:39] drew-gross commented on #133
Thats what I mean by adjusting your mapping. When you make a request to a "regular" endpoint on parse server, your send the request to `/msz/parse` and your mapping translates that to `/parse`. When you make a request to the `/batch` endpoint, which is what deleting objects does, the URL is part of the body of the request and your mapping can't translate it, so the server received the "raw" URL an

[2016-03-15 14:43] drew-gross commented on #143
I am also unable to reproduce this. Are you sure you didn't enter your password once to load the file? Try opening your dashboard in a private/incognito window and see if you are asked for a password.

[2016-03-15 14:43] #147 closed

[2016-03-15 14:45] drew-gross commented on #146
There is currently no support for that use case. You could run multiple instances of the dashboard, or submit a PR (you would need to edit `index.js`)

[2016-03-15 14:47] #141 closed

[2016-03-15 14:47] drew-gross commented on #135
You should be able to set your server URL to localhost in your Server Config, but still have the server URL be the remote server in your dashboard.

[2016-03-15 14:54] peterdotjs commented on #119
What is the response when you run the same curl command through a terminal?

It seems like your parse-server is unreachable which is odd since you've already gotten as far as this.

[2016-03-15 15:01] AmbroiseCollon commented on #119
Sorry I don't use curl. Need help on that :)

[2016-03-15 15:22] AmbroiseCollon commented on #119
Btw, I've just updated to Parse Server 2.1.6 and it does not work either. But everything else still works fine (class creation, updates and addition in other class etc.).

[2016-03-15 15:34] AmbroiseCollon opened #149 "Save ordering between different use"
By default, ordering is done with createdAt column. But for some classes, it's not the most convenient. It would be nice that the dashboard remembered on which column it should order. Just like he remembers the places of the columns.

[2016-03-15 15:37] francksb commented on #146
Ok thank you. I will run multiple instances of the dashboard for the moment.
I hope there will be someone to PR :-)

[2016-03-15 16:05] vferdiansyah commented on #143
@drew-gross nope, I never enter anything because I never prompted anything. Tried in incognito but also not working. Really strange...

[2016-03-15 17:03] peterdotjs commented on #119
In the curl command can you replace `api.parse.com` with that of your own parse server? This was fixed in #145

[2016-03-15 18:21] AmbroiseCollon commented on #119
Maybe unrelated but I've updated my parse dashboard to include latest fixes and the run fails :
`
[npm-debug.txt](https://github.com/ParsePlatform/parse-dashboard/files/174549/npm-debug.txt)

`

[2016-03-15 18:25] AmbroiseCollon commented on #119
Still if run the curl command with my server instead of `api.parse.com`, I get :
[code]
And if i had the `-k`option, I get nothing.

[2016-03-15 19:28] drew-gross commented on #143
OK, since I'm unable to reproduce I will need to ask you for some help with debugging. Can you open that `Parse Dashboard/index.js` file, add
[code]
right before the `return res.send(response);` on line 75, the restart and reload the dashboard and show my what the output it?

[2016-03-15 19:50] #51 closed

[2016-03-15 19:58] drew-gross commented on #68
no response for 10 days, closing

[2016-03-15 19:58] #68 closed

[2016-03-15 20:02] drew-gross commented on #101
We made some updates to Parse Server that should have fixed this. Please try updating your Parse Server version and open a new issue if you still see this error.

[2016-03-15 20:05] drew-gross commented on #114
no response in days, closing

[2016-03-15 20:05] #114 closed

[2016-03-15 20:10] yuzeh commented on #113
I think it makes sense that the "deliverable" (e.g. what is put in NPM or another package manager) be the compiled assets. People doing deploys off a `package.json` file (Elastic Beanstalk, Heroku) will have a relatively simple deploy script, and also won't have to worry about compiling the source.

Adding reminders client-side sounds like an excellent way to encourage everyone to upgrade. Unfortu

[2016-03-15 20:12] drew-gross commented on #148
We haven't added that feature yet. If you are interested in contributing, I could give you some pointers for where to start.

[2016-03-15 20:14] drew-gross commented on #113
I actually just added code to display the client side reminders and I'm preparing an `npm` package today.

[2016-03-15 20:16] yuzeh commented on #113
Awesome! I don't have anything else to discuss -- feel free to close this issue.

[2016-03-15 20:17] #113 closed

[2016-03-15 21:46] leonereveel commented on #71
:+1:

[2016-03-15 22:09] felipemobile commented on #71
Hi @drew-gross , where can I find a roadmap or deadline for Push notifications on Parse Dashboard?
I'm interested in this subject since I have to provide it to my customers.

[2016-03-15 23:34] r2DoesInc commented on #135
awesome, that did it.

[2016-03-15 23:34] #135 closed

[2016-03-15 23:41] vferdiansyah commented on #143
@drew-gross strange. nothing seems to come out of the log :/
I'll dig deeper to my server configuration.

[2016-03-16 03:52] peterdotjs commented on #119
I think there is something wrong with the query. Could you paste your query? As well as the type of value you are trying to add?

[2016-03-16 05:05] drew-gross commented on #71
We don't have a roadmap right now. If you want to help implement this feature, I can give you some pointers.

[2016-03-16 05:16] Kenishi commented on #132
Would one possible solution be to maybe add a server config option to the parse server, example: `logDrainURL: https://dashboard.mydomain.com/myApp/someSpecialDrainEndpoint` to drain the logs to the dashboard? I would think you could maintain file logs and also open up viewing logs on the dashboard.

(Disclaimer: I'm not exactly sure _how_ log drains work, but I've used them on Heroku with other l

[2016-03-16 06:26] json-park opened #150 "server version too low"
I connect parse-dashboard (node v4.3)

but I got a message below

![2](https://cloud.githubusercontent.com/assets/16973070/13803689/05cd7ce4-eb8a-11e5-8f00-60f03e357e40.png)

[My parse-server - AWS Beanstalk]
This is Most recent nodejs version  in AWS Beanstalk
![1](https://cloud.githubusercontent.com/assets/16973070/13803806/063fc258-eb8b-11e5-9956-1c437fdf2362.png)

How can i do?

[2016-03-16 06:35] drew-gross commented on #150
You need to update your parse server version. Some people have been discussion how to do that here: https://github.com/ParsePlatform/parse-server/issues/873

[2016-03-16 06:35] #150 closed

[2016-03-16 07:53] darkkiss commented on #71
Hello @drew-gross, I am tracking server developments and I saw push is about to "emerge".
Can I have those pointers about implementing in dashboard?

As I've studied the dashboard I saw almost all features are currently somewhat integrated in it, but lacks of endpoint (server) configuration.

[2016-03-16 08:46] aristide commented on #148
Yes i'm interested,  I'll appreciate if you can give those pointers for me to handle that.

[2016-03-16 09:55] AmbroiseCollon commented on #119
<img width="728" alt="capture d ecran 2016-03-16 a 10 51 02" src="https://cloud.githubusercontent.com/assets/2622390/13808237/797fa588-eb65-11e5-8b9c-a4754b7b5466.png">

When I use master key, I get the same result (nothing).

[2016-03-16 10:47] AmbroiseCollon opened #151 "Choose which column should represent a pointer (instead of objectId)"
It would be nice to choose which column should represent a certain class when another points to it.

For instance, I have a `Game` class which contains a column `player` which is a pointer to `User` class. In the rows, a button represents this relationship like so :
<img width="151" alt="capture d ecran 2016-03-16 a 11 40 58" src="https://cloud.githubusercontent.com/assets/2622390/13809729/666104f

[2016-03-16 10:50] arnorhaux commented on #129
Hi

There was a whitespace in the master_key which I exported to enviromental variable on my osx. Maybe it would be good idea that all they keys are read from json config file instead of putting it directly into index.js? Then you will be able to fetch the latest commits from github without any merge conflicts on index.js ?

Anyway thank's for directing me toward the solution and keep up the good

[2016-03-16 10:51] AmbroiseCollon commented on #149
Not sure about the good-first-pr means. I guess it means, this is an easy enhancement to make. If so, I'd like some tips to try it out. Thanks !

[2016-03-16 11:34] darkkiss commented on #149
Maybe :)  #152

[2016-03-16 11:58] felipemobile commented on #71
Yes i'm interested, I'll really appreciate if you can give those pointers for me to handle that. I've 25+ apps to be ported to our hosted Parse Server/Dashboard.

[2016-03-16 13:54] thphuc opened #153 ""null is not an object error", the table is empty"
I have some Classes, but there is 1 class gets this error and nothing showing.
Below is the console log:

TypeError: null is not an object (evaluating 'val.constructor')
(anonymous function)dashboard.bundle.js:57097
forEach
(anonymous function)dashboard.bundle.js:57096
BrowserCelldashboard.bundle.js:57100
mountComponentdashboard.bundle.js:24907
ReactCompositeComponent_mountComponentdashboard.bundl

[2016-03-16 15:01] peterdotjs commented on #153
Could you run with `npm run dev` and provide a stack trace again?

[2016-03-16 15:11] thphuc commented on #153
I just tried to run with "npm run dev" and every thing works well.
How can I stop dev mode and restart my production mode?

[2016-03-16 16:02] peterdotjs commented on #153
I'm not sure what env you are running you can just kill the process and start again.

[2016-03-16 16:07] peterdotjs commented on #149
@AmbroiseCollon yes when we add the `good-first-pr` tag it's a good opportunity for the community to start getting involved in the project.

We have several other open issues so if you're interested definitely comment on them and we'll point you in the right direction :) @darkkiss was really fast on this one.

[2016-03-16 16:14] peterdotjs commented on #119
Unfortunately I'm unable to repro. Assuming you have an `index` field that is of `number` type - it works for me locally. As the curl command itself is failing it's an issue with parse-server and you should try posting an issue there. Seems specific to your data.

[2016-03-16 16:57] AmbroiseCollon commented on #149
I'll sure do ! Thanks for the explanations and thanks @darkkiss to tackle this enhancement !

[2016-03-16 16:58] AmbroiseCollon commented on #119
Ok I'll do so. Thanks for having a look !

[2016-03-16 16:58] #119 closed

[2016-03-16 18:06] felipemobile commented on #71
@darkkiss Push is already available on Parse Server. I've been using it via CURL.

[2016-03-16 18:41] peterdotjs commented on #71
@felipemobile @darkkiss I'll add a separate discussion issue to document our existing schema in the dash and the path forward to integrating with parse-server as new endpoints are created.

[2016-03-16 19:42] drew-gross commented on #148
Take a look at `BrowserToolbar.react.js` around line 68, and 98, there is some relation specific code. Then, in `BrowserTable.react.js` you will need to make some edits around line 266, as well as maybe adding an `onAddRelation` prop. The biggest change will be in `Browser.react.js`, where you'll need to create the function that adds the relation and pass it as a prop to the `DataBrowser` near lin

[2016-03-17 02:09] joeyslack opened #155 "Dashboard won't load: 404 on /bundles/dashboard.bundle.js"
- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
npm install --production

#### Steps to reproduce
npm start

The dashboard does not work at all in production, due to the .gitignor

[2016-03-17 02:24] thphuc commented on #153
My backend is running on Ubuntu

[2016-03-17 04:35] thphuc commented on #155
I just updated to latest version and I can connect to my dashboard anymore. Please help to fix this ASAP.

[2016-03-17 04:37] coryshaw commented on #50
For what it's worth, I was having the same issue, which was caused by the parse-dashboard-config.json serverUrl NOT containing a trailing /parse. adding the trailing /parse to my serverUrl brought it to life.

[2016-03-17 05:49] drew-gross commented on #155
We just overhauled the dashboard installation process, can you check the readme and try to new process?

[2016-03-17 05:51] thphuc commented on #155
You mean we can not install from the source code any more?

[2016-03-17 06:32] drew-gross commented on #155
You can absolutely install from source, but I would expect most people to not install from source unless they are planning to submit PRs to the dashboard. If you want to contribute and are having issues with the source, I can help, but if you are only planning to use the dashboard and not modify it, I suggest you install from `npm`.

[2016-03-17 07:00] Cliffordwh commented on #155
@drew-gross  I get the same problem even if i install it globally and run `parse-dashboard --appID yourAppId --masterKey yourMasterKey --serverURL "https://example.com/parse" --appName optionalName`   I get a blank screen on https://example.com/dashboard . The title shows Parse Dashboard.   Any advise?

[2016-03-17 09:35] thphuc commented on #155
I just tried to install by using "npm install -g parse-dashboard", but I got below error. Please help!

`react-router@2.0.0 postinstall /root/.nvm/versions/node/v5.7.0/lib/node_modules/parse-dashboard/node_modules/react-router

module.js:341
    throw err;
    ^

Error: Cannot find module '/root/.nvm/versions/node/v5.7.0/lib/node_modules/parse-dashboard/node_modules/react-router/npm-scripts/postin

[2016-03-17 14:27] Cliffordwh commented on #64
any news on this? or fix to get parse-dashboard to run off a sub? and not the root /

thanks

[2016-03-17 15:00] nickjf89 opened #157 "You must provide either a config file or an app ID, Master Key, and server URL."
It seems that the path to my package.json and config file is wrong, looking at the logs.

I can't seem to get the logs at the moment, but the path was definitely incorrect when I saw them earlier.

I am getting the error: You must provide either a config file or an app ID, Master Key, and server URL.

And localhost doesn't connect.

Any suggestions?

[2016-03-17 15:33] blu3m4n commented on #157
Same exact error happened to me.

[2016-03-17 15:45] Xenero commented on #155
Same issue here as well. Wish Parse staff would fix it.

[2016-03-17 16:28] dave4506 commented on #72
+1

[2016-03-17 16:28] drew-gross commented on #157
Sorry about that! We'll have a fix out shortly. In the meantime, you can use our new installation method via `npm` (check the readme), or provide an explicit path to the config file with `node ./Parse-Dashboard/index.js --config ./Parse-Dashboard/parse-dashboard-config.json`.

[2016-03-17 17:11] wallydsyh commented on #157
To have the dashboard Running on localhost:4040 : you have to enter that command :
to the directory where the file "parse - dashboard-config.json " is and run this command:

parse-dashboard --config parse-dashboard-config.json

hope its helps

[2016-03-17 17:12] nickjf89 commented on #157
I think I tried that; got "parse-dashboard command not found" I believe.

[2016-03-17 17:15] wallydsyh commented on #157
there is 2 directory called Parse-Dashboard. and the file is  in the second directory. so in your cmd make sure you are  at in the second directory before running the command

[2016-03-17 17:15] wallydsyh commented on #157
![image](https://cloud.githubusercontent.com/assets/17909907/13854542/470c36ae-ec6c-11e5-97f8-755975312452.png)

[2016-03-17 17:16] wallydsyh commented on #157
![image](https://cloud.githubusercontent.com/assets/17909907/13854569/6db54c6e-ec6c-11e5-9502-d86e614d5caf.png)

[2016-03-17 17:20] wallydsyh opened #159 "Can we Install the dashboard on Heroku,?"
Hello,

I was wondering if we can install the Dashboard on heroku.

I just tried and got this error
![image](https://cloud.githubusercontent.com/assets/17909907/13854648/d893f2b0-ec6c-11e5-83cd-e7b3b31cffa3.png)
if you have any idea. please

Thanks you.

[2016-03-17 17:30] yguy08 commented on #159
Hey @wallydsyh,

Take a look here: [https://github.com/ParsePlatform/parse-dashboard#deploying-the-dashboard](url)

The section says, "If you are deploying the dashboard, then localhost urls will not work."

Are you still using localhost urls?

[2016-03-17 17:34] wallydsyh commented on #159
Thanks you for the link . but it seems like its not available anymore.
yes, my dashboard is running on  localhost perfectly, but i wanted to know i could deploy iton heroku as well as did with the Parse Server.

[2016-03-17 17:46] peterdotjs commented on #157
@nickjf89 we're fixing an issue where the legacy scripts broke: #158. @wallydsyh is referring to the new option to use parse-dashboard cli to configure the dashboard - instructions are in the [readme](https://github.com/ParsePlatform/parse-dashboard/blob/master/README.md).

[2016-03-17 17:48] peterdotjs commented on #149
Resolved with #152.

[2016-03-17 17:48] #149 closed

[2016-03-17 17:49] drew-gross commented on #157
This should be fixed now - do a `git pull` or install version 1.0.2 from `npm`.

[2016-03-17 17:49] #157 closed

[2016-03-17 17:50] yguy08 commented on #159
@wallydsyh my fault, fixed it. Go ahead and try it again. That section should point you in the right direction.

If it works on localhost perfectly, that's great!

If you want to deploy the dashboard _anywhere_ you will have to make some changes to your URLs.

Did you make changes to your URLs or are you still using localhost URLs in the code you deployed to Heroku when you got the Application Err

[2016-03-17 17:50] drew-gross commented on #77
We've overhauled the installation process. Check the readme for details. That should fix this issue.

[2016-03-17 17:50] #77 closed

[2016-03-17 17:51] drew-gross commented on #102
This is done now. Check the readme for details.

[2016-03-17 17:51] #102 closed

[2016-03-17 17:51] #128 closed

[2016-03-17 17:55] drew-gross commented on #151
Neat idea! We'd need to fetch a bunch more data to actually retrieve the username, so we'd probably want to do this asynchronously.

[2016-03-17 17:58] wallydsyh commented on #159
Actually when i deployed the app on heroku i changed the URL

here is how it looks like
"apps": [
  {
	 "serverURL": "http://sometihing.herokuapp.com/parse",
      "appId": "AppId",
      "masterKey": "masterKey",
      "appName": "Appname"
}
]

the Url is the Url in which  i install the Parse Server.

i don't really know which URL i should pass in the "serverUrl"
do you have any idea  please ?

[2016-03-17 18:23] AmbroiseCollon commented on #151
Any more advice on how to work on this ?

Btw, I just gave an example, but it could be good to have this not only on User class but on every class even Custom and on any column. If possible ^^!

[2016-03-17 18:27] joeyslack commented on #155
@drew-gross A global npm install doesn't fix the issues with the install though. Production mode is literally missing files, I don't really think anyone tested it?

[2016-03-17 18:32] drew-gross commented on #151
Ah, having this work on any class would be cool too. You would need to store the configuration of what column represents the object somewhere. Probably most of the modifications to make this happen would be in `Browser.react.js`, spread across `fetchData`, `fetchNextPage`, and probably a new function or two as well to handle the asynchronous part.

[2016-03-17 18:34] AmbroiseCollon commented on #106
Cout you provide those pointers ? Thanks !

[2016-03-17 18:43] drew-gross commented on #155
We pushed a new version (1.0.2) to `npm` which should fix the issues with `react-router` installation. I just checked http://registry.npmjs.org/parse-dashboard/-/parse-dashboard-1.0.2.tgz and the `dashboard.bundle.js` file is there. I also just tried removing `node`, `npm`, and all my node modules and reinstalling from scratch and it worked.

[2016-03-17 18:44] joeyslack commented on #64
Hey there,

It's an issue with npm instal --production. Unfortunately, this app has not been tested with production flag, so your app will not work without some changes.

You'll want to modify the .gitignore file, and remove the following:

bundles/
PIG/bundles/
Parse-Dashboard/public/bundles/
Parse-Dashboard/parse-dashboard-config.json

Then, when you run: `npm install` on your dev, check in the

[2016-03-17 18:50] drew-gross commented on #64
@joeyslack the --production flag is left over from our internal build process for running dashboard.parse.com. For just using the dashboard, I recommend installing from `npm`. For developing the dashboard, I recommend cloning the repo and using `npm run dashboard`.

[2016-03-17 18:55] AmbroiseCollon commented on #151
I had a look. I'm clearly not competent on this. Never done react before. And not a big js user. But I'm happy you liked the idea. I hope someone would tackle this (or me in some future... :) )

[2016-03-17 19:46] joeyslack commented on #64
Cool thanks. I'll send a PR then with recommendations for deploys working
with hosting (AWS)
On Thu, Mar 17, 2016 at 11:50 AM Drew <notifications@github.com> wrote:

[2016-03-17 19:53] benaneesh commented on #159
@wallydsyh are you still getting the heroku application error?

I just tried this with these config:
[code]

but there seems to be another error now, an empty page with this error:

![screen shot 2016-03-17 at 12 51 47 pm](https://cloud.githubusercontent.com/assets/1724896/13859125/12cfc45a-ec3f-11e5-86f9-4faecd0e8458.png)

[2016-03-17 19:56] wallydsyh commented on #159
Excatly, i have the same thing , a blank page too.

you know what is causing it ?

[2016-03-17 20:33] drew-gross commented on #159
We've pushed a new version to `npm` and recommend using that instead of the old installation method. The `npm` package shouldn't have that issue, so I recommend you try that one.

[2016-03-17 20:33] #159 closed

[2016-03-17 23:20] felipemobile commented on #71
@peterdotjs thanks!

[2016-03-18 05:48] Cliffordwh commented on #64
I don't see this solving the issue. All the files are there on the NPM run, just can not run via  a sub directory only on root domain ( / ).  We need relative paths or set a prefix globally for the path.

[2016-03-18 06:16] TylerBrock opened #160 "Dashboard fails to load class/collection"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=2.1.4 of Parse Server. (N/A, running against api.parse.com)

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before

[2016-03-18 06:16] TylerBrock commented on #160
Err, scratch that, it started working again. Someone must be changing code on api.parse.com

[2016-03-18 09:10] thphuc opened #162 "How to keep dashboard running when I log out ssh?"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

I setup parse-dashboard and run it

[2016-03-18 09:11] globyworks opened #163 "Dashboard on Heroku?"
Hi all,

Is there a way to deploy the Parse Dashboard on Heroku ?

[2016-03-18 09:16] aryelevin opened #164 "Dashboard fails to build filtered queries"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [V] You're running version >=2.1.4 of Parse Server.

- [V] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Parse serve

[2016-03-18 10:09] DazChong commented on #162
use `screen`(easier) / `npm run` option.

https://help.ubuntu.com/community/Screen

[2016-03-18 10:28] thphuc commented on #162
Thanks @DazChong
My command is: **parse-dashboard --config my-config-file.json **
How to combine it with npm run or screen?

[2016-03-18 10:52] DazChong commented on #162
usually, whenever you exit your SSH session, your active session will be killed. Using `screen` command will create a session that will not be killed even you closed your terminal / exit SSH. And you can do exactly what you usually do.

1. enter `screen` at SSH session.
2. some instruction and info will display, dismiss it with `spacebar`.
3. here you go, a new screen that will remain running even

[2016-03-18 11:21] thphuc commented on #162
After cd to the directory where parse-dashboard-config.son, I have to run below command:
**parse-dashboard --config my-config-file.json --allowInsecureHTTP**

I can not use npm start. Any idea?

[2016-03-18 11:37] thphuc commented on #162
OK, I got it working now.
Thanks a lot @DazChong.

[2016-03-18 11:37] #162 closed

[2016-03-18 11:56] gowridev opened #165 "background error"

[2016-03-18 11:57] gowridev commented on #165
i am getting this error node[5485] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-21) in background. Could help me in this regard?

[2016-03-18 15:34] drew-gross commented on #165
Your link is broken. Also, if you could provide a stack trace or any other info, that would be helpful.

[2016-03-18 16:16] drew-gross commented on #163
The readme includes some guidance on how to deploy to heroku. Make sure you are keeping everything secure to prevent your master keys from leaking.

[2016-03-18 16:16] #163 closed

[2016-03-18 17:38] joeyslack commented on #64
@Cliffordwh I'm personally missing files on npm run, after a npm install --production, you have a /bundles folder after doing that?

[2016-03-18 18:12] TylerBrock commented on #160
This is happening again this morning. Switching between classes renders a blank data browser because a network request fails. The request look to have a badly formed sort:

POST to `https://api.parse.com/1/classes/MessageScript`
[code]

Refreshing the dashboard fixes the problem but as soon as i click around on different classes it happens again. Node 4.4.0, parse-dashboard 1.0.2, linux, etc...

[2016-03-18 18:14] TylerBrock commented on #160
Just saw 1.0.3 was out and upgraded to see if that helps.

[2016-03-18 18:34] drew-gross commented on #160
1.0.3 does have some changes to column ordering. Let me know if it helps.

[2016-03-18 19:52] #129 closed

[2016-03-18 19:53] #155 closed

[2016-03-18 20:47] drew-gross commented on #57
We've updated the licence to make it clear that you can modify the dashboard and distribute it in custom integrations such as NodeChef's.

[2016-03-18 20:47] #57 closed

[2016-03-19 09:55] antonfire opened #166 "Load fail"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [y ] You're running version >=2.1.4 of Parse Server.

- [y ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
2.1.6 par

[2016-03-19 11:13] RobertNNms opened #167 "Problem with Localhost (Unknown error)"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=2.1.4 of Parse Server.

- [ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
parser-serv

[2016-03-19 11:58] antonfire commented on #166
I have also tried:

 parse-dashboard --appId "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" --masterKey "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" --serverURL "http://parseserver-bvicm-env.us-east-1.elasticbeanstalk.com/parse" --allowInsecureHTTP=1

As I have a load balancer on the AWS connection. Same result.

[2016-03-19 15:43] nickjf89 opened #168 "STILL server version too low?"
So I've just deployed a new instance of the parse-server-example to AWS, which I can see uses parse-server 2.2.0.

All deploy's fine (though I won't be able to update this in future, because it doesn't work...still figuring that out...), but my local parse-dashboard still says server too low...what's going on?

Am I missing something?

[2016-03-19 15:58] peterdotjs commented on #167
Can you provide some more information? Any failed server request and the response as well as any console errors.

[2016-03-19 15:59] peterdotjs commented on #168
Can you provide some more information? Any failed server request and the response as well as any console errors.

[2016-03-19 16:02] peterdotjs commented on #166
From the error it looks like the serverURL is not seen in `parse-dashboard-config.json` but your arguments look correct. Can you try manually putting the information in the config file? https://github.com/ParsePlatform/parse-dashboard#getting-started

[2016-03-19 16:21] RobertNNms commented on #167
Unfortunately, I don't see any errors (parser-server side -> I enabled  logs (export VERBOSE).
I see only the correct answers to requests from the "dashboard"

[2016-03-19 16:40] peterdotjs commented on #167
I was actually referring to client side in the browser.

[2016-03-19 17:25] nickjf89 commented on #168
I don't get errors...server works fine...dashboard works but says "server version too low". thats literally it..

[2016-03-19 17:46] RobertNNms commented on #167
I see only one error :
<img width="1680" alt="sans titre 2" src="https://cloud.githubusercontent.com/assets/8955379/13900268/a353c9ee-ee02-11e5-80ac-d3e2ec4fde54.png">

[2016-03-19 18:01] peterdotjs commented on #168
the dashboard makes a request to `serverInfo` endpoint. The response is resulting in "server version too low". Can you paste the response here...

[2016-03-19 18:03] peterdotjs commented on #167
Which version of the dashboard are you running? I think you may have a `masterKey` mismatch between what the dashboard is sending and what the server has. This is resulting in the permission denied 403. Can you check that the masterKeys are matching?

[2016-03-19 18:45] nickjf89 commented on #168
How do I see the response? Sorry..

[2016-03-19 18:52] RobertNNms commented on #167
Aie, Aie, sorry...:))

Yes, you're right, it was my master key!

Thanks
Robert

[2016-03-19 19:24] #167 closed

[2016-03-19 19:26] antonfire commented on #166
I was under the impression that parse-dashboard-config.json was only required if calling with the format:

parse-dashboard --config parse-dashboard-config.json

[2016-03-19 20:10] TylerBrock commented on #160
Upgrading to 1.0.3 solved it. This commit specifically ce268d5a6fd7deea89ce86f113b90c274a3bac9e

Thanks

[2016-03-19 20:10] #160 closed

[2016-03-19 22:45] fson commented on #57
@drew-gross Thanks for your response. However, this is still a custom license and not an OSI-approved open source license. It also only allows modifications for "own internal use" – I'm doubtful even open sourcing modified versions of the software is allowed.

Why not make the dashboard free and open source software like the other components of the Parse platform such as the Parse SDKs and [Parse

[2016-03-19 23:00] dcdspace opened #169 "Adding new relation creates parent object instead of relation object type"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup

Parse-Dash

[2016-03-19 23:20] drew-gross commented on #169
This is somewhat related to #148 although we should maybe disable the "add" button until we've implemented adding to relations.

[2016-03-20 20:27] ericlw commented on #57
@fson let's go with the obvious answer to the "why": Parse Dashboard is the baby of a graphics designer on the UI/UX team, that wants more control over it than the open source community desires. They don't want anyone 'claiming' it without substantial visual modifications. Visual artists get like that.

I like your suggestions for compromise

[2016-03-21 02:41] DazChong opened #170 "Server version stuck at 2.1.4 even upgraded to 2.2.0"
I'm very pleased by the new updates of both `parse-server` and `parse-dashboard` that install all in a few lines!

I have checked my installed `parse-server` package.json, indeed it is 2.2.0, but dashboard didnt recognize it and use the default value.

[2016-03-21 06:11] gowridev commented on #165
parse-dashboard-master nagaraju$ npm run dashboard

 28% 19/62 build modulesContainer#eachAtRule is deprecated. Use Container#walkAtRules instead.
Container#eachRule is deprecated. Use Container#walkRules instead.
Container#eachDecl is deprecated. Use Container#walkDecls instead.
Node#removeSelf is deprecated. Use Node#remove.
 30% 82/240 build modulesNode#before is deprecated. Use Node#raws.befor

[2016-03-21 06:17] cyboolo opened #171 "Install on heroku - step by step would be great"
Hi

I have my parse server deployed on heroku.

How to install parse dashboard and where?

I read on a close issue that it is explained on the readme file but i don't see any specific explanation.

Do i have to copy parse dashboard on my github repository connected to my heroku app and just add config vars on heroku?

Could it be possible to have a simple step by step to Handle this please?

I am

[2016-03-21 07:59] darkkiss commented on #164
I cannot reproduce this on 1.0.3

[2016-03-21 08:08] jasonjasonjasonjason commented on #72
+1

[2016-03-21 11:26] davimacedo commented on #72
+1

[2016-03-21 12:37] dcdspace opened #172 "Column order sync across devices"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!
- [x] You're running version >=2.1.4 of Parse Server.
- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.
#### Environment Setup

Dashboard run

[2016-03-21 19:10] drew-gross commented on #172
As you mentioned, the order is stored in the browser's local storage. To have it sync across devices, it would need to be stored somewhere else, and I'm not sure where that would be. Storing it on parse-server doesn't make much sense, I don't think, and the dashboard doesn't have much of a concept of accounts really. I'd be happy to hear suggestions though.

[2016-03-21 19:11] drew-gross commented on #72
Now that Parse Server has the necessary endpoints, I'm working on getting this set up in Parse Dashboard.

[2016-03-21 19:11] drew-gross commented on #164
Yep, this should be fixed in 1.0.3

[2016-03-21 19:11] #164 closed

[2016-03-21 19:15] drew-gross commented on #171
I'd recommend using the dashboard locally if you aren't experienced with Heroku already. Deploying the dashboard means you need to very careful to keep everything secure to prevent your master key from getting leaked.

[2016-03-21 19:15] #171 closed

[2016-03-21 19:17] drew-gross commented on #165
It seems like you are using the old `npm run dashboard` method of using the dashboard. We overhauled the installation process recently to use `npm install` instead, I recommend you try that method. You can find more details in the readme.

[2016-03-21 19:18] duytran1406 opened #173 "Wrong path to uploaded file using Parse Dashboard"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ √] You're running version >=2.1.4 of Parse Server.

- [ √] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Parse Ser

[2016-03-21 19:21] drew-gross commented on #170
Parse Server loads the version directly from the `package.json`, then transmits it to the dashboard in the `/serverInfo` endpoint. Is it possible that you didn't restart your Parse Server or something like that? If not, please get the response to the `serverInfo` endpoint in the API console and paste the output here.

[2016-03-21 19:21] duytran1406 commented on #173
By using cURL to query the database, it still shows the wrong path. Im not sure is this error from parse-server or parse-dashboard.
After uploaded, my file is existed at this link : https://parse.boredninjas.com/parse/files/mflQrWKtkLDJxHXwnF7AemEUG8P2kGuzZGZ4ezVY/68b48bb50e08e33fabadc868c2109651_cover.png
But in database, it was saved as

[2016-03-21 19:25] aryelevin commented on #164
Yep, that fixed in 1.0.3, Thanks!!!

[2016-03-21 19:46] peterdotjs commented on #172
We've left the dashboard fairly lightweight and stateless and will likely keep it that way and like Drew said parse-server doesn't make sense since it shouldn't know anything about the UI. One approach could be using a dashboard preferences app to store all this information. It would be up to each dev to decide to use the preferences app but we could help shape the schema.

[2016-03-21 21:50] jasonhr13 opened #174 "Daemonize parse-dashboard"
I may sound a bit noobie by asking this, but how can I, simply, daemonize parse-dashboard?

[2016-03-21 21:55] drew-gross commented on #174
We don't have any specific guidance for daemonizing the dashboard. If you get it working and have some learnings you think would be valuable to others, please submit them to the README :)

[2016-03-21 21:55] #174 closed

[2016-03-21 22:10] dcdspace commented on #172
Thank you @drew-gross and @peterdotjs , that all makes sense. If you could point me in the right direction as to what files are responsible for reading and writing to the cache the column order, I'll take a shot at replacing the cache with a database.

A preferences app would be great though and very helpful!

[2016-03-21 22:11] drew-gross commented on #172
`src/lib/ColumnPreferences.js` is the one

[2016-03-22 02:51] DazChong commented on #170
Thanks for the tips! Now I found what causes the issue.

My `npm -g install` which installed at `/usr/lib/node_modules/parse-server` (v2.2.0) didnt sync with the local copy which is at '/usr/local/lib/node_modules/parse-server' (2.1.4)

Can I just remove the local copy and edit the symbolic link to use global package instead(as like parse-dashboard)?

My `serverInfo` printed the following:

[code]

[2016-03-22 03:14] drew-gross commented on #170
I would recommend you add `parse-server`as an explicit dependency to your project instead of installing globally. If you don't want to do that, then I'd just suggest the old version, yes. Messing with symlinks manually would work, but it doesn't seem like a great idea, so if you can find a solution that avoids that, you should use that solution.

[2016-03-22 03:14] #170 closed

[2016-03-22 03:15] drew-gross commented on #168
Use the API console of the dashboard, with `serverInfo` as the endpoint and master key checked.

[2016-03-22 04:44] json-park opened #176 "How can i update paser-server on AWS Beanstalk?"
I connect parse-dashboard (node v4.3)

but I got a message below

![05cd7ce4-eb8a-11e5-8f00-60f03e357e40](https://cloud.githubusercontent.com/assets/16973070/13942154/abbfa76a-f032-11e5-8956-1c6860e5ccb0.png)

So I try updating https://github.com/ParsePlatform/parse-server/issues/873

but I faild updating.

![1](https://cloud.githubusercontent.com/assets/16973070/13942277/ef1dba1e-f033-11e5-9589-8

[2016-03-22 05:23] drew-gross commented on #176
Unfortunately we can't help with AWS specific issues. Try checking out the docs for AWS. If you discover an issue that is specific to Parse Server, please report the bug on the Parse Server repo.

[2016-03-22 05:23] #176 closed

[2016-03-22 06:09] zhouhao27 opened #177 "Is it possible to add new page to dashboard?"
Is it possible to add new page to dashboard without change dashboard source code? I mean something like a plugin. Thanks.

[2016-03-22 07:17] paquem opened #178 "Comment utilisé sa base de donnée sur parse?"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=2.1.4 of Parse Server.

- [ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup

#### Steps

[2016-03-22 07:19] paquem commented on #178
Je suis un nouveau utilisateur de parse, maintenant je veux que vous puissiez m'aider à savoir comment prendre ma base de données qui est sur mon ordinateur vers parse de grâce...

[2016-03-22 10:01] nickjf89 commented on #168
Thats not an option for me. My Dashboard doesn't work - there is no API console...?

[2016-03-22 10:06] antonfire commented on #166
Where should I put the parse-dashboard-config.son file?

[2016-03-22 11:12] antonfire commented on #166
I have installed globally and tried calling parse-dashboard --config parse-dashboard-config.json from a folder containing the json file, this gives "Your config file is missing. Exiting."

I have tried putting the config file in both the bin folder and the folder containing index.js to no avail, same error.

I have tried uninstalling global and installing local and reattempting, same error. Any id

[2016-03-22 11:47] flovilmart commented on #166
try `parse-dashboard --config ./parse-dashboard-config.json` and make sure the `parse-dashboard-config.json` is in your current folder

[2016-03-22 11:53] antonfire commented on #166
Thanks for your reply, I have just tried this an receive the same error... Your config file is missing. Exiting.

[2016-03-22 12:08] flovilmart commented on #178
You may migrate your local mongo database to mlab following their documentation.

[2016-03-22 12:10] antonfire commented on #166
Ok no that's working now, was an issue with the file type being saved as text even with the .json extension. It brings up the spinning balls but no dashboard, I get a console error of:

TypeError: undefined is not a function (evaluating 'e.serverURL.startsWith("https://api.parse.com/1")') dashboard.bundle.js:32:37991

[2016-03-22 12:16] flovilmart commented on #166
Did you set the serverURL property in your `parse-dashboard-config.json` on each of your apps?

[2016-03-22 12:18] antonfire commented on #166
Yes I have:

{
  "apps": [
    {
      "serverURL": "http://parseserver-bvicm-env.us-east-1.elasticbeanstalk.com/parse",
      "appId": "xxx",
      "masterKey": "xxx",
      "appName": "Reel"
    }
  ]
}

[2016-03-22 12:21] flovilmart commented on #166
can you locate that line in dashboard.bundle.js:32:37991, and just before, add `console.log(e)`

[2016-03-22 12:29] antonfire commented on #166
Yes that logs an object containing:

appId: "myIdIsHere"
appName: "Reel"
masterKey: "myKeyIsHere"
serverURL: "http://parseserver-bvicm-env.us-east-1.elasticbeanstalk.com/parse"

[2016-03-22 12:34] flovilmart commented on #166
what browser are you using?

[2016-03-22 12:35] antonfire commented on #166
Safari

[2016-03-22 12:35] flovilmart commented on #166
can you try `console.log(typeof e.serverURL); console.log(typeof e.serverURL.startsWith);` (or with breakpoints at that place

[2016-03-22 12:38] antonfire commented on #166
Just tried on chrome and it works. Those two logs give string and undefined.

[2016-03-22 12:39] flovilmart commented on #166
What version of Safari?

[2016-03-22 12:40] antonfire commented on #166
Ok I'm running safari 8, .startsWith requires safari v9

[2016-03-22 12:42] flovilmart commented on #166
that's why but it should be polyfilled by babel I believe. I'll replace with indexOf === 0 in the meantime

[2016-03-22 12:44] antonfire commented on #166
Ok great, thanks. I notice that the security tab for each class has disappeared where previously we could prevent access to that table without MasterKey. Is this correct?

[2016-03-22 12:45] flovilmart commented on #166
I have no idea @peterdotjs ?

[2016-03-22 15:54] peterdotjs commented on #168
@nickjf89 when you open the dashboard right click -> inspect -> click the network tab

From here you can view network requests in the browser and see what the response is.

[2016-03-22 15:56] peterdotjs commented on #166
@antonfire the security link is a WIP see: #175

[2016-03-22 15:59] antonfire commented on #166
Ok great thanks

[2016-03-22 16:04] peterdotjs commented on #173
When you're using curl to upload a file is the path as expected? If the path isn't as expected with curl then it would point to a parse-server issue otherwise it would be a dashboard issue.

[2016-03-22 16:06] peterdotjs commented on #177
No it's not possible. Are you referring to something like a CMS? What would be your use case?

[2016-03-22 16:10] kevinbluer commented on #46
Hi @thphuc, any luck getting this set this up?

[2016-03-22 16:18] nickjf89 commented on #168
Network tab is empty. There was an error: Failed to load resource: the server responded with a status of 404 (Not Found)

[2016-03-22 16:22] thphuc commented on #46
Hi @kevinbluer
I followed these step and it worked:
1. Install parse-dashboard: npm install -g parse-dashboard
2. Create config file
3. Run this command: parse-dashboard --config parse-dashboard-config.json --allowInsecureHTTP
But this is for testing only, shouldn't use http for production

[2016-03-22 16:36] peterdotjs commented on #168
Can you refresh with the inspector open? A network request should be going through. I'm not sure which resource that error is referring to. In any case we're trying to see if `serverInfo` endpoint is returning the right information and if your parse-server is working properly. A curl command to `serverInfo` also works since your API console is not working.

[2016-03-22 16:41] nickjf89 commented on #168
Thanks, it worked after refreshing. The GET request for serverInfo failed with a 404: Cannot GET /parse/serverInfo

[2016-03-22 20:29] drew-gross commented on #168
That usually means your parse server doesn't have the `serverInfo` endpoint, or you are using the wrong path to the endpoint. Check your server to make sure the version is correct. If you installed the server globally, that maybe be causing issues. With `npm`, often the easiest solution is to remove all installations of `parse-server` everywhere and then install again. To check your path, make sur

[2016-03-22 23:12] nickjf89 commented on #168
The server is on AWS.

[2016-03-22 23:24] drew-gross commented on #168
You will still need to check your path and make sure your server on AWS is up to date.

[2016-03-22 23:26] nickjf89 commented on #168
Sorry, I wasn't clear. As I mentioned in the original post, it's a fresh instance of parse-server-example running 2.2.0, so I assume this is fine. And the path used in the dashboard works on my iOS app, so guess the path is good too.

[2016-03-23 00:03] drew-gross commented on #168
I'm not super familiar with how AWS works, but it looks like the AWS deploy button relied on a zip folder on S3 that is maintained by AWS and hasn't been kept up to date. For now I'd suggest deploying Parse Server using something other than that button.

[2016-03-23 00:36] #166 closed

[2016-03-23 01:19] #72 closed

[2016-03-23 01:20] zhouhao27 commented on #177
I'd like to add a page to send push notification.

[2016-03-23 03:51] devgeek27 commented on #64
Blank screen with Parse Dashboard title issue is happening to me as well. I have deployed Dashboard to Elastic Beanstalk and having the blank screen there. The Dashboard works locally though. The problem is with loading <script src="/bundles/dashboard.bundle.js"></script> file. Does anyone know how to fix that?

[2016-03-23 13:14] geraugu commented on #64
I have the same cenario. Bundles are missing. How can I fix this?

[2016-03-23 13:35] Cliffordwh commented on #64
@gfosco any luck on this to allow relative paths?

[2016-03-23 16:03] jdzorz commented on #176
@json-park i found the best way to do this is creating a new application version, upload zip package with updated package.json file. then deploy

[2016-03-23 16:36] drew-gross commented on #177
There has been some discussion in #71 about the push console. We are working on it, but would definitely appreciate help if you are interested in helping!

[2016-03-23 17:00] joeyslack commented on #64
Hey guys, read my comment above on how to fix it for remote hosts (like elastic beanstalk).

You'll want to first run `npm install` locally, and then modify your .gitignore file, to remove the /bundles (and other) paths. No idea why someone would ever check in those gitignore changes.

Then, when you do your commit and deploy, the bundle will be available.

Secondarily, if you are using AWS Beanst

[2016-03-23 19:01] Dima564 commented on #159
@drew-gross I'm still getting "Unexpected token <" when I deploy to Heroku

[2016-03-23 19:30] drew-gross commented on #159
Could you open a new issue describing how you are installing and deploying?

[2016-03-23 20:21] devgeek27 commented on #64
@joeyslack Thanks mate. I'll give it a try today.

[2016-03-24 10:37] json-park commented on #176
@jdzorz  Hi~ I don't understand your description.
I want more detail description.

[2016-03-24 14:10] jdzorz commented on #176
@json-park  Before trying these steps i recommend backing up your instances. or trying in a dev environment.

1. Download newest parse-server-example as zip https://github.com/ParsePlatform/parse-server-example/
2. the zip folder should have contents in the root of the folder. If the zip file structure looks like this:
![image](https://cloud.githubusercontent.com/assets/8130336/14018962/5c36fe6a-f

[2016-03-24 18:25] himanshu1491 opened #183 "Not able to run Dashboard"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
mac node ve

[2016-03-24 18:34] drew-gross commented on #183
It looks like you are using node version 0.12.0. The minimum version for developing the dashboard is 4.3. Upgrade your node version, or, if you can't do that, try installing via `npm` (check the README for how to do that)

[2016-03-24 18:34] #183 closed

[2016-03-24 18:36] himanshu1491 commented on #183
It worked Thanks @drew-gross there was some problem with webpack not being getting installed

Anyways Thanks

[2016-03-24 23:05] robertherber opened #184 "Parse-Dashboard as middleware?"
It would be great if this was possible to run this as middleware. It would make sense to run it together with the Parse Server itself.

[2016-03-25 00:11] drew-gross commented on #184
Thats a neat idea. I'd happily accept a PR that helps make that happen!

[2016-03-25 00:25] drew-gross commented on #143
Closing this issue since it's now over a week old.

[2016-03-25 00:25] #143 closed

[2016-03-25 00:26] drew-gross commented on #153
This issue should have been fixed in a newer version of the dashboard. Please update and let me know if you still have issues.

[2016-03-25 00:26] #153 closed

[2016-03-25 12:29] framp opened #185 "Enable Config page"
Seems like `/config` on parse-server is working with the `PARSE_EXPERIMENTAL_CONFIG_ENABLED=1`, and it seems quite reliable.
What would be the best way to enable it on the dashboard?

Cheers

[2016-03-25 15:51] drew-gross commented on #185
Hey, retrieving config on `parse-server` works fine, but changing config doesn't quite work yet. If you want to help with implementing it, just go into `FeaturesRouter.js` on the server, and set all of the options under `globalConfig` to true. This will enable config on the dashboard, but it won't work for setting config. You can still view config though, and if you want to help with setting confi

[2016-03-25 16:12] json-park commented on #176
@jdzorz  Thank you very much your kindly answer~
I've solved this problem.

but I got a another problem

I add code a S3Adapter like below
but deploy is faild.

[index.js]
![default](https://cloud.githubusercontent.com/assets/16973070/14047716/dc6208ec-f2ec-11e5-877d-74122142b937.png)
<br><br>
![3](https://cloud.githubusercontent.com/assets/16973070/14048086/61e27aa4-f2ef-11e5-8a99-df071f96b7bc.pn

[2016-03-25 19:54] luizfelipetx commented on #135
@r2DoesInc i have success here running dashboard in remote ip and connect dashboard to my parse-server in another server. Booth remote address.

ParseServer is running in 162.193.60.xxxx
ParseDashboard is running in 162.80.54.xxxx

I need made a hack in ParseDashboard directly in code to able dashboard to connect in my server remote.

You can do the same .

Go to this file.

**parse-dashboard/Pars

[2016-03-26 05:39] Jinoooo opened #186 "SyntaxError: Use of const in strict mode"
**> git clone https://github.com/ParsePlatform/parse-dashboard.git**
**> cd parse-dashboard**
**> npm install**
parse-dashboard@1.0.5 prepublish /Users/Parse/parse-dashboard
webpack --config webpack/publish.config.js --progress
/Users/Parse/parse-dashboard/webpack/plugins/svg-prep.js:10
const fs = require('fs');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js

[2016-03-26 10:47] framp commented on #185
That's awesome, I'll just need to work on parse-server then.
Thanks!

[2016-03-26 10:47] #185 closed

[2016-03-26 22:37] Jinoooo commented on #186
brew uninstall node
install node 4.4.1
and that fixed the problem.

[2016-03-26 22:37] #186 closed

[2016-03-26 22:38] flovilmart commented on #186
you can also use nvm :)

[2016-03-27 04:23] WahdanZ opened #187 "how to instal with excite running parse server"
i instal parse server with azure website , now i want to instal parse dashboard on same website
i use this command
npm install -g parse-dashboard
on visual studio online console
and there are logs

how can i access dashboard now ?

[2016-03-27 07:24] flyingmate commented on #159
I had the same problem, and found bundle.js was empty (ignored by .gitignore).
So I deleted /bundles line in .gitignore file, there was some progress.
Then got 'Parse Dashboard can only be remotely accessed via HTTPS' error page (better than blank page), so set PARSE_DASHBOARD_ALLOW_INSECURE_HTTP to 1 on heroku env setting.
It's now working finally

[2016-03-27 17:17] khafagy commented on #184
+1

[2016-03-27 17:19] khafagy commented on #71
+1

[2016-03-27 17:52] khafagy opened #188 "Create new apps using dashboard"
I was using Parse.com to host about 7 or 8 apps and I was creating new app every 2 weeks,
I was using it mainly to send push notification as it's very easy to integrate,
And like a lot of app developers I don't have experience to deal with "Node, MongoDB, ..." ,
So it will be very useful if you can add the ability to:
1. Create new applications using parse-dashboard.
2. Auto generate application k

[2016-03-28 08:29] DatzZDeVesh commented on #150
same error I'm getting here! Have u solved that?

[2016-03-28 10:41] gowridev opened #189 "Unable to see the parse dashboard on ibm bluemix"
If i try to open http://parse-dashboard.mybluemix.net/apps (localhost:4040/apps) URL . I am getting an error.

Uncaught SyntaxError: Unexpected token < dashboard.bundle.js:1
`<!DOCTYPE html>
<html>
  <title>Parse Dashboard</title>
  <body>
    <div id="browser_mount"></div>
    <script src="/bundles/dashboard.bundle.js"></script>
  </body>
</html>`

How to modify URL path (replace "localhost" with

[2016-03-28 10:57] khafagy commented on #146
+1

[2016-03-28 11:39] davimacedo commented on #188
You can use a Parse Hosting solution to do it for you. You can find the actual options here:
https://github.com/ParsePlatform/parse-server#parse-server-sample-application

[2016-03-28 12:09] json-park commented on #150
@DatzZDeVesh I solved this problem.
You can read below link
https://github.com/ParsePlatform/parse-dashboard/issues/176

[2016-03-28 12:09] iOSassou commented on #178
Tu peux utiliser les procédures de MongoDB pour faire une sauvegarde et ensuite restaurer ta base sur n'importe quel service: https://docs.mongodb.org/manual/tutorial/backup-and-restore-tools/

[2016-03-28 12:19] pivanov opened #190 "CHANGELOG.md"
Hey all,
can we add CHANGELOG.md? It will help us a lot :)

[2016-03-28 12:23] otymartin commented on #190
Yea whats new - I'm confused

[2016-03-28 12:26] parseopensource commented on #190
:+1:

[2016-03-28 16:21] drew-gross commented on #188
Parse Server doesn't support multiple apps on one server, so this is a long way off. One thing we could do is allow you to add apps to your configuration file in a dialog on the dashboard.

[2016-03-28 16:22] drew-gross commented on #189
That error typically means you didn't build the dashboard before deploying. We now recommend installing the dashboard from `npm` to get the built version.

[2016-03-28 16:26] drew-gross commented on #187
The README contains the next steps for how to run the dashboard.

[2016-03-28 16:26] #187 closed

[2016-03-28 18:14] khafagy commented on #188
I think this will be very useful,
So if I can:
1. Add apps configuration through dashboard.
2. Upload Apple push certificates through dashboard.
3. "Add/configure" GCM key through dashboard.
That will be about 80% of the work that I should do manually now,
And this will be awesome.

[2016-03-28 18:40] flovilmart commented on #188
"Add/configure" GCM key through dashboard.

This is not supported in parse-server.

[2016-03-28 18:47] khafagy commented on #188
@flovilmart What about that:
https://github.com/ParsePlatform/parse-server/wiki/Push

var server = new ParseServer({
    databaseURI: '...',
    cloud: '...',
    appId: '...',
    masterKey: '...',
    push: {
      android: {
        senderId: '...',
        apiKey: '...'
      },
      ios: {
        pfx: '/file/path/to/XXX.p12',
        bundleId: '',
        production: false
      }
    }
  }

[2016-03-28 18:56] flovilmart commented on #188
That is how to initialize Parseserver, but you can't swap this configuration at runtime based on some configuration from parse-dashboard

[2016-03-28 19:21] khafagy commented on #188
What about new instance of parse server,
So instead of creating new apps dashboard should create new instances like:

[code]

[2016-03-28 19:22] flovilmart commented on #188
That won't work correctly due to the Parse SDK being a singleton.

[2016-03-28 19:25] khafagy commented on #188
wow :(
This was to be very useful

[2016-03-28 19:26] flovilmart commented on #188
what do you mean? Multiple apps support could theoretically work, but without Cloud Code. I've worked on it for a while and had a functional proposal, in the end, we decided not to support it.

[2016-03-28 19:37] khafagy commented on #188
I mean that me and all developers moved from parse.com hosted solution are looking for an easy GUI to work with,
It's not easy to create parse server for every new app and run the server manually then upload apple certificates to be able to send push notifications,
That scenario might work with single app but what about 10 or 50 apps?

[2016-03-28 19:44] flovilmart commented on #188
you can run it with just a command line tool and a config.json file. It basically takes 10 minutes to configure and deploy heroku.

there is also parse-server/bootstrap.sh that you can run in a clean folder that would build the basic parse-server folder structure.

[code]

[2016-03-28 20:38] thamer898 opened #191 "Parse server Dashboard"
Hello

How to start parse dashboard ?

Regards

[2016-03-28 22:51] drew-gross commented on #191
Instructions for starting the dashboard are in the README

[2016-03-28 22:51] #191 closed

[2016-03-29 00:31] drew-gross commented on #71
Sending push notifications will be available after #192 lands

[2016-03-29 00:31] #71 closed

[2016-03-29 00:33] #165 closed

[2016-03-29 00:33] #168 closed

[2016-03-29 00:34] drew-gross commented on #177
Sending push notifications will be available after #192 lands

[2016-03-29 00:34] #177 closed

[2016-03-29 00:35] drew-gross commented on #190
Adding this in #192

[2016-03-29 00:35] #190 closed

[2016-03-29 01:47] drew-gross opened #193 "Allow GeoPoints in Config"
Currently GeoPoints are broken in Config. This would be a good bug fix for someone interested in contributing to the dashboard.

[2016-03-29 04:53] parseopensource commented on #190
Thanks :)

[2016-03-29 13:07] ishaan1995 opened #194 "Deleting non-referenced files using dashboard"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!
- [X] You're running version >=2.1.4 of Parse Server.
- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.
### Feature

The ability to delete an

[2016-03-29 14:03] thiagoaos commented on #184
+1

[2016-03-29 17:07] Heman6886 opened #197 "Unable to see the mongodb items in parse dashboard but all the items are there in mongodb"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=2.1.4 of Parse Server.

- [ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup

#### Steps

[2016-03-29 17:24] drew-gross commented on #197
Can you provide some more details? What classes are you looking for and not seeing? Can you try making requests in the API Console to check if the output is what you expect? Schemas endpoint especially.

[2016-03-29 17:25] Heman6886 commented on #197
i am looking for insatllation and user class and throug api its working

[2016-03-29 17:30] drew-gross commented on #194
This is a good idea, but would probably require some server-side support to iterate over all known files.

[2016-03-29 17:31] drew-gross commented on #197
What is the output of the schemas endpoint in the API Console?

[2016-03-29 17:31] Heman6886 commented on #197
its in json and exactly what i want

[2016-03-29 17:34] drew-gross commented on #197
That endpoint is the exact same one used by the Data Browser to find the list of classes that exist in your app. What happens when you click on the app to try to view the data browser?

[2016-03-29 17:36] Heman6886 commented on #197
it show me nothing

[2016-03-29 17:43] Heman6886 commented on #197
and now it checked my master key both at server and dashboard it matching and now it reloads
![ytyteuntitled](https://cloud.githubusercontent.com/assets/12099245/14117769/cf06c09c-f603-11e5-8f13-9c1444e32ba6.png)

[2016-03-29 17:44] drew-gross commented on #197
Does it take you to an empty data browser? Or not go anywhere at all? Also, does it log anything in the console? If you get unauthorised error that means you have some incorrect info in your config.

[2016-03-29 17:45] Heman6886 commented on #197
yes empty databrowser

[2016-03-29 17:47] Heman6886 commented on #197
its here
![jkajsdkj](https://cloud.githubusercontent.com/assets/12099245/14117877/607ab5f6-f604-11e5-9a60-63c5d297267b.png)

[2016-03-29 17:47] drew-gross commented on #197
I think if you are getting unauthorised error you need to check the other parts of your config to make sure they match.

[2016-03-29 17:48] Heman6886 commented on #197
app id and master key are matching

[2016-03-29 17:52] drew-gross commented on #197
And server URL?

[2016-03-29 17:54] Heman6886 commented on #197
its same
http://ipadrress:1337/parse

[2016-03-29 17:56] drew-gross commented on #197
Can you show the chrome debugger when you try to open the data browser? I want to check for error logs or failing network requests.

[2016-03-29 17:58] Heman6886 commented on #197
can u tell me a good chrome debugger plugin

[2016-03-29 18:00] drew-gross commented on #197
the debugger is built in to chrome, you don't need a plugin. I think in Windows you just press ctrl+alt+j, but I use a mac so I don't know if it's the same or not.

[2016-03-29 18:02] Heman6886 commented on #197
![sadasdas](https://cloud.githubusercontent.com/assets/12099245/14118285/743f4cc6-f606-11e5-8355-858bc357b859.png)

[2016-03-29 19:26] kilabyte opened #199 "GridStore url issue"
After migration if i add a file via the upload on my instance of the parse dashboard it uploads successfully however the url it generates when i click on the file points to the localhost and not the api endpoint url. All my server urls configs in parse-server and in parse-dashboard DO NOT point to the localhost and point to the absolute api endpoint. The end of the url for the file location is cor

[2016-03-29 19:46] hafizapp opened #200 "Pointer & Relation type column on Class"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [y] You're running version >=2.1.4 of Parse Server.

- [y] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Parse-Dashb

[2016-03-29 19:50] drew-gross commented on #200
Scroll down in the dropdown.

[2016-03-29 19:50] #200 closed

[2016-03-29 20:17] Webde opened #201 "Uncaught SyntaxError: Unexpected token <"
I Install last commit #192 and then my display is white.

The version #192 no run in my project. it show in terminal `Uncaught SyntaxError: Unexpected token <     dashboard.bundle.js:1`

Help me!!!! :(

[2016-03-29 21:23] drew-gross commented on #201
This error means you haven't built the dashboard. Building the dashboard isn't necessary if you install from `npm`. If you want to develop the dashboard or install from source, run `npm run dashboard`.

[2016-03-29 21:23] #201 closed

[2016-03-29 22:07] drew-gross commented on #197
This really looks like a problem with your configuration. Did you check your mount point as well? 403 Forbidden error means something is configured incorrectly.

[2016-03-29 22:32] goggelj commented on #197
Are you on Heroku? I had a similar problem and I am now running with:

{
  "serverURL": "https://my-app.herokuapp.com:443/parse",
  "appId": "appId",
  "masterKey": "masterKey",
  "restKey": "restKey",
  "appName": "my-app"
}

I am running dashboard locally (on my mac) and pointing to both Parse.com
(similar to the above just different url) and Heroku. Everything works.

On 29 March 2016 at 23:07,

[2016-03-30 01:33] felipemobile opened #203 "Experimenting the new Push send page && separating account access"
Hi, I've made a simple change to `Parse-Dashboard/index.js` and `Parse-Dashboard/config.json` files to separate account access to our apps instead of running multiple instances of parse-dashboard. It's a temporary solution while I'm still learning a lot from the sources.

When working on the dashboard, I use `npm run dashboard` to debug and check live updates. The only issue here is that I can't s

[2016-03-30 02:11] drew-gross commented on #203
This looks like it will be really useful!

To answer your questions:

The push send page is visible if the server tells the dashboard that it supports push. It will do this if it is configured properly, and is on the latest version. It shouldn't be anything to do with how you run the dashboard (maybe it's possible that you have it installed both globally and locally, though, and are running differ

[2016-03-30 02:20] Vortec4800 opened #204 "Steps to configure Dashboard for HTTPS"
Sorry if this question is a bit thick... How do you configure the dashboard to use HTTPS? Don't you need to configure the Express server for your certificates and keys? I didn't see a place in index.js to do this. Perhaps I'm misunderstanding?

[2016-03-30 02:36] drew-gross commented on #204
Most people who are deploying the dashboard are deploying behind a proxy or load balancer that terminates SSL. I'd recommend that route, or running the dashboard locally. If you want to add support for direct HTTPS connections, that would be much appreciated!

[2016-03-30 02:48] goggelj commented on #203
Hi Drew,

You stated above that "The push send page is visible if the server tells
the dashboard that it supports push. It will do this if it is configured
properly, and is on the latest version."

My dashboard is connected to both Heroku (new/testsing) and Parse.com. In
both cases I do not see the Push page....

Where/how do you configure the server so that the dashboard shows a Push
section?

On

[2016-03-30 03:39] drew-gross commented on #203
You won't be able to see the push page for apps on Parse.com. The guide for configuring push is in the wiki on Parse Server. You can double check by looking at the "serverInfo" endpoint in the API console.

[2016-03-30 03:54] Heman6886 commented on #197
No i am using my own vps with centos

[2016-03-30 03:55] Heman6886 commented on #197
How can i check the mount point

[2016-03-30 03:59] goggelj commented on #203
Hmmm...I've already set up ios/apns push notifications on the server. Both
Dev and Prod are working.

Server is running 2.2.2 (as in Parse server example I downloaded yesterday).

Do I need to upgrade parse-server to 2.2.4+?
On 30 Mar 2016 4:39 a.m., "Drew" <notifications@github.com> wrote:

[2016-03-30 04:01] drew-gross commented on #203
Yep

[2016-03-30 05:10] Heman6886 commented on #197
i have done everything again but still getting the same error

[2016-03-30 07:20] drew-gross commented on #197
Your mount point is the part of the URL path that come before all the parse specific stuff. But it looks like you have the right mount point. unauthorized means you have not used the correct keys. Can you make sure you are using the right keys? Do you have any client keys set up on the server? If so, try removing them, or adding them to your dashboard config.

[2016-03-30 07:28] Heman6886 commented on #197
Its Done Thanksss Man

[2016-03-30 07:28] #197 closed

[2016-03-30 08:21] hafizapp opened #205 "New Application Create"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup

Is there a

[2016-03-30 11:05] natanrolnik commented on #194
I opened a few days ago this issue in the parse-server repo - it's good to reference here:
https://github.com/ParsePlatform/parse-server/issues/1023

[2016-03-30 13:33] Vortec4800 commented on #204
I see, so it doesn't accept direct HTTPS at the moment? That would explain my confusion.

I'll be running the dashboard on a separate VPS from the Parse API or Mongo database servers to keep things simple and separate for the dashboard. I don't really want to set up and run a separate web server or load balancer when Express is enough for my needs. It needs to be on the public internet so my entir

[2016-03-30 14:00] felipemobile commented on #203
Hi @drew-gross , I'm running `parse-dashboard --config Parse-Dashboard/parse-dashboard-config.json` with Parse-server 2.1.6 and the push send page is already there.

The push send page disappear when I use `npm run dashboard` . I'm stuck at this difference!

I think most of my doubts are related to how npm works. How can I build my own version of `parse-dashboard` command and delivery it through `

[2016-03-30 14:27] goggelj commented on #203
hmmm...again, to be sure, is this in Parse Server
<https://github.com/ParsePlatform/parse-server> or is it available in Parse
Server Example <https://github.com/ParsePlatform/parse-server-example>? I
have the latter running on Heroku and when I connect to it with the
dashboard I see no 'push page'...

I have added Push certs (one dev and one prod - both .p12 files as
described here <https://github

[2016-03-30 16:38] drew-gross commented on #203
@felipemobile Only I can deliver new packages through `npm install -g parse-dashboard`, but you can create a fork and upload it to `npm` under a new name the same way you would upload any package. Check the `npm` docs for how to do that.

@goggelj It's in `parse-server`. You'll need to update the version of `parse-server` used by your `parse-server-example` to get the latest features.

[2016-03-30 16:39] drew-gross commented on #204
Yep, `index.js` is the right place. Thanks for helping!

[2016-03-30 16:39] #204 closed

[2016-03-30 16:43] drew-gross commented on #205
No, you'll need to add apps via your config file.

[2016-03-30 16:43] #205 closed

[2016-03-30 17:02] hafizapp commented on #205
@drew-gross Thanks
But then how I get appid, masterkey for new app?
Also what about the new mongoDB default database?

[2016-03-30 17:07] drew-gross commented on #205
The app id and master key are in the configuration of your server. You will probably have to set up a new mongoDB database, although you might be able to reuse an existing one if you are careful.

[2016-03-30 17:12] gfosco commented on #205
The dashboard can be used to administer multiple apps, but parse-server is intended to run a single app.  So if you want a 'new' app, you'll need to run another instance of parse-server and then add it to the dashboard configuration as you did the first one.

[2016-03-30 17:39] goggelj commented on #203
I've done exactly that:

I have a test version running in heroku using the example server as is. In
its package.json it has:

"dependencies": {
  "express": "~4.11.x",
  "kerberos": "~0.0.x",
  "parse": "~1.8.0",
  "parse-server": "~2.2.2"
},

I also have a prod candidate running on heroku using the following
package.json (using the latest tag in github):

"dependencies": {
  "express": "~4.11.x",

[2016-03-30 18:16] goggelj commented on #203
As a last resort a I re-ran *npm install -g parse-dashboard*

*T*his was the output:

*/usr/local/bin/parse-dashboard ->
/usr/local/lib/node_modules/parse-dashboard/bin/parse-dashboard*
*parse-dashboard@1.0.6 /usr/local/lib/node_modules/parse-dashboard*
*├── basic-auth@1.0.3*
*├── commander@2.9.0 (graceful-readlink@1.0.1)*
*├── package-json@2.3.1 (registry-url@3.0.3, semver@5.1.0, rc@1.1.6,
got@5.

[2016-03-30 18:50] drew-gross commented on #203
Thanks! Maybe it was an `npm` caching issue or something.

[2016-03-30 18:50] #203 closed

[2016-03-30 23:39] cheesykyle opened #206 "Incrementing the App Badge causing failure to send Push Notification"
It seems that when toggling the "Increment the app badge?" option in the Push menu, it is resetting the badge column of the Installation object to a blank value.

This is causing no badge update on the first Push and failure to receive subsequent pushes until I manually set the "badge" column back to 0 on the Installation object.

Seems like a simple fix, just wanted to bring it to everyone's atte

[2016-03-31 01:09] kilabyte commented on #199
Tried it on a heroku (parse-server) install and still the same issue. Any ideas?

[2016-03-31 10:03] robertodias180 opened #207 "Push Page - Audience Issue"
Not sure if this is the intended behaviour or if it is a bug.

I can't crete multiple 'Audience' , and when i leave the push pages the audience i created wont be saved.

It would be nice to be able to create custom audiences to send push easily.

[2016-03-31 14:26] goggelj opened #208 "Sending push from dashboard with 'increment badge' does not result in a badge on app"
When sending a push from dashboard with 'increment badge' push notifications are sent and do reach the device but badge icon does not appear (and badge is not incremented).

Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [y] You're running version >=2.1.4 of Parse Server.

- [y] You've searched through [existing issues](htt

[2016-03-31 15:51] drew-gross commented on #207
Thats very true. Unfortunately, saved push audiences requires a place to store the push audiences. Storing them in Parse Server makes sense, but a lot more work is necessary to support that. We'd like to make this happen, but it isn't near the top of our priority list. If you'd like to help, I can give you some pointers!

[2016-03-31 15:55] Gameleon12 commented on #184
I'm currently working on such a enhancement in [this PR](https://github.com/ParsePlatform/parse-dashboard/pull/209)

[2016-03-31 17:19] robertodias180 commented on #207
I can try building it. What pointer can you give me?

[2016-03-31 17:42] #199 closed

[2016-03-31 18:05] dcdspace commented on #207
I also noticed when creating an audience, there is a bug when the installation column type is a Pointer, in which I cannot enter the pointer's objectId. I edited this file `parse-dashboard/src/components/PushAudienceDialog/InstallationCondition.react.js` to present a text box for case Pointer just like String, but it was still not working properly.

[2016-03-31 18:33] drew-gross commented on #207
@robertodias180 In Parse Server, you'll need to add a new default class to store push audiences in (with an underscore since it's internal to Parse Server) and make sure it's locked down by default so clients without the master key can't access it. Then, you'll need to modify the dashboard to make use of this new class. There are a lot of things that will need to change for that, because dashboard

[2016-03-31 22:13] dcdspace opened #210 "Cannot create audience by targeting pointer on push dashboard"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!
- [x] You're running version >=2.1.4 of Parse Server.
- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.
#### Environment Setup

Latest versio

[2016-03-31 22:33] mamaso commented on #184
+1

[2016-04-01 00:04] #206 closed

[2016-04-01 00:04] #208 closed

[2016-04-01 01:00] agilekevin commented on #188
We (Buddy) are thinking of handling this case as well, with some kind of a webhook that ultimately calls our devops code to create the server.

I don't think anybody would want our devops code, but we could certainly submit a PR that does what @drew-gross describes, along with some kind of "create server instance" adapter that accepts the necessary values, and the UI to collect them.  Other folks

[2016-04-01 01:02] flovilmart commented on #188
I believe this is really overkill, but that's my take on it.

[2016-04-01 01:36] drew-gross commented on #188
@agilekevin that sounds pretty sweet, I'd happily accept a PR that puts "pluggable app creation" into the dashboard. A nice simple way to do that might be to put the "create new app" webhook URL into the dashboard config, and if the dashboard detects the presence of this URL, it enables the "create new app" button, and sends requests to that URL. There would probably need to be some sort of auth,

[2016-04-01 01:44] davimacedo commented on #188
Hey guys, in my opinion this feature only make sense if in the creation process the user is able to setup all parameters of parse server (databaseURI, cloud, appId, etc...). Otherwise the user will have to change the code anyway and restart the app process. If you think by this same way, I can contribute in this task. I have been writing my own UI to setup these parameters. So I can stop doing it

[2016-04-01 01:58] drew-gross commented on #188
Yeah that makes sense. For the fully managed parse hosting services, they may only need an app name,  since they can generate a master key, app id, and database for you. Cloud code would need it's own process, of course. Maybe the dashboard config can include a list of parameters and their description alongside the webhook, and the dashboard can dynamically create the "create an app" dialog from t

[2016-04-01 02:04] flovilmart commented on #188
On parse-server side, it would be fairly easy to load the parse config from a JSON and live reload.

[2016-04-01 02:52] scorpion1750 opened #212 "Do not have analysis function"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
dashboard :

[2016-04-01 06:38] bohemima commented on #212
Analytics will most likely not be added to parse-server in the near future. There are multiple other good services that can handle this, including Facebook Events, Google Analytics, Flurry to name a few.

[2016-04-01 08:48] goggelj opened #213 "Add the ability to set apps as "dev" or "prod""
Tried to find the parameter name that would allow me to set the operational state of the app - could not find it.

I have a couple of apps, one of which is prod. In the dashboard, even the prod app that is on Parse.com appears as 'Dev'. I assume I need an entry in parse-dashboard-config. If so, what is the parameter name? If not, where do I set it?

Parse-Dashboard:
<img width="90" alt="screen sho

[2016-04-01 12:54] davimacedo commented on #188
We should create a new project just called Parse (or Parse Proxy, or Parse Manager, or whatever) which would initialy have the responsibility of:
1) Run a single instance of Parse Dashboard
2) Run multiple instances of Parse Server
3) Receive requests from Parse Dashboard to create, delete, update, restart instances of Parse Server
4) Receive API requests of all Parse Sever instances in a single e

[2016-04-01 13:30] maqen commented on #189
How do you run/install the dashboard on remote server? Installing npm dosen't include `Dockerfile` and npm is now the recommended option.

Cloning and running as docker results in above error. `public/bundles` seem to be ignored in `.gitignore`?

[2016-04-01 15:19] drew-gross commented on #189
`public/bundles` is ignored because it contains built files that shouldn't be checked in. Installing the dashboard via `npm` is recommended because `npm` has the built files. If you want to use a different installation method you will need to build the files yourself using `npm run prepublish`.

[2016-04-01 15:19] #189 closed

[2016-04-01 15:22] drew-gross commented on #213
Currently there is no way to do that. If you want to add it, that would be a pretty good first PR!

[2016-04-01 19:56] davimacedo commented on #188
@drew-gross @flovilmart ?

[2016-04-01 22:41] dcdspace commented on #213
Just added this, will send a PR soon.

[2016-04-01 23:56] agilekevin commented on #188
Back on the original idea of creating new apps within the UI, here's what I think we're seeing that there are two interests here: folks who want to be able to /specify/ the several values for a server they just set up themselves, and folks (like me) who want a way to call out to some code that /creates/ these values.

For both of these experiences, we have to consider the other operations:  The sp

[2016-04-02 00:02] drew-gross commented on #188
@agilekevin sounds like a good approach, I'd suggest doing them each in a separate PR to keep things nice and isolated.

[2016-04-02 00:08] drew-gross commented on #173
I believe this issue is fixed by using

[2016-04-02 00:08] drew-gross commented on #173
I believe this issue is fixed by using `publicServerURL` in your server. Check the discussion in parse server around filesadapters.

[2016-04-02 00:08] #173 closed

[2016-04-02 00:16] drew-gross opened #218 "End-to-end tests"
As the mini-express app gets more complex, I think it would be a good idea to have some end-to-end tests to make sure it works in all configurations.

[2016-04-02 03:26] flovilmart commented on #184
This has been merged by #217

[2016-04-02 03:26] #184 closed

[2016-04-02 04:00] #193 closed

[2016-04-03 23:36] didierfranc opened #221 "Solution to Heroku building/running fail"
Building heroku app from this repo fails every times for me, bundle.js could be missing so I solve that but there is possibly RAM problem with small dyno or anything else during installation ...

So I made this on top of the **latest npm version**, it makes it easier and faster to deploy :

https://github.com/didierfranc/parse-dashboard-heroku

And the same way with Parse-server :

https://github.

[2016-04-04 10:07] hpello opened #222 "Option to run dashboard on localhost only"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [✔] You're running version >=2.1.4 of Parse Server.

- [✔] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Ubuntu 15.1

[2016-04-04 11:36] json-park opened #223 "parse-dashboard server as a background service"
Hello.

I start parse-dashboard on AWS Linux AMI

![default](https://cloud.githubusercontent.com/assets/16973070/14246756/301af534-faa4-11e5-85e0-6bfe2373b4e4.png)

However It is stop when close a commend window

I want my parse-dashboard server to run in the background

How can i do?

[2016-04-04 11:44] flovilmart commented on #223
you can use:
1. nohup (to prevent the script from exiting),
2. an upstart script (in /etc/init.d so your server starts at startup),
3. a process manager (pm2, forever, nodemon, so the server restarts on crashes)

I suggest a combination of 2 and 3.

further reading:

http://stackoverflow.com/questions/13982257/upstart-script-for-node-js-app
https://gist.github.com/steveneaston/58a33e6cc280ca07f4c5

[2016-04-04 11:44] #223 closed

[2016-04-04 11:45] flovilmart commented on #222
That's a very very valid point! Would you feel you could make a PR for that, that should be somewhat straightforward.

[2016-04-04 18:49] drew-gross opened #225 "Display an error message when Parse Server can't connect to it's database."
I'm not exactly sure how this would work but it would be useful I think.

[2016-04-04 18:52] drew-gross opened #226 "Add a typeahead for endpoints in API Console."
This would be very useful when testing out requests in the API Console. Ideally it would use a reusable typeahead component that we can add in other places.

[2016-04-04 18:53] drew-gross opened #227 "Allow creating Pointer to User cells via username"

[2016-04-04 22:02] jgaull opened #228 "Error: Cannot find module 'parse-dashboard'"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=2.1.4 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
Heroku + pa

[2016-04-04 22:04] flovilmart commented on #228
Does it work locally?

[2016-04-04 22:13] jgaull commented on #228
Yes

On Monday, April 4, 2016, Florent Vilmart <notifications@github.com> wrote:

--
This message was typed on a tiny, error prone keyboard.

[2016-04-04 22:25] jgaull commented on #228
Same error

[2016-04-04 22:29] flovilmart commented on #228
did you run npm install after adding to the package.json ?

[2016-04-04 22:29] drew-gross commented on #228
I think this fix hasn't been published on `npm` yet. It will be part of `1.0.8`. For now, I'd suggest using following the suggestions in the readme (install globally and using the command line)

[2016-04-04 22:30] flovilmart commented on #228
I was actually checking that, what @drew-gross said !

[2016-04-04 22:31] jgaull commented on #228
I did run NPM install.

That makes sense! Do you have an estimated release date?

Thanks!

[2016-04-05 04:44] drew-gross commented on #228
It should be sometime this week.

[2016-04-05 09:27] AmbroiseCollon commented on #124
+1 would be useful for testing

[2016-04-05 13:27] hpello commented on #222
Hello,

Any news about this? I'll be happy to modify my pull request if needed.

[2016-04-05 16:27] iStopped commented on #64
+1

[2016-04-05 17:18] #222 closed

[2016-04-05 20:29] TylerBrock opened #230 "Feature Requests"
Hey Drew,

I was wondering if there were any plans to implement:
- [x] a refresh button in the data browser (useful when running scripts from the command line)
- [x] a way to back out of viewing a relation (go back to the referring view)
- [ ] the analytics portion of the dashboard (on top of mongodb)

I'd be happy to help with either but I just wanted to feel out how warm the project is to taking

[2016-04-05 21:18] drew-gross commented on #230
We are definitely welcome to new features! A refresh button for the data browser sounds great - and even better if works for every page where it makes sense. So does backing out of relation views, I think that one could be done fairly easily using the router/history stuff we already use.

Analytics hasn't really a big focus of Open Source Parse because we feel that there are a lot of other analyti

[2016-04-05 22:13] barnaclejive opened #231 "Cannot change User object password"
The parse-dashboard has no **Password** column on the **User** objects like the parse.com dashboard does.

- Is this intentional for some technical reason or can it be added?
- Is there some other way we should be managing User passwords after a migration to parse-server and parse-dashboard?

- [ x] You're running version >=2.1.4 of Parse Server.

- [ x] You've searched through [existing issues](h

[2016-04-05 22:17] drew-gross commented on #231
I see a password column on my dashboard. Can you make sure your Server and Dashboard versions are both up to date an check again?

[2016-04-05 23:39] drew-gross commented on #221
Thanks for the help! Since this isn't an issue but rather a community link, I'm going to close it. Also, I noticed you've enabled the insecure HTTP option so as a warning to anyone planning to use that repo, I want to say that you need to ensure that your dashboard is accessible over HTTPS only or you will be in severe danger of leaking your Master Key.

[2016-04-05 23:39] #221 closed

[2016-04-05 23:39] drew-gross commented on #228
1.0.8 is on `npm` now. Please try that and reopen if you still have issues.

[2016-04-05 23:39] #228 closed

[2016-04-05 23:40] #178 closed

[2016-04-05 23:41] drew-gross commented on #64
This should be fixed now.

[2016-04-05 23:41] #64 closed

[2016-04-06 00:53] barnaclejive commented on #231
@drew-gross I verified I am running:
parse-dashboard 2.1.6 dashboard
parser-server-example 1.4.0 which uses
parse-server ~2.2.2. I still do not see a password column on the User table in parse-dashboard. Any ideas? Thanks.
![parse_dashboard](https://cloud.githubusercontent.com/assets/5251331/14302550/d10cf834-fb67-11e5-9039-405f91639796.png)

[2016-04-06 01:09] drew-gross commented on #231
Can you show me the response to the `schemas` endpoint, and also show if there are any errors in the Javascript console? Also, the most recent version of the dashboard is 1.0.8, so I think you might be confused about which version you are running.

[2016-04-06 03:09] barnaclejive commented on #231
@drew-gross You're right, I was on 1.07 of dashboard. I have moved to 1.0.8 now, no password column still though. Looking at the _SCHEMA for _User, I don't see the _hashed_password field mentioned, however it does show up in each _User document. See [gist here](https://gist.github.com/barnaclejive/c13e9c2ba38c5ba97a3adaf68529ff46). I'm going to try running a migration again, maybe there was an err

[2016-04-06 03:20] drew-gross commented on #231
_hashed_password isn't supposed to show up in the _SCHEMA. I'm looking for the response to the `schemas` endpoint though. Just head to the API Console, use `schemas` as your endpoint, make sure to use the master key, and show me what you get. Also can you check the JavaScript console in your browser for errors?

[2016-04-06 03:30] barnaclejive commented on #231
@drew-gross
Gotcha, here is the [`schemas ` output from API Console](https://gist.github.com/barnaclejive/b71393b9822c421ae47e3fdb7fc6eea2)
As far as js console, I only see a warning when I view the User collection:
`dashboard.bundle.js:19129 Warning: AppsSelector is accessing getDOMNode or findDOMNode inside its render(). render() should be a pure function of props and state. It should never acce

[2016-04-06 03:43] drew-gross commented on #231
Can you try clearing out your localstorage? We store column ordering and width in localstorage and if it got screwed up somehow that might cause this problem.

[2016-04-06 03:56] barnaclejive commented on #231
@drew-gross
Cleared local storage and even tried it in a souple browsers where I had never run dashboard previously, no luck. After reloading dashboard and viewing User, my local storage for that page is:
`[{"name":"objectId","width":150},{"name":"sharePhotos","width":150},{"name":"emailVerified","width":150},{"name":"ACL","width":150},{"name":"freeVersion","width":150},{"name":"updatedAt","width"