[2019-05-03 21:24] dplewis commented on #1056
There are features that exist like https://github.com/parse-community/parse-dashboard/pull/724

You can copy that and follow [Contribution Guide](https://github.com/parse-community/parse-dashboard/blob/master/CONTRIBUTING.md) (will be updated soon)

[2019-05-05 18:25] Zoharos opened #1074 "found 12 vulnerabilities (6 low, 2 moderate, 4 high)"
Hi, npm install of parse-dashboard@1.3.0 causing vulnerabilities.

Please update the packages causing this vulnerabilities.

Thanks,
Zoharos

[2019-05-05 18:35] TomWFox commented on #1074
Could you make a PR for this?

[2019-05-10 01:10] #1074 closed

[2019-05-10 06:29] manoj-singh-developer commented on #46
The change is

app.use('/parse-dashboard', new ParseDashboard(config.dashboard, { allowInsecureHTTP: true }));

instead of

app.use('/parse-dashboard', ParseDashboard(config.dashboard, true));

you will find this code in index.js

[2019-05-10 06:37] manoj-singh-developer commented on #74
The change is

app.use('/parse-dashboard', new ParseDashboard(config.dashboard, { allowInsecureHTTP: true }));

instead of

app.use('/parse-dashboard', ParseDashboard(config.dashboard, true));

you will find this code in index.js

[2019-05-10 15:23] dplewis commented on #1049
Closing via https://github.com/parse-community/parse-dashboard/pull/1070

[2019-05-10 15:23] #1049 closed

[2019-05-20 17:30] #1038 closed

[2019-05-22 16:34] TomWFox opened #1086 "Version 1.3.1 not released properly"
The 1.3.1 release seems to have not been published on either npm or Docker Hub...
<img width="86" alt="Screenshot 2019-05-22 at 17 32 04" src="https://user-images.githubusercontent.com/13188249/58191929-855f8580-7cb7-11e9-9431-170664e04ed4.png">
It does sometimes take a while for the new version to be published to npm but it has been 18 hours so I'm guessing something is wrong.

The Docker build s

[2019-05-22 17:14] dplewis commented on #1086
I opened a PR for the docker issue. https://github.com/parse-community/parse-dashboard/pull/1087

For NPM, I'm not sure but looking at the travis logs there does seem like an issue. I'd recommend setting `skip-cleanup: true` in travis.yml

[2019-05-22 20:45] TomWFox commented on #1086
The Docker build still seems to be failing, I’m assuming there are some logs on Docker Hub but if they exist I can’t access them.

[2019-05-22 21:36] dplewis commented on #1086
I don't have access either. @acinader Can you help us out?

[2019-05-22 21:47] acinader commented on #1086
will try

[2019-05-23 16:30] acinader commented on #1086
no joy. @flovilmart can you help?

[2019-05-24 13:03] viniciusersouza commented on #729
Hey, I'm up to implement this. A friend and I want to use parse on a personal project and we want to translate it to portuguese. I may start right away, if you allow me.

[2019-05-24 19:15] TomWFox commented on #729
@viniciusersouza Go for it! I think it would be great if you implement it in a way that makes it simple to add new languages. It would also be good if you are available to make future translation when wording is changed or new features are added.

I can't see anyone having any objections to this. Looking forward to seeing it 👍

[2019-05-25 01:09] viniciusersouza commented on #729
Sure, thanks for letting me be part of this! I'll start right now!

[2019-05-25 13:14] #1046 closed

[2019-05-26 10:54] #1050 closed

[2019-05-27 04:08] zenz commented on #1086
any updates?

[2019-05-28 16:52] acinader commented on #1086
@zenz no

I currently don't have credentials for the dockerhub parse account, which will take some attention to resolve.

Also, the issue that is preventing publishing will need to be diagnosed.

I have not looked at in detail yet and it could be a few more days before I can.

If anyone has some time to diagnose, that could be helpful.

[2019-05-29 08:38] maziyarpanahi commented on #1053
I had to create a dummy app so I can get it back! I don't think this UI change was supposed to be forced since it has a negative value in user usability. There is nothing to gain by eliminating "one more click" if users lose some info.

[2019-06-05 06:22] zenz commented on #1086
I tried to add 1.3.1 from github url today. with command
yarn add https://github.com/parse-community/parse-dashboard#1.3.1

it process was success without any warning.
But after a restart, while access the dashboard url, it just bring me a blank page.
and checking the errorlog, there's nothing.

[2019-06-05 23:41] oallouch opened #1097 "can't build on Windows"
@dplewis Could you do on the dashboard what you did on the server, which is using cross-env ?
Even if I don't use the dashboard, I'd like to contribute.

[2019-06-06 21:32] dplewis commented on #1097
I'll investigate it soon, unless you want to give it a shot?

[2019-06-06 22:09] dplewis commented on #1086
Dockerhub build is working again!

@TomWFox Can you do another release 1.3.2?

[2019-06-06 22:31] TomWFox commented on #1086
yep, I'll do it now

[2019-06-06 22:41] oallouch commented on #1097
It's the same as what you've done on the server. But, if you really don't have time, I can try.

[2019-06-06 23:03] dplewis commented on #1097
I use a Mac, should get my hands on a windows computer soon

[2019-06-07 02:02] dplewis commented on #1086
Closing via https://github.com/parse-community/parse-dashboard/pull/1100

[2019-06-07 02:02] #1086 closed

[2019-06-07 02:02] dplewis commented on #1054
Closing via https://github.com/parse-community/parse-dashboard/pull/1100

Please update to the latest version of the dashboard

[2019-06-07 02:02] #1054 closed

[2019-06-07 02:04] #937 closed

[2019-06-07 02:05] dplewis commented on #967
Closing via https://github.com/parse-community/parse-dashboard/pull/1100

[2019-06-07 02:05] #967 closed

[2019-06-07 09:56] LoganLC opened #1102 "Unable to connect to server behind elb - https to http"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [✓ ] You're running version >=1.0.23 of Parse Dashboard.

- [✓ ] You're running version >=2.3.2 of Parse Server.

- [✓ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2019-06-10 18:05] Eolykab commented on #993
I had the sam error but I looked into the console into the browser I got a 403 error forbidden. I realised that myAppId was not the same. Solved it.

[2019-06-15 19:11] rizzla22 opened #1112 "Issue with logs/{info,error} pages - Cannot read property 'iso' of undefined"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=1.3.3  of Parse Dashboard.

#### Environment Setup
Google app engine is where parse server is - dashboard is running locally

#### Steps to reproduce
Open up dashboard and navigate to logs page, this error appears.

#### Logs/Trace

[code]

Clicking

[2019-06-16 16:40] jdtzmn commented on #230
Just thought I would ping this issue since it's been a few years without activity. I was wondering what the current state is in terms of analytics.

Also:

What other analytics products are available?

Thanks in advance!

[2019-06-19 14:53] dplewis commented on #1112
Can you update to the latest version of Parse-Server and post if the issue persists?

[2019-06-23 23:09] yagotome opened #1121 "Bad displayed filename"
Hello folks!

I realized that the filename [displayed in `BrowserCell`](https://github.com/parse-community/parse-dashboard/blob/c4e238ffacd025b9ebd447ec2216f39feb1fe84f/src/components/BrowserCell/BrowserCell.react.js#L61) is not like the original name of the file (the name after first `_`).

Then, I ended up finding this:

https://github.com/parse-community/parse-dashboard/blob/c4e238ffacd025b9ebd

[2019-06-24 22:37] #1056 closed

[2019-06-25 02:07] Rgf11111 commented on #1045
1.3.0 get same problem too. Downgrade to 1.2.0 is worked.

[2019-06-27 13:55] acinader commented on #1045
@douglasmuraoka FYI :).

[2019-06-27 14:06] douglasmuraoka commented on #1045
I'll try to fix it as soon as I finish the GraphQL console :)

[2019-06-28 17:10] douglasmuraoka commented on #1045
@acinader could you review my commit?

[2019-06-29 20:38] errazki1995 commented on #761
if you look well , he was already using the command you stated , i have the same problem as him

[2019-06-29 23:59] dplewis commented on #761
@errazki1995 Can you open a new issue so that we can track it?

[2019-06-30 14:40] errazki1995 commented on #761
sure i think it's a vs code bug , to be honest

[2019-06-30 15:28] errazki1995 opened #1127 "Parse-dashboard command not recognized after setup."
Hi , i'm facing this weird  issue which is already closed before with no concrete solution.
after installing parse-dashboard :: npm install -g parse-dashboard

i verified if it's installed successfully by showing the package version
npm show package parse-dashboard -version
  output --> 6.9.0

i launched the parse-server and seems that it's working perfectly with the same details

-the parse-serve

[2019-06-30 15:53] errazki1995 commented on #761
i just did now

[2019-07-02 19:49] #1045 closed

[2019-07-08 18:01] acinader commented on #1102
if you open your console, do you see a js error?

fyi, I have run the dashboard via elb, so it should be doable unless we've introduced a regression recently?

[2019-07-08 18:19] acinader opened #1131 "Master fails to install graphql-playground"
@douglasmuraoka

I'm trying to put together a release to get your awesome fix and new feature out.

When I try to do a clean install on master I get this error:
[code]

I opened an issue on the graphql-playground repo:

https://github.com/prisma/graphql-playground/issues/1052

I'll close this and release when resolved.

[2019-07-10 18:08] douglasmuraoka commented on #1131
@acinader looks like the problem was the `package-lock`. I've just created a brand new file and it is working now.

[2019-07-10 18:34] acinader commented on #1131
any interest in putting together the release?

[2019-07-10 18:42] #1131 closed

[2019-07-10 18:57] douglasmuraoka commented on #1131
@acinader do you have some guideline to follow when launching new releases?

[2019-07-11 14:08] acinader commented on #1131
nothing formal, but it is pretty straight forward:

I think this should be 1.4.0 because we are adding non-breaking functionality

- create a pull request to get things ready
1. View the full changlog and update the CHANGELOG.md file
2. Set the version in package.json and then run npm install to generate the lock file

- Use github to create the release and follow the format of previous releases.

[2019-07-11 16:03] douglasmuraoka commented on #1131
@acinader @TomWFox pull request created #1134

[2019-07-14 11:08] laticq opened #1137 "npm WARN deprecated cryptiles@4.1.2 and boom@7.3.0"
I'm trying to update the `parse-dashboard` to the latest version, but nothing happens because of the following errors:
[code]

[2019-07-14 16:46] davimacedo commented on #1137
@laticq thanks for reporting. I also see the warnings but it is running for me besides the messages. Anyway, we need to fix it. @douglasmuraoka could you please take a look on this?

[2019-07-15 13:19] douglasmuraoka commented on #1137
I'll take a look into it now. Thanks for reporting @laticq :)

[2019-07-15 19:06] mtrezza opened #1140 "Filter tab disappears"
- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
- Parse Dashboard v1.3.3

#### Issue
A filter tab (top right corner) that

[2019-07-15 19:07] douglasmuraoka commented on #1137
@davimacedo @acinader looks like #1131 is back due to the `package-lock.json` change from #1138. To solve this locally, I had to update my `npm` version to `latest` and generate a brand new `package-lock.json`. However, now I'm not secure that It will solve this problem for good since any random build is capable of breaking it again.
Any thoughts? Should we update `npm` version from travis as well

[2019-07-15 22:38] davimacedo commented on #1137
@douglasmuraoka and @acinader  please take a look at https://github.com/parse-community/parse-dashboard/pull/1143

@laticq in the meantime, you can install the latest version from the npm instead of the master branch

[2019-07-15 22:46] davimacedo commented on #1140
@mtrezza thanks for reporting. Would you be willed to tackle this one?

[2019-07-16 01:37] #1137 closed

[2019-07-16 16:47] douglasmuraoka commented on #1121
@yagotome thanks for reporting the issue. Yes, this function seems to be outdated. Could you send us a PR to fix this?

[2019-07-16 18:15] yagotome commented on #1121
@douglasmuraoka , thanks for responding. Sure! I am going to send you a PR with that fix soon.

[2019-07-16 20:25] Eolykab opened #1147 "GraphQL Console API not working"
I have upgraded Parse Dashboard and Parse server to get the GraphQL console but it does not seem to be working.

What I have set:

![Screenshot from 2019-07-16 22 21 08](https://user-images.githubusercontent.com/16737946/61327081-6ba27080-a818-11e9-961b-f310eb5dd3d2.png)
![Screenshot from 2019-07-16 22 19 36](https://user-images.githubusercontent.com/16737946/61327115-7a892300-a818-11e9-9565-630db

[2019-07-16 20:28] Eolykab commented on #1147
It seems like the cannot reach or get /graphql endpoint is there anything am I missing?

[2019-07-16 20:31] davimacedo commented on #1147
You are mounting Parse Server as a middleware of an Express.js application, right? Can you please double check if you mounted GraphQL API as described in the link below?
http://docs.parseplatform.org/graphql/guide/#using-expressjs

[2019-07-16 20:37] Eolykab commented on #1147
I used these settings https://github.com/parse-community/parse-dashboard#graphql-playground

[2019-07-16 20:40] davimacedo commented on #1147
This is for the dashboard setup. You also need to setup Parse Server to mount the GraphQL API in addition to the REST API. Take a look in the link I sent you.

[2019-07-16 21:03] Eolykab commented on #1147
Thanks @davimacedo it is working like a charm.

[2019-07-16 21:05] #1147 closed

[2019-07-17 17:58] mtrezza commented on #1140
Gave it a shot but I leave this for someone with more React knowledge.

[2019-07-18 08:09] mtrezza commented on #1102
Running the dashboard behind ELB on EB and works fine on 1.4.1 via http and https. This does not seem to be an issue regarding this product, I suggest you contact AWS technical support for ELB routing rules support.

[2019-07-18 13:41] #1121 closed

[2019-07-18 13:43] douglasmuraoka commented on #1121
Thank you @yagotome for your awesome PR! :)

[2019-07-18 20:42] #1102 closed

[2019-07-19 21:17] davimacedo opened #1165 "Include `count` CLP option in Parse Dashboard"
According to https://github.com/parse-community/parse-server/blob/master/spec/Schema.spec.js#L260 it is possible to define a `count` CLP rule. But this option is not available to be set through Parse Dashboard.

[2019-07-20 14:17] edson-gaspar opened #1167 "Scroll on Logs page not working"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2019-07-22 00:54] davimacedo commented on #1167
@alencarlucas can you please tackle this one? Can you please also test and make sure that the same problem is not happening in other screens?

[2019-07-22 13:24] alencarlucas commented on #1167
Sure! I'm working on this.

[2019-07-22 15:22] davimacedo commented on #1167
@edson-gaspar it seems that the bug is already fixed in the master branch. You should not have this problem in the next version. Meanwhile you can install from master.

[2019-07-22 15:22] #1167 closed

[2019-07-23 20:44] ramiro-ciocca commented on #717
+1

[2019-07-23 20:45] ramiro-ciocca commented on #717
+1

[2019-07-24 22:25] yingmu52 opened #1181 "Cannot Scroll on Parse Dashboard /apps"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.
my Parse Dashboard version is :`1.4.1`

- [x] You're running version >=2.3.2 of Parse Server.
my Parse Server version is: `3.3.0`

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dash

[2019-07-24 22:58] davimacedo commented on #1181
@yingmu52 it seems that the issue is already fixed in the master branch. Can you please install from master and let me know in the case it does not work?

[2019-07-24 22:58] #1181 closed

[2019-07-24 23:59] #1165 closed

[2019-07-25 00:00] davimacedo opened #1182 "PermissionsDialog state not updating"
If you apply some changes in CLP and open the PermissionsDialog again, the state is still the previous one.

@alencarlucas @douglasmuraoka would any of you guys be able to tackle this one?

[2019-07-28 14:03] hajjarjoseph opened #1187 "Build failing Logs React"
[code]

Getting this error while pushing to Heroku.

[2019-07-28 14:12] hajjarjoseph commented on #1187
Just had to remove /logs from .gitignore

[2019-07-28 14:12] #1187 closed

[2019-07-30 08:35] TomWFox opened #1191 "Version 1.4.2 not released properly"
@natanrolnik the version in package-lock.json is still 1.4.1 so the new version hasn’t been published to npm.

[2019-07-30 08:37] TomWFox commented on #1191
Well ignore me! It has now been published but the lock file should probably still be incremented.

[2019-07-30 08:50] davimacedo commented on #1191
@TomWFox I think it is better release a new one fixing it: https://github.com/parse-community/parse-dashboard/pull/1192

[2019-07-30 08:52] natanrolnik commented on #1191
Oh, I forgot to add it to the lock. My bad 😕

[2019-07-30 18:33] natanrolnik commented on #1191
Closed by #1192

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-30 18:33] #1191 closed

[2019-07-30 18:35] natanrolnik opened #1194 "Missing font in app list"
Not sure if anyone else noticed, but in the latest releases (1.4.0 or even earlier), the font used in the app list is not being displayed correctly.

@tomwfox and @davimacedo did you notice that?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-30 22:01] alencarlucas commented on #1182
I'm working on this!

[2019-07-31 00:00] davimacedo commented on #1194
I've just checked here and it looks good to me. Can you send a screenshot?

[2019-07-31 08:44] natanrolnik commented on #1194
Sure, @davimacedo!
Notice how the fonts in the apps list and "Your Apps" are different than the one in "Open Source Hub":

![Captura de Tela 2019-07-31 às 11 44 01](https://user-images.githubusercontent.com/1164565/62197501-9ba95200-b388-11e9-9379-906e2e21099f.png)

[2019-07-31 09:16] davimacedo commented on #1194
I got it. We can see [here](https://github.com/parse-community/parse-dashboard/blob/master/.github/dash-shot.png) that it was actually different in the past and it looked like better. @alencarlucas is this something that you could try to address?

[2019-07-31 14:22] ramiro-ciocca commented on #717
Hello, any news on this feature? It is very important to be able to edit data on mobile browsers.  Thanks!

[2019-07-31 14:25] ramiro-ciocca commented on #953
Hi, any news on this feature? Its very important to be able to edit data on mobile browsers.  Thanks!

[2019-07-31 14:28] alencarlucas commented on #1194
Sure! I'll take a look at this.

[2019-07-31 17:24] davimacedo commented on #953
I think nobody has taken it yet. Would you be willed to help on this?

[2019-07-31 20:00] ramiro-ciocca commented on #953
Sure, but wouldn't know where to start :(

[2019-08-01 01:19] davimacedo commented on #953
I guess it is something that can be improved in this file here: https://github.com/parse-community/parse-dashboard/blob/master/src/components/BrowserCell/BrowserCell.react.js

[2019-08-01 01:56] ramiro-ciocca commented on #953
Yes! I think the answer is in the following lines in that file:

onClick={onSelect}
onDoubleClick={() => {
if (type !== 'Relation') {
onEditChange(true)
}
For mobile, onClick should return what onDoubleClick does.
The qiestion is how to know when mobile and when desktop.
Desktop should mantain current behavior.

What do you think?

El mié., 31 de jul. de 2019 22:19, Antonio Davi Macedo Coelho de C

[2019-08-01 02:04] ramiro-ciocca commented on #953
Sorry couldnt format that last comment from my phone 🤷‍♂️

[2019-08-01 02:07] ramiro-ciocca commented on #953
Or maybe better, on mobile, onLongClick should return the edition.

[2019-08-01 02:09] davimacedo commented on #953
It maybe a good idea. Would you be able to test it and in case it works, send a PR? If you want to go with the web browser detection approach, here it goes a very good guide: https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent

[2019-08-01 11:21] kzaytsev commented on #942
Same thing ((

[2019-08-01 15:06] alencarlucas commented on #1182
@davimacedo How we noticed, this issue is a server-side one and was fixed in [#5877](https://github.com/parse-community/parse-server/pull/5877)

[2019-08-01 16:26] davimacedo commented on #942
@kzaytsev have you tried this sequence?

[code]

What's the error message that you have?

[2019-08-01 16:40] davimacedo commented on #1182
Nice. Thanks for working on this!

[2019-08-01 16:40] #1182 closed

[2019-08-02 10:03] rameshkec85 opened #1198 "Logout button not working?"
I have run parse dashboard locally provided on the instructions in Readme page. I have added configuration file with app and users information. Now i am able to see login page. But when i clicked on Logout button, it not redirecting to login page (still it is on dashboard page.).

Do we need to configure it anywhere in the code ?

[2019-08-02 18:50] #1194 closed

[2019-08-02 18:51] davimacedo commented on #1198
Can you please confirm the version that you are running?

[2019-08-03 16:30] #1112 closed

[2019-08-05 11:09] omairvaiyani opened #1200 "GraphQL Playground not loading"
When running the playground locally, I'm able to connect to the GraphQL server. Also when I postman into `/graphql`, everything work's fine. But if I load the playground through Parse Dashboard, I get `net::ERR_FAILED`.

I can confirm that the url and headers are all fine. Everything matches when loading playground directly vs. loading in Parse Dashboard.

[2019-08-07 04:55] davimacedo commented on #1200
@omairvaiyani I couldn't reproduce the problem. Do you mind to share the steps that you are using to run both parse server and parse dashboard? Are you using the CLI? Can you please also share the versions of node.js, npm, parse-server and parse-dashboard that you are running? If you use the following sequence, does it work?

[code]

[2019-08-07 10:52] xiangdong9013 commented on #1147
I got the same question too! So ,what's the point?

[2019-08-07 23:47] davimacedo commented on #1147
@xiangdong9013 can you please share the setup that you are using for Parse Server and Parse Dashboard so I can help you?

[2019-08-09 08:54] omairvaiyani commented on #1200
@davimacedo hey so sorry, this was definitely a (very edge-case) setup issue with my architecture!

[2019-08-09 08:54] #1200 closed

[2019-08-09 17:32] camdagr8 opened #1212 "Scroll on API Console Page"
If you run an API Console command that forces the page to scroll, it doesn't scroll.
Looks like this is fixable by setting this css: `body { overflow-y: auto; }`

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=).

[2019-08-09 22:41] davimacedo commented on #1200
glad to know it worked!

[2019-08-09 23:44] davimacedo commented on #1212
This problem was solved recently. Can you please update the Parse Dashboard to the latest version and check again?

[2019-08-11 07:34] softmastx opened #1215 "Bigger or more space for editing long string column."
It is possible to add more space or increase text editing area for string column?

[2019-08-12 14:51] alencarlucas commented on #1215
@softmastx I think it's a good point. I took a look in the code and I noticed it's a really small change in terms of code, so I opened a [PR](https://github.com/parse-community/parse-dashboard/pull/1217) with this improvement.

[2019-08-12 21:34] #1215 closed

[2019-08-13 19:51] douglasmuraoka commented on #983
@dplewis can't we just render and edit the array/object just as it was stored in the database?
It sounds like a mistake to handle Parse.Objects inside the generic array/object, since, well... that's generic and could store anything.

[2019-08-14 14:29] alencarlucas commented on #581
Guys, I sent a [PR](https://github.com/parse-community/parse-dashboard/pull/1221) to fix this. Can we close the issue?

[2019-08-14 18:36] #581 closed

[2019-08-15 00:40] #983 closed

[2019-08-15 00:51] #1097 closed

[2019-08-15 21:55] #953 closed

[2019-08-16 13:04] douglasmuraoka commented on #285
Fixed by #1223

[2019-08-16 13:04] #285 closed

[2019-08-16 18:58] acinader opened #1226 "Default Position for a selected app should be open, not closed"
When selecting an app from the left-hand app selector, the default position of the app should be open so you can see the list of classes.

![image](https://user-images.githubusercontent.com/700572/63191054-779e6f80-c01c-11e9-8f33-187481b4d0bc.png)

[2019-08-16 19:02] davimacedo commented on #1226
@acinader I think it was already fixed. Are you tested from the master branch?

[2019-08-20 09:51] TomWFox commented on #1212
If you still experience this issue on the latest version let us know.

[2019-08-20 09:51] #1212 closed

[2019-08-21 13:02] woodardj opened #1234 "When creating a new Pointer field, classes are in arbitrary order"
When adding a new Column of type `Pointer`, the dropdown menu for Target Class is in some inscrutable order, should be alphabetical, or at least predictable.

<img width="569" alt="Screen Shot 2019-08-21 at 12 36 40" src="https://user-images.githubusercontent.com/557897/63434022-87ef8980-c424-11e9-853c-6619d935d9ad.png">

Parse Server 3.0, Parse Dashboard 1.3.3

[2019-08-21 13:05] dplewis commented on #1234
Would you like to open a PR and provide a fix?

[2019-08-21 13:54] douglasmuraoka commented on #241
Followed all steps and couldn't reproduce this bug, closing this issue.

[2019-08-21 13:54] #241 closed

[2019-08-21 14:02] christopherturinsky opened #1236 "Feature request: Searchable Filters"
As I'm working with parse dashboard on a daily basis I have some features/adaptions I would love to see being implemented ;) One of them is the following:

**Searchable Filter:**
As some of our collections have a lot of fields it would be nice to just type the first char(s) and get only the fields matching shown like in the image below.

![Bildschirmfoto 2019-08-23 um 08 53 08](https://user-images

[2019-08-21 15:02] TomWFox commented on #1236
Could you split these feature requests into two separate issues and title them as such so we can more easily discuss/track these features?

Also we have a great team reviewing PRs on this repo now so feel free to have a stab at these features and ask for help if needed.

[2019-08-22 06:03] #1127 closed

[2019-08-22 22:22] #106 closed

[2019-08-22 22:22] #138 closed

[2019-08-22 22:52] omairvaiyani commented on #138
Very nice!

[2019-08-24 17:05] funkenstrahlen commented on #480
Adding the javascript key fixed this issue for me too.

[2019-08-26 05:52] Treverr opened #1247 "Error: Missing required argument"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [NA ] You're running version >=1.0.23 of Parse Dashboard.

- [NA] You're running version >=2.3.2 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2019-08-26 18:40] Treverr opened #1248 "parse-dashboard: command not found"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [NA] You're running version >=1.0.23 of Parse Dashboard.

- [NA] You're running version >=2.3.2 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been rep

[2019-08-27 05:35] yomybaby commented on #805
I think this is very handy.

[2019-08-27 13:19] istvanbagi opened #1250 "Feature request: Apple Game centre authentication support."
Dear Community,

I would like to have support for game centre authentication. Possible implementation would mean to integrate the framework
https://github.com/maeltm/node-gamecenter-identity-verifier
I would love to do this, but needs some  support and directions.

Thank you

Istvan Bagi

Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Da

[2019-09-05 02:55] JeromeDeLeon opened #1266 "`npm run pig` return blank page on Windows"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ /] You're running version >=1.0.23 of Parse Dashboard.

- [ /] You're running version >=2.3.2 of Parse Server.

- [ /] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2019-09-05 03:03] JeromeDeLeon commented on #1266
`npm run dashboard` doesn't have this issue.

[2019-09-05 03:07] dplewis commented on #1266
I see there are two commands here.

`webpack --config webpack/PIG.config.js --progress --watch`
Does this build `/PIG` folder?

`http-server ./PIG -p 4041`
Does the server starts?

Sorry I don't have a windows computer.

[2019-09-05 03:16] JeromeDeLeon commented on #1266
yes, I have `PIG` folder, but I don't have any logs running after the two I mentioned above.

[2019-09-06 01:30] 28389 commented on #129
f

[2019-09-06 15:25] santiagosemhan opened #1270 "Cannot delete Class row"
When selecting a Class row, then "Delete these row" button is still disabled.

Parse dashboard version 2.0.1

[2019-09-06 18:38] mtrezza opened #1271 "Filter tap not opening"
- [ X] You're running version >=1.0.23 of Parse Dashboard.

- [ X] You're running version >=2.3.2 of Parse Server.

- [ X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.

#### Environment Setup
parse dashboard 2.0.1
browser safari 12.1.2
browser chrome 76.0.3809.

[2019-09-07 18:31] davimacedo commented on #1271
it is actually not working for classes starting with "_". This PR should fix it: https://github.com/parse-community/parse-dashboard/pull/1275

[2019-09-07 19:58] davimacedo commented on #1270
This PR should fix it: https://github.com/parse-community/parse-dashboard/pull/1276

[2019-09-09 12:27] #1270 closed

[2019-09-10 00:17] #1271 closed

[2019-09-11 18:40] skinner2012 opened #1277 "The option to delete 1 or several rows is disabled."
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [Yes ] You're running version >=1.0.23 of Parse Dashboard.

- [ Yes] You're running version >=2.3.2 of Parse Server.

- [Yes ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has b

[2019-09-11 18:59] davimacedo commented on #1277
This is a bug of last release that was already fixed [here](https://github.com/parse-community/parse-dashboard/pull/1276).

I've just prepared a new release [here](https://github.com/parse-community/parse-dashboard/pull/1278) that will be published as soon as possible with the fix.

[2019-09-11 18:59] #1277 closed

[2019-09-11 19:29] KeiroMidori commented on #1277
Thank you so much !

[2019-09-12 13:47] Klucherev opened #1280 "Can not use pointer permission on class."
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=1.0.23 of Parse Dashboard.

- [ ] You're running version >=2.3.2 of Parse Server.

- [ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2019-09-13 14:22] #1280 closed

[2019-09-17 16:47] Klucherev opened #1293 "When 2.0.3 will be released in npm? 2.0.2 has critical bugs with CLP dialog"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=1.0.23 of Parse Dashboard.

- [ ] You're running version >=2.3.2 of Parse Server.

- [ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2019-09-17 17:04] TomWFox commented on #1293
I’m happy to make a release today, @davimacedo what do you think?

[2019-09-17 17:07] davimacedo commented on #1293
Sure! Go for it.

[2019-09-17 17:08] Klucherev commented on #1293
Thank you very much!

[2019-09-17 20:09] #1293 closed

[2019-09-18 07:22] omkar-tenkale opened #1296 "Can't connect to dashboard after login. SSL and CORS errors, API working"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=2.0.3 of Parse Dashboard.

- [x] You're running version >=2.7.1 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been report

[2019-09-18 07:38] omkar-tenkale commented on #1296
took reference from this site
https://tecadmin.net/setup-parse-dashboard-on-ubuntu/

the comment there also has the similar problem

[2019-09-18 07:39] omkar-tenkale commented on #1296
**my index.js**

[code]

[2019-09-18 07:41] omkar-tenkale commented on #1296
**and config.json**

`{
  "apps": [
    {
      "serverURL": "http://localhost:1337/parse",
      "appId": "myAppId",
      "masterKey": "world",
      "appName": "myAppId"
    }
  ],
  "users": [
      {
           "user":"username",
           "pass":"password"
      }
  ]
}`

[2019-09-18 07:42] omkar-tenkale commented on #1296
config.json
[code]

[2019-09-18 10:36] omkar-tenkale commented on #1296
**Solved**

I don't know what the problem was but i solved it this way
1. Downloaded this repo as zip (previously installed via npm in parse-server folder)
2. Extracted the zip to C:/
3. edited the file C:\parse-dashboard\Parse-Dashboard\parse-dashboard-config.json
[code]
4.opened new cmd window with admin privilage
5.cd to C:\parse-dashboard\Parse-Dashboard\ with command
[code]
6.ran command `par

[2019-09-18 10:36] #1296 closed

[2019-09-18 14:52] omairvaiyani opened #1297 "Filters is missing "objectId" in 2.0.3"
Hey, loving the changes in `v2`, very happy to see new work happening on this repo! Just a bug I've noticed in `2.0.3`, the filters dropdown is missing `"objectId"`. This also happens to be the filter we use most often when searching for a specific record - if others agree, is it also worth having a quick input field, perhaps next to the Class title, which expands an input box and let's us `quick

[2019-09-19 06:37] omkar-tenkale opened #1298 "Starting parse dashboard using pm2 in windows 10"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ x] You're running version >=1.0.23 of Parse Dashboard.

- [x ] You're running version >=2.3.2 of Parse Server.

- [x ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2019-09-19 10:20] omkar-tenkale commented on #1298
Solved

The earlier faulty parse-dashboard installation via npm was set as global #1296
and so the pm2 was referring to that i guess.

1. uninstalled with `npm uninstall parse-dshboard -g`
2.went to zip extracted parse-dashboard folder and `npm install`
3.still didn't work.
  after some time tried `npm install -g`  in the same dashboard folder.
4.worked  ¯\_(ツ)_/¯

**current ecosystem.config.js**

[2019-09-19 20:52] davimacedo commented on #1298
can you share the logs?

[2019-09-21 06:11] omkar-tenkale commented on #1298
[code]

[2019-09-25 03:37] Alicealpha opened #1305 "Not able to delete row in class"
version = 2.0.3 of Parse Dashboard.
version = 3.9.0 of Parse Server.

**Cannot delete the specified row in clas**

![image](https://user-images.githubusercontent.com/18365427/65567376-96334700-df88-11e9-9cbf-c5d579ecf8b0.png)

[2019-09-25 03:43] Alicealpha opened #1306 "Expectations for the future"
1. Account password storage should be placed in database (multi-account file storage is inconvenient);

2. Lack of necessary analytics;

[2019-09-27 01:16] davimacedo commented on #1298
Can you try to change your parse-dashboard pm2 settings to launch from `C:/parse-dashboard/Parse-Dashboard/index.js` instead of executing the `parse-dashboard` global command? Can you please also share your versions of node.js and npm?

[2019-09-27 06:34] davimacedo commented on #1305
Do you have any trigger in this class?

[2019-09-27 06:35] davimacedo commented on #1306
Would you be willed to tackle any of these items?

[2019-09-27 13:23] ramiro-ciocca opened #1309 "Dashboard duplicates last entry"
When you have a large collection, say more than a screen, and you order it by ascending "created at", the last entry is shown twice.  It is not duplicated in the database, it is just the dashboard showing it twice.

[2019-09-28 05:54] omkar-tenkale commented on #1298
Thank you!
It works well now.

**new ecosystem.config.js**

[code]

[2019-09-28 05:54] #1298 closed

[2019-09-29 04:52] JeffGuKang commented on #619
I got a same issue

[2019-09-29 09:42] Alicealpha commented on #1306
Yes, very much.

[2019-09-30 10:00] W0lfw00d commented on #1297
It seems to have been becaused by this pull request: #1283

[2019-09-30 14:16] santiagosemhan commented on #805
+1

[2019-10-01 08:42] ggrimbert opened #1320 "Incredibly slow install"
Hi,

I am experiencing some problems with the last version of parse dashboard. The issue is that the ```npm install``` goes from 1 minute to 15.

With the version 1.2.0; ```npm install``` take 40 seconds with the dependencies below; but with the 2.0.3 version, it takes more than 15 minutes.
It seems to hang on two tasks :
- npm timing stage:loadIdealTree
- npm timing action:extract

Here are the f

[2019-10-01 13:03] j4zz commented on #1297
We’d like to see a quick fix for this. It’s one of the most used filters for us.

[2019-10-02 05:49] #1297 closed

[2019-10-02 05:58] davimacedo commented on #1320
I've just installed the dependencies in 20s:

[code]

Can you share more details about your environment?

[2019-10-02 08:13] ggrimbert commented on #1320
We use Jenkins to install the dependencies, we don't have more informations about this environment.

[2019-10-02 11:39] mtrezza opened #1323 "no warning dialog before deleting config parameter"
#### Issue
When deleting a Parse Config parameter by clicking on the trash icon <img width="43" alt="image" src="https://user-images.githubusercontent.com/5673677/66041140-6d2b2d00-e519-11e9-9062-432b75aa30e4.png"> the parameter is deleted without showing a warning dialog.

As it can happen that the trash icon is clicked by mistake, one wouldn't easily see which parameter has been deleted in a lon

[2019-10-02 14:01] Simone-cogno commented on #613
Still have the same problem. I think I had to reastart the server last time to solve it. Does anyone have a solution to this? I'm starting the dashboard on the default port 4040...

[2019-10-02 19:11] gregorskii opened #1325 "Custom API Console URL"
Hi there,

The API Console appears to use the app.serverURL to make requests from the client:

https://github.com/parse-community/parse-dashboard/blob/master/src/dashboard/Data/ApiConsole/request.js

I think this may be causing issues when running the dashboard in Docker.

Docker reports from the CLI side that it cannot connect to the serverURL at start:

[code]

If the serverURL is a host specifi

[2019-10-03 13:56] GSZS commented on #1320
I also have the same situation in version 2.0.3, the installation takes a lot of time

[2019-10-03 14:16] ggrimbert commented on #1320
I don't know how but using an older version of npm the install is really faster

[2019-10-03 14:19] dplewis commented on #1320
It might come from puppeteer (used for testing) downloads chromium. You can use an environment variable to skip downloading it.

https://github.com/GoogleChrome/puppeteer/blob/v0.10.2/docs/api.md#environment-variables

[2019-10-03 14:58] ggrimbert commented on #1320
There's no trace of puppeteer in the install logs

[2019-10-04 00:23] davimacedo commented on #1320
Could you guys share the versions of npm and node.js that you are currently using?

[2019-10-04 01:03] davimacedo commented on #1325
Your problem is not so clear to me. This log is actually written by Parse Server (not Parse Dashboard). Can you please share how you are initializing both Parse Server and Parse Dashboard?

[2019-10-04 01:09] davimacedo commented on #613
Do you mind to open a new issue and share all details of your environment and how you are initializing the Parse Dashboard?

[2019-10-04 01:13] davimacedo commented on #1323
I like the idea. Would you be willed to add this one?

[2019-10-04 14:05] mtrezza commented on #1323
At the moment not, but maybe someone wants to pick it up.

[2019-10-04 15:20] BrotherSymeon commented on #201
I am using the parse-dashboard that I installed using npm and i ran this
`/home/innocent/.nvm/versions/node/v10.15.3/bin/parse-dashboard --dev --appId david --masterKey david --serverURL "http://172.17.0.3:1337/parse"`

and the dashboard.bundle.js looks like this
`<!DOCTYPE html>
        <head>
          <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
          <base href="/"/

[2019-10-04 15:21] BrotherSymeon opened #1328 "Uncaught SyntaxError: Unexpected token '<'"
I am using the parse-dashboard that I installed using npm and i ran this
/home/innocent/.nvm/versions/node/v10.15.3/bin/parse-dashboard --dev --appId david --masterKey david --serverURL "http://172.17.0.3:1337/parse"

and the dashboard.bundle.js looks like this
[code]
Thats the actual content of the dashboard.bundle.js.
Can you think of anything I could do to get it to work? I am sure I am doing s

[2019-10-04 17:38] gregorskii commented on #1325
Ya I think I was misunderstanding how the dashboard runs. It does not run in node other than serving it to the client.

Thanks.

[2019-10-04 17:38] #1325 closed

[2019-10-04 18:06] #1328 closed

[2019-10-04 20:59] mrmarcsmith opened #1330 "Feature Request: use select when columns are "hidden""
Now that we have the ability to hide certain columns it would be a cool performance boost to use the select value to only fetch the columns that aren't hidden. This would both reduce the amount of data sent to the dashboard and allow for "covered" queries in mongo that only use the RAM index to fulfill the request.

In the case that we "un-hide" a column after loading we could display a [Please re

[2019-10-04 23:14] mrmarcsmith opened #1331 "Use Analytics Adapter to populate Analytics Tab"
I have already read #1031 and [this](https://community.parseplatform.org/t/how-to-use-analytics/328) conversations on the community forum. This proposed solution is a simple and universal way to make the Analytics Tab usable with parse dashboard while keeping in step with the direction of the Parse Community.

For this example I will use reading the "AppOpened" Analytics event.

1. Parse-Dashboard

[2019-10-05 07:14] alambertt opened #1332 "Can't upload images to server through REST API"
Hi, I have the same problem that this issue below. With the difference that I've used REST request, like the Official Doc.
I'm using Angular 8 like client and the server is on https://parse-dashboard.back4app.com/. And all the services works very well, except this. I can't upload any image, the result is much ugly characters.
I've tried with Angular and also Postman and no difference in the Reques

[2019-10-05 10:36] alambertt commented on #1332
VICTORY!!!!! I SOLVED USING THIS COMPONENT FOR ANGULAR

https://github.com/AckerApple/angular-file

It seems that there was a problem with the file on the REST request that the way I was doing it and even using the Postman was wrong.
When using this component I found it perfectly. I recommend it for handling files with Angular and forms.

[2019-10-05 10:36] #1332 closed

[2019-10-06 06:05] mrmarcsmith commented on #1331
@douglasmuraoka @davimacedo @alencarlucas are any of you guys interested in teaming up for this? I’ve got the Parse Server side if you can help with dashboard.

[2019-10-06 22:45] bahaa-kallas opened #1333 "Calls To Logs Endpoint Lead To High Cpu and Ram Usage Then Crash !!"
- [x] You're running version 2.0.3 of Parse Dashboard.

- [x] You're running version 3.9.0 of Parse Server.

- [x] I've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=).And didn't find anything related to my issue
#### Environment Setup
- i have parse server and dashboard running on the same server
- i have 2 apps running on the same por

[2019-10-07 20:19] #1226 closed

[2019-10-08 01:10] Alicealpha commented on #1305
Triggered button

[2019-10-08 01:10] Alicealpha commented on #1305
Triggered button

[2019-10-08 08:02] davimacedo commented on #1305
I think you misunderstood my question. Do you have a `beforeSave` or `afterSave` trigger in your cloud code for this class?

[2019-10-08 08:28] ggrimbert commented on #1320
We use node v8.16.1; with npm v6.4.1
It's the version 4.6.1 that makes ths install faster

[2019-10-08 22:35] prempena opened #1336 "sudo npm install -g parse-dashboard : libraries warn deprecated"
Hi,

I would like some help as I just applied the npm install as described in documentation.

Here are my modules version :

Trying to install parse-dashboard@2.0.3

Current version is parse-server@3.9.0

#### Environment Versions
node --version is v10.16.3
npm --version is 6.9.0

#### Steps to reproduce

sudo npm install -g parse-dashboard

#### Logs/Trace

npm WARN deprecated core-js@1.2.7: core

[2019-10-09 23:48] bahaa-kallas commented on #1333
Update on the issue :
i  to change my setup locally to see why this happened
i reverted back into the classical use case of parse server (one app only and running on its own process ) and the dashboard running on its process and definitely on different port
the same issue still
the calls to the log endpoint `serverAddress/scriptlog?level=info&n=100`
 cause the parse server process to eat the memor

[2019-10-09 23:53] bahaa-kallas commented on #1333
maybe i used the wrong repo to report this issue on
i didn't realize that at that time when i opened the issue
i think its Parse-server related issue, but why i opened it here at first because i triggered this behavior while i am using the dashboard.

[2019-10-14 07:56] #1236 closed

[2019-10-15 20:29] mrmarcsmith opened #1346 "Location of "edit box" doesn't adjust when columns are hidden"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2019-10-17 08:34] Aud123 commented on #1297
Hi.
I see the issue has been closed but as I am still running version 2.0.3 of the parse-dashboard, and to this day, the objectId is still missing from the filter. It is true to say that the objectId filter comes really handy. What's the update on that? Or can you re-direct me to a discussion that explains how to solve this? Thanks a lot!

[2019-10-18 00:38] #1248 closed

[2019-10-18 13:09] mtrezza opened #1348 "Push date wrong"
#### Issue
Push date is wrong when creating an audience.

#### Environment Setup
parse dashboard 2.0.4

#### Steps to reproduce
1. Create new audience for push in parse dashboard
2. Set a date field condition to 2019-01-01 00:00
3. Create audience
4. Create push, choose audience and click on "show more" about the audience conditions
5. Check date condition; when local time is UTC+2, the date condi

[2019-10-18 16:04] dplewis commented on #1333
Thanks for posting. We can try to replicate this issue.

You can try to use the [latest branch](https://github.com/parse-community/parse-server#want-to-ride-the-bleeding-edge) on the Server as a recent cache improvement has been made.

Can you post a heapdump for your process?

[2019-10-19 13:16] mtrezza opened #1349 "Push query cannot contain $nin"
#### Environment Setup
Push dashboard shows blank page when audience contains query with `$nin` field.

#### Steps to reproduce

1. Manually add a `$nin` to a query in the `_Audience` collection:
`"appVersion\":{\"$nin\":[\"1\",\"2\"]}`
2. Open push dashboard => shows blank page

#### Suggested solution
If is it is not possible to add a `$nin` condition via the dashboard, it should not crash when

[2019-10-20 21:56] bahaa-kallas commented on #1333
i never made a heapdump before
i searched on how to do it and i find a npm dependency for this matter
the size of snapshot was 768 MB
i don't know how exactly i supposed to read the snapshot file and detect where is the problems
this a screenshot of it :
![image](https://user-images.githubusercontent.com/53038640/67166961-d40f6980-f394-11e9-877e-4a5a79081f8e.png)
What i did to reproduce the proble

[2019-10-21 22:18] bahaa-kallas commented on #1333
i checked the latest branch
the problem still exist. calls to logs endpoint makes the node process eats RAM and CPU

[2019-10-22 17:32] danielchangsoojones opened #1352 "NPM Install Issue"
I'm getting this error whenever I try to run npm install --save:

`ERROR in ../node_modules/parse/lib/browser/LocalDatastore.js
Module not found: Error: Can't resolve '@babel/runtime-corejs3/core-js-stable/array/from' in '/Users/danieljones/Documents/Btown-Rides/btown-rides-parse-dashboard/node_modules/parse/lib/browser'
 @ ../node_modules/parse/lib/browser/LocalDatastore.js 7:35-94
 @ ../node_mod

[2019-10-22 17:41] acinader commented on #1352
Hi @danielchangsoojones three bits of info you need to provide in order to get some help:

1. version of parse-dashboard
2. version of node
3. version of npm

I am using Parse Dashboard 2.0.4 on node v10.14.1 with npm 6.10.0

My guess is that you are trying to use version 2.0.3.  If so, upgrade and try again.

If you still have an issue, go ahead and reopen with the requested details.

[2019-10-22 23:01] Eolykab commented on #1137
Getting this error. Working fine on my local computer. But not on the server. Was this issue resolved?

[2019-10-22 23:11] acinader commented on #1137
yes.  are you sure that your server is trying to npm install the latest version of the dashboard (2.0.4)?

[2019-10-22 23:24] Eolykab commented on #1137
Yes It is on the latest as well

[2019-10-22 23:31] acinader commented on #1137
can you post your npm debug log?

[2019-10-22 23:36] Eolykab commented on #1137
I checked on the server. Dokku was not pushing my commits for some reason. It is now working. Thanks

[2019-10-23 18:23] stepanic commented on #1352
@acinader I made the [fork](https://github.com/stepanic/parse-dashboard) today and I have an idea to implement a vertical form for editing rows in the class.

I have followed this instruction:
https://github.com/parse-community/parse-dashboard/blob/master/CONTRIBUTING.md
but I got almost the same errors, like @danielchangsoojones

1. I tried
[code]

Also, I've tried to use `npm install` with the l

[2019-10-25 00:45] mtrezza opened #1358 "Account lockout should be editable in dashboard"
#### Issue
When a user account is locked due to wrong password entered too many times, it cannot easily be unlocked. Customer support may want to unlock the account manually prior to the expiration date, for example upon customer request.

Unlock is currently only possible via edit directly in the database, which is not a practicable.

#### Suggested solution
The field `_account_lockout_expires_at

[2019-10-27 05:19] #1266 closed

[2019-10-27 10:12] pcegarra opened #1360 "Lazy load scroll not working"
Hi, Im using Parse Dashboard 2.0.5 and Parse server 3.9.0 and I cant see more than 200 rows.
Any idea?

[2019-10-28 13:31] bahaa-kallas commented on #1333
@dplewis  any updates on this ? did you manage to reproduce it also ?

[2019-10-31 07:53] suathh opened #1362 "When some columns are invisible I can not edit visible column values"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ X] You're running version >=1.0.23 of Parse Dashboard.

- [ X] You're running version >=2.3.2 of Parse Server.

- [ X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2019-10-31 16:49] #717 closed

[2019-10-31 16:51] dplewis commented on #259
This has been addressed.

https://github.com/parse-community/parse-dashboard#use-read-only-masterkey

[2019-10-31 16:51] #259 closed

[2019-11-11 22:17] #1309 closed

[2019-11-18 09:13] henninghorn commented on #805
+1

[2019-11-18 10:04] codeKonami opened #1383 "Cannot display the app data with the latest Docker image"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=1.0.23 of Parse Dashboard.

- [X] You're running version >=2.3.2 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2019-11-18 10:18] nangyal commented on #1383
same here

[2019-11-18 11:04] nangyal commented on #1383
Until it get fixed you have to specify the docker image like:
parseplatform/parse-dashboard:2.0.5

[2019-11-18 12:12] beiguancyc commented on #805
+1

[2019-11-20 00:45] ShadowCoderPro opened #1384 "Code 141, Error: Parse error: Cannot read property 'apply' of undefined"
I am trying to do a Post Request to register a user.

0|parse    | verbose: REQUEST for [POST] /parse/functions/userRegister: {
0|parse    |   "method": "POST",
0|parse    |   "url": "/parse/functions/userRegister",
0|parse    |   "headers": {
0|parse    |     "host": "localhost:8081",
0|parse    |     "connection": "keep-alive",
0|parse    |     "content-length": "345",
0|parse    |     "pragma":

[2019-11-20 13:00] TomWFox commented on #1384
Duplicate of parse-community/parse-server#6225.

[2019-11-20 13:00] #1384 closed

[2019-11-20 18:01] Simone-cogno commented on #1362
Any plan to fix this? The function of hiding columns is very useful but cannot be used anymore (you should disabled all the hided columns to be able to modify the fields)

[2019-11-20 19:01] #1306 closed

[2019-11-21 11:09] 1987cr commented on #1360
We are having the same issue, the request for the next page fails with this error:

[code]

This is the payload for the request, in case it's helpful:

[code]

[2019-11-21 15:04] cshlxm commented on #1383
have meet the same error

[2019-11-25 14:39] pitxels opened #1391 "Feature Request for Granular Pointer Permissions"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ √] You're running version >=1.0.23 of Parse Dashboard.

- [ √] You're running version >=2.3.2 of Parse Server.

- [√ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2019-11-26 02:13] pitxels commented on #1391
Also the "Require authentication" option would be nice yo have in this modal as well.

[2019-11-28 03:05] LennartHofmann commented on #1383
same here.
i thought i have crashed my enviroment.

[2019-11-29 08:54] #1305 closed

[2019-11-29 09:54] #1320 closed

[2019-12-09 08:16] jzzhrqp commented on #1336
me too,i can not run  npm install -g parse-dashboard.  it is just show me " fetchMetadata: sill resolveWithNewModule parse-dashboard@2.0.5 checking installable status" long long time

[2019-12-09 10:07] jzzhrqp opened #1411 "I can not run npm install -g parse-dashboard"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ yes] You're running version >=1.0.23 of Parse Dashboard.

- [ yes] You're running version >=2.3.2 of Parse Server.

- [ no] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has be

[2019-12-09 10:46] #1411 closed

[2019-12-09 10:48] jzzhrqp commented on #1411
I reinstalled nodejs and it's fine now

[2019-12-09 13:19] Moumouls opened #1412 "Dashboard crash on click security for Class without CLP (created from code)"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2019-12-09 17:20] AntonelloCherry commented on #275
Any news about this? It could be very useful

[2019-12-09 18:25] r2DoesInc commented on #275
Therr is rreally no point to be using Parse these days.

[2019-12-09 18:34] AntonelloCherry commented on #275
Why? Any valid alternative to suggest?

[2019-12-09 19:07] r2DoesInc commented on #275
Firebase? AWS?

On Mon, Dec 9, 2019 at 1:34 PM AntonelloCherry <notifications@github.com>
wrote:

--
[image: photo]
Ken Kyger
Founder, FutureHax Development
<http://www.linkedin.com/in/r2doesinc/> <http://github.com/futurehax>
<http://stackexchange.com/users/1130968/r2doesinc>
<http://twitter.com/r2DoesInc>
  407.965.8510
  ken@futurehax.com
  Skype: r2doesinc <#SignatureSanitizer_SafeHtmlFilter_>

[2019-12-09 22:02] dplewis commented on #275
@r2DoesInc I believe it was decided to make Array and Object fields to be generic as possible. This fixed a lot of decoding issues from the database.

Your feature request is still up for grabs. Unfortunately we don't have enough React developers in this Dashboard repo.

@AntonelloCherry Would you like to open a PR to addressed this? We are more than welcome to help.

Parse is quite active and bet

[2019-12-09 22:42] MobileVet commented on #275
Maybe not for you, but this is a very active community and there are still quite a few people using it.  Yes there are alternatives, but some may prefer to avoid 'the great Google in the sky' or other options and Parse is a strong, open source alternative.

[2019-12-10 06:32] spanapaul opened #1415 "NPM Install fails for Parse Dashboard due to missing file"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ Yes] You're running version >=1.0.23 of Parse Dashboard.

- [YES ] You're running version >=2.3.2 of Parse Server.

- [ Yes] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has b

[2019-12-15 15:58] stepanic commented on #1352
I can confirm that right now on version 2.0.5 at commit:
https://github.com/parse-community/parse-dashboard/tree/ef3f8d91fe7dddc4a2e356eee50079a5a7400bfb

With `node v12.13.1` and `npm v6.12.1`, I am able to start ParseDashboard

[2019-12-17 10:20] stepanic opened #1422 "Add a new column - application crashes"
#### Environment Setup

`clone` from
https://github.com/parse-community/parse-dashboard/commit/8463ceaacccb3b926a8676160d61d45898cca326

`node -v` tried with `v12.13.1` and with `v8.16.2`

`mongodb-runner start`
`npm run server`
`npm run dashboard`

#### Steps to reproduce

Open any class, click to `Add a new column` application crashes

#### Logs/Trace

![Screenshot 2019-12-17 at 11 19 32](https:

[2019-12-18 08:55] davimacedo commented on #1422
Can you please check against latest version on master?

[2019-12-19 05:20] #1348 closed

[2019-12-19 05:20] #1349 closed

[2019-12-19 13:34] stepanic commented on #1422
@davimacedo I've tried to reference the latest commit from the repo but still the same issue:
`"parse-dashboard": "git://github.com/parse-community/parse-dashboard.git#eda2dab64eed7b54bf1ad84b461f3ea12bc09c47",`

[2019-12-19 13:43] stepanic commented on #1422
But it works without issue at:
git://github.com/parse-community/parse-dashboard.git#9684a2412cff2d0b37939fbcf9b16e77a0a9636a
the latest stable release works

[2019-12-19 17:04] jihadkahil opened #1427 "Create Parse DashBoard with limited access"
is there any possibility to create a parse Dash-Board that show only limit classes!
for example, I have 7 class A,B, C, D, E, F, G
I want a user who able to access all of them such as Administrator and another User has access for Classes C F & G! (Only)
and is there any possibility to hide so filed such like username in the class _user

[2019-12-20 18:46] tpimh commented on #937
Just tried with latest version in Docker (last updated 2 hours ago) and Firefox 66. Still reproducible. Doesn't happen with 1.4.3.

[2019-12-21 03:26] davimacedo commented on #1427
That's currently not possible but it would be a great new feature. Is this something that you'd be willed to work on?

[2019-12-21 03:32] davimacedo commented on #1422
What is your Parse Server version?

[2019-12-21 18:26] 404-html commented on #1360
I can confirm I got the same problem.

[2019-12-23 21:18] jihadkahil commented on #1427
@davimacedo Yes! I need it! any suggestions?

[2019-12-26 07:29] davimacedo commented on #1427
Nice! Feel free to open a PR. I will be happy to review.

[2020-01-01 13:29] ashish-naik opened #1436 "Blank screen when adding column Server 3.9.0, Dashboard 2.0.5"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ YES] You're running version >=1.0.23 of Parse Dashboard.

- [ YES] You're running version >=2.3.2 of Parse Server.

- [ YES] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has b

[2020-01-03 14:25] shyim commented on #1422
Same here. Just using both latest docker images

[2020-01-04 10:06] 404-html opened #1437 "Cell editor position is not taking hidden columns into account"
#### Steps to reproduce

1. Hide some columns using "Manage columns" option in Browser;
2. Double click on a cell in a column that supposed to be on the right side of some hidden column.

Cell editor seems to be taking hidden columns into account.
![image](https://user-images.githubusercontent.com/45104241/71763919-27984a80-2ee2-11ea-9e0a-46503f8c5491.png)

It's easy to run into state when editor

[2020-01-06 18:53] ashish-naik commented on #1422
i am facing issue with add column as well but getting different error.

https://github.com/parse-community/parse-dashboard/issues/1436

Running Parse Server 3.9.0 and Dashboard 2.0.5 on heroku free tier.
Started getting this after upgrading Parse server and Dashboard.

[2020-01-07 21:24] mijcon opened #1440 "Loading Dashboard w/ Stopped Servers"
I set up a separate VM on AWS running just parse-dashboard, so my team, our clients and I can access our various projects from a central dash, rather than having each Parse Server running both parse-server and parse-dashboard.

This works beautifully when all of the servers are running, but the dashboard takes FOREVER to load if a server has been turned off. We don't necessarily want non-productio

[2020-01-09 17:22] ashish-naik commented on #1436
@davimacedo Apologies but i didnt get any response so tagged you. Not sure who can help.

[2020-01-11 14:27] ashish-naik commented on #1436
@dplewis Could you please take a look at this?

[2020-01-11 17:09] dplewis commented on #1436
Sure I’ll take a look. I’m in the middle of updating to the latest.

[2020-01-13 03:05] mtrezza commented on #1323
reopen, PR in the works

[2020-01-13 03:06] mtrezza commented on #1323
@davimacedo can you reopen please, PR in the works

[2020-01-14 09:04] davimacedo commented on #1323
Sure!

[2020-01-14 11:00] Moumouls commented on #1412
Resolved:

**Wrong**
[code]

**Good**
[code]

[2020-01-14 11:00] #1412 closed

[2020-01-16 02:36] #1436 closed

[2020-01-16 14:12] Simone-cogno commented on #482
+1

[2020-01-16 14:13] hyamsj commented on #482
+1

[2020-01-20 13:22] priyashpatil commented on #883
it doesn't work if field is required.

[2020-01-27 19:06] macarthuror opened #1459 "Issue with logs pages - t.match is not a function"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-01-28 15:40] marad747 opened #1460 "Empty dashdoard"
my dashboard empty(( http://prntscr.com/qu37ln Help
i used this tutorial https://www.youtube.com/watch?v=4OOnFyXrRvI

[2020-02-01 06:09] paulpilone opened #1463 "Mountpath is incorrect when deployed as serverless express app."
I'm experimenting deploying parse-server and parse-dashboard as serverless express apps in AWS API Gateway/Lambda using the `aws-serverless-express` package. parse-server worked well but I ran into an issue with parse-dashboard.

API Gateway adds a stage value to the path of the API URL e.g. https://abc123-api.us-east-1.amazonaws.com/dev where `dev` is the API stage. Resources are then mapped as p

[2020-02-02 06:18] #1415 closed

[2020-02-04 05:30] paulpilone commented on #1463
I just realized that I can specify the mount path as an environment variable (already) to my Lambda function. Deploying with the Serverless framework for example:

[code]
This is exactly what I needed and allows me to deploy both parse server and dashboard as serverless express apps.

[2020-02-04 13:44] bernardohmr commented on #1460
Hello, I think I have the same issue (check images below).

The network requests all respond with code 200. But the render breakes.

parse-dashboard: 2.0.5
parse-server: 3.9.0
express: 4.17.1

![image](https://user-images.githubusercontent.com/60656778/73749730-b34c0380-473a-11ea-8703-4247e4649afc.png)

![image](https://user-images.githubusercontent.com/60656778/73749808-daa2d080-473a-11ea-81e9-57

[2020-02-11 02:05] davimacedo commented on #1463
What is the env var you are using? `MOUNT_PATH`? I think it is currently the only way. If you think it could have also a better way to do that please feel free to open a PR.

[2020-02-11 02:07] davimacedo commented on #1460
Could you guys please share your package.json and config files?

[2020-02-11 12:09] Wouter125 opened #1470 "Object count is always 0"
#### Environment Setup
I configured my application with the following package.json;

[code]

The parse server is hooked up to a postgresQL database, and everything is working fine. The only issue is, that the number of objects are not counted anymore. For every class it remains 0. If I delete something it turns into -1.

I inspected the network tab and noticed that my class is being fetched twice

[2020-02-11 19:15] #1360 closed

[2020-02-12 00:30] paulpilone commented on #1463
@davimacedo I can test again but I found that the MOUNT_PATH env var wouldn't work when using `aws-serverless-express`. I dug into this a little more today and I don't think it's necessarily a parse issue but rather an API Gateway/`aws-serverless-express` issue.

Looking at the `aws-serverless-express` source you see that it uses the `event.path` get the path used to match mounted apps:

[code]

I

[2020-02-12 03:41] davimacedo commented on #1463
Nice. Thanks for sharing your learnings. It would be great if you could write a doc or a blog post about how to setup parse and parse dashboard for serverless :)

[2020-02-12 04:35] davimacedo commented on #1470
I couldn't reproduce the issue. Could you share all dependencies that you have in your package.json, yoru parse server config and your parse dashboard config?

[2020-02-12 14:57] Wouter125 commented on #1470
Sure!

Full package.json;
[code]

Parse server config and Parse dashboard config. Running from my DO droplet;
[code]

I've stripped out some values and passwords of course. But I think this will do the trick.

[2020-02-12 19:34] davimacedo commented on #1470
Do you see any error message either in your Parse Server or Web browser console?

[2020-02-12 20:37] Wouter125 commented on #1470
I was checking that before, but unfortunately not. Only the warning that I didn't set my push notification locale. That's why I opened this issue. 😬

[2020-02-13 06:16] dplewis commented on #1470
Count operations are expensive operations. In the dashboard we use estimated count.

https://github.com/parse-community/parse-server/pull/5330/files

We should add this information in the read me as I've seen users ask about this before.

[2020-02-13 18:22] paulpilone commented on #1463
@davimacedo I'd be happy to! I'm in the process of trying to migrate my production app (from the old ElasticBeanstalk setup) over to as much of a serverless architecture as I can. If I get that working at a production level I'll definitely write something up since I think it has the potential to reduce costs while still using the Parse suite.

In the mean time I think this issue can be closed sinc

[2020-02-13 18:22] #1463 closed

[2020-02-14 13:22] Wouter125 commented on #1470
Alright, I'll try to add some more rows and see what happens. Rather not force anything!

[2020-02-14 14:15] dplewis commented on #1470
There are certain triggers that will update estimated count. If you are using Postgres check out the thread I posted before or google Autovacuum for PG

[2020-02-15 14:49] Wouter125 commented on #1470
Gotcha. So I just ran `vacuumdb -d deskover -v -f -F` on my database, and now all counts are working correctly. Thank you for all your help and explaining how this works.! 🙏

[2020-02-15 14:49] #1470 closed

[2020-02-16 08:15] #1427 closed

[2020-02-18 11:08] 404-html commented on #1437
Problem is still there.

[2020-02-19 12:22] tutorbear opened #1474 "Push notification details showing N/A"
Hello there, My pushes are being received on my android device and opened too but sadly the push notification details in my dashboard is show N/A. Why is the like that ? I have attached a picture
![image](https://user-images.githubusercontent.com/50081302/74833968-b6eba700-5344-11ea-98b1-d41e0c261bdc.png)

[2020-02-22 15:13] mtrezza commented on #1323
PR merged

[2020-02-22 15:13] #1323 closed

[2020-02-23 16:28] santiagosemhan commented on #1437
@davimacedo there is a PR for this issue

[2020-02-25 03:57] #1437 closed

[2020-02-25 03:58] davimacedo commented on #1437
I've just merged. Thanks for alerting me @santiagosemhan !

[2020-02-26 03:50] grx7 commented on #1054
Can you re-open? Since parse/apps will redirect to parse/apps/app-name/browser/_Role

Dahsboard 2.0.5
v10.19.0

[2020-02-27 00:04] BufferUnderflower opened #1477 "Recent react-redux upgrade breaks dashboard"
recent #1473 bumped `react-redux`. and it turns out `graphql-playground-react` is not compatible with react-redux 6 and above

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has bee

[2020-02-27 21:47] #1352 closed

[2020-02-28 21:37] #1440 closed

[2020-03-03 08:48] Meleuo commented on #1460
hello
 I had the same problem
This is my dashboard profile
![image](https://user-images.githubusercontent.com/48749322/75758215-b1dc1e00-5d6e-11ea-9558-c8d051435771.png)

[2020-03-04 02:51] davimacedo commented on #1460
can you please also share your parse dashboard package.json file?

[2020-03-04 03:13] #1391 closed

[2020-03-04 04:15] #1477 closed

[2020-03-04 08:27] marticols commented on #937
I was using 2.0.5 with Firefox. I downgraded to 1.3.0 for getting rid of the error.

[2020-03-07 01:16] benpackard opened #1491 "Unable to access 'count' CLP from dashboard"
#### Environment Setup

Parse Server 3.9.0
Parse Dashboard 2.0.5

#### Steps to reproduce

After updating to Parse Dashboard 2.0.5 I expected to see a CLP available for controlling `count`access as per https://github.com/parse-community/parse-dashboard/issues/1165. However, I do not see this option for any existing or new classes that I create. Furthermore (and likely as a result), I am unable to

[2020-03-08 16:02] benpackard commented on #1491
This might be a caching issue. I'm noticing that the when I run the updated dashboard locally, the style and feature changes are present but not when pushed to my host (Heroku). The hosted version *does* display as version 2.0.5, but the features and style changes (font, etc) are unchanged from the previous version I had installed (1.4.0). It's likely this isn't a Parse Dashboard issue so I will p

[2020-03-08 17:27] #1491 closed

[2020-03-09 17:24] itzharDev commented on #518
same problem

[2020-03-09 17:27] dplewis commented on #518
@itzharDev can you open a new issue? I’m afraid it would get lost here

[2020-03-10 05:03] CollinsWalker opened #1492 "Why does the login Dashboard display: Cannot GET"
[code]
Why does it show Cannot GET?

[2020-03-10 21:52] davimacedo commented on #1492
Where do you see this error? Can you share the complete error stack?

[2020-03-12 17:45] nvgomez11 opened #1493 "How to Migrate the database? Settings options not shown in the dashboard the only options are Core and Push"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=1.0.23 of Parse Dashboard.

- [X] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-03-15 18:46] mtrezza commented on #1493
The automated migration was a feature of hosted Parse.com.

Migrating a DB is not a feature of Parse Server, because actually it has nothing to do with it.
Migration happens between two DB providers.

From where to where do you want to migrate?

[2020-03-15 23:24] mtrezza opened #1497 "Allow to lock column sorting in data browser"
#### Problem

Currently the data browser allows to easily change the sorting of data by click on a column.
This is practical for small data sets, but can pose a problem for large data sets.
(Accidentally) clicking on a column of a collection with tens of millions of docs can trigger a collection scan, use up all the hardware resources and bring down the DB.

#### Solution

It should be possible to

[2020-03-17 22:21] nvgomez11 commented on #1493
I want to migrate from the parse database to the one you can use as an Addon in Heroku, mLab.
According to this video, look at the minute 6:05:

https://www.youtube.com/watch?v=saETLm5nr8w&t=375s

All I have to do is to go to parse-dashboard, then the app setting and finally migrate it to a external database. My problem is that when I enter to the dasboard I only see 2 options Core and Push. I'm n

[2020-03-17 23:57] mtrezza commented on #1493
The reason why you don't see "App Settings" is because that option existed on hosted Parse.com.

Parse Server has since become open source. Non-essential features did not make it to open source. Database migration is one such feature.

More info [here](http://docs.parseplatform.org/parse-server/guide/#compatibility-with-parsecom).

[2020-03-23 13:15] edson-gaspar commented on #1460
Hello,
I solved this issue on my Mac (safari & firefox) cleaning ALL related data stored on my browsers related to domain hosted parse dashboard (cookies, local storage, session storage, cache, etc).

On Safari you can go to Safari Menu -> Preferences -> Privacy -> Manage site data, them search for domain or localhost if is your case, select the desired domain and click on Remove All, after that,

[2020-03-26 06:27] #1492 closed

[2020-03-26 06:34] CollinsWalker commented on #1460
My one is also logged in and blank

[code]
This is my parse server package.json file

[https://s1.ax1x.com/2020/03/26/GSYN4J.png](url)

How does this need to be addressed

[2020-03-26 10:39] mao720 commented on #1460
My dashboard empty at first,
when i start the dashboard ,i change the param

to

 this issue gone.
Use your domain instead “localhost”.

[2020-03-27 06:11] omarojo opened #1505 "How to logout of Dashboard in 1.4.3"
1.4.3 of the Dashboard has no LOGOUT button anywhere ?

![image](https://user-images.githubusercontent.com/995265/77727193-f9914680-6fb6-11ea-8736-ade2f88c5c20.png)

[2020-03-29 20:59] m4ary commented on #1460
i have the same problem

[2020-03-30 17:46] cr0ybot opened #1506 "Edge: JS bundle chokes on spread operator"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [✓: 2.0.5] You're running version >=1.0.23 of Parse Dashboard.

- [✓: 3.9.0] You're running version >=2.3.2 of Parse Server.

- [✓] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue

[2020-04-03 00:26] #207 closed

[2020-04-07 15:25] mtrezza commented on #1323
@davimacedo When can we expect the next release? I would like to see this feature added.

[2020-04-07 15:29] mtrezza commented on #1505
It should be at the bottom:

![image](https://user-images.githubusercontent.com/5673677/78688165-44835600-78f5-11ea-9811-a72728e3d2be.png)

If it isn't you can upgrade to 2.0.4 from where I took the screenshot.

[2020-04-07 15:33] mtrezza commented on #1474
Push opens are an Analytics feature. Analytics is not included in open source Parse Server.

[2020-04-08 00:32] davimacedo commented on #1323
Go for it @TomWFox . We have a lot of good stuff here ready to be released.

[2020-04-08 20:39] TomWFox opened #1515 "Any reason for not forcing squash and merge?"
I'm just working on the chnagelog for a new release and I noticed that the commit history is a bit messy. It turns out merge commit is allowed on this repo.

@dplewis @davimacedo any particular reason for this?

[2020-04-08 20:48] dplewis commented on #1515
This can sometimes happen if you are on mobile and the default can be merged instead of squash. I’ve seen it happen a few times. My devices are set to squash

[2020-04-08 21:33] TomWFox commented on #1515
Ah, good to know. We could disable merge commit so it's not used by mistake, it's easy to switch back on If needed.

[2020-04-09 00:47] dplewis commented on #1515
I agree

[2020-04-09 07:52] TomWFox commented on #1515
Done.

[2020-04-09 07:52] #1515 closed

[2020-04-09 12:39] W0lfw00d opened #1517 "Custom FileAdapter breaks dashboard"
When adding a custom FileAdapter (works as expected) in parse-server it generated a server error in the dashboard.

_"TypeError: Converting circular structure to JSON"_

This seems to be the reason:
![image](https://user-images.githubusercontent.com/442242/78896406-b9c76600-7a70-11ea-8966-97ddfa74fad6.png)

#### Environment Setup
node 13.0.1
npm 6.13.1
parse-dashboard 2.0.5
parse-server 4.2.0

###

[2020-04-11 21:36] claireebilski commented on #536
I don't have a apps/parse/htdocs directory and in server.js I just see app ID and master key for parse-server, not parse-dashboard... anyone have an idea of where to get these credentials for parse-dashboard?

[2020-04-11 22:25] TomWFox commented on #536
Hi,

The `appId` and `masterKey` in your server.js files are the only ones you need. When you launch your Parse Dashboard these are the keys you use to authenticate with your Parse Server.

Please see the [getting started section](https://github.com/parse-community/parse-dashboard#getting-started) for the Parse Dashboard for more info.

[2020-04-14 10:26] kulshekhar commented on #518
I just hit this issue. The solution is to change

[code]
to
[code]

[2020-04-15 09:41] marckkh opened #1528 "problem installing parse dashboard"
C:\node\dashboard>npm install parse-dashboard
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno -4058
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t ssh://git@github.com/timsuchanek/codemirror-graphql.git
npm ERR! enoent
npm ERR! enoent
npm ERR! enoent spawn git ENOENT
npm ERR! enoent This is related to npm not being able to find a f

[2020-04-15 18:37] azadprajapat opened #1530 "blank screen while opening local host:3000"
body-parser deprecated undefined extended: provide extended option app.js:19:20
(node:2428) [DEP0025] DeprecationWarning: sys is deprecated. Use util instead.
Express server listening on port3000

[2020-04-15 18:42] davimacedo commented on #1530
Can you please fill out the issue [template](https://github.com/parse-community/parse-dashboard/issues/new)?

[2020-04-15 18:42] #1530 closed

[2020-04-19 10:06] JorisGanne commented on #536
I have the same problem...I have already an application and tried to find the app credentials by "cd apps/parse/htdocs/" but get the error: -bash: cd: apps/parse/htdocs/: No such file or directory. Can someone help me?

[2020-04-19 15:26] claireebilski commented on #536
I had to cd into stack, then parse-dashboard, and run vi config.json to find the appId and masterkey along with the user credentials.

If you want to edit the user credentials you have to use the command :w! sudo tee % to save your edits to the file and override the read only permissions if the file!

Hope this helps.

[2020-04-21 06:53] JorisGanne commented on #536
Thank you! It has helped me a lot!

[2020-04-21 07:21] syampsijk commented on #806
So only change i need to do is add cookieSessionSecret value in options ?

Should session secret value be a fixed value
var options = {
allowInsecureHTTP: true,
cookieSessionSecret: 'fixedvalue'
};

[2020-04-22 19:14] bash862 commented on #1528
Me too; some update? I found this same issue but don't explain how to resolve the error:
https://github.com/parse-community/parse-server/issues/6493

[2020-04-23 03:18] davimacedo commented on #1528
Can you please share your package.json?

[2020-04-23 04:20] marckkh commented on #1528
there is no package.json
package.json file is not generating
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\parseDashboard>npm install parse-dashboard
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno ENOENT
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t ssh://git@github.com/timsuchanek/

[2020-04-23 04:22] marckkh commented on #1528
@davimacedo

[2020-04-23 07:22] davimacedo commented on #1528
I've just successfully installed using this version of npm and node in Mac. I believe it is some problem happening in Windows when using npm to install packages from github. Could you please try to update git to the latest version and also share the version that you are using?

[2020-04-23 10:03] bash862 commented on #1528
I have updated Git to the last version (git version 2.26.2.windows.1) and after that i tried to install the parse dashboard with npm and the installation completed without error.

[2020-04-23 10:51] greenkeeper[bot] opened #1535 "An in-range update of node-sass is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [node-sass](https://github.com/sass/node-sass) was updated from `4.13.1` to `4.14.0`.

🚨 [View failing branch](https://github.com/parse-community/parse-dashboard/compare

[2020-04-23 17:33] davimacedo commented on #1528
Nice. Thanks for your feedback @bash862 . @marckkh  could you please confirm if it works for you as well?

[2020-04-26 07:07] marckkh commented on #1528
@davimacedo
it works correctly after installing git in windows server 2012r2

many thanks

[2020-04-27 14:41] bahaa-kallas commented on #1333
closing because its no longer relevant for me but i am still not sure what is the problem

[2020-04-27 14:41] #1333 closed

[2020-04-27 15:44] Supernaturalperson opened #1538 "Parse Server Customization"
We need help with Parse dashboard customizations. Essentially we are looking to find a way to be able to make a new app using the Parse dashboard. If there is some guide for that?

Much appreciated Cheers

[2020-04-27 18:48] TomWFox commented on #1538
Hi, this is a duplicate of [this topic](https://community.parseplatform.org/t/making-new-app-in-parse-from-dashboard/226/8) on the community forum. That was the best place to ask this type of question. We ask people to refrain from cross-posting as it can waste the time of maintainers.

[2020-04-27 18:48] #1538 closed

[2020-04-28 00:04] nangyal opened #1541 "The docker image generation has stopped"
Just a notice

The docker image generation has stopped
https://hub.docker.com/r/parseplatform/parse-dashboard/builds

and

The node js 8 had End Of life since 2019-12-31
https://github.com/nodejs/Release

maybe it is time to switch to node js 10 or even 12
https://github.com/parse-community/parse-dashboard/blob/master/Dockerfile

Regards
Norbert

[2020-04-28 10:32] marckkh commented on #1528
@davimacedo  @bash862
it works correctly after installing git in windows server 2012r2

many thanks

[2020-04-30 05:21] davimacedo commented on #1528
Nice, Thanks for the feedback.

[2020-04-30 05:21] #1528 closed

[2020-05-03 20:40] b4ssey commented on #536
OMG! I've seen what I've been looking so dearly for. Thank you

[2020-05-05 22:20] mtrezza opened #1544 "cannot copy value from selected field in data browser"
#### Issue
Value cannot be copied anymore with single clicking on a field in the Data Browser and hitting the copy shortcut. The field now has to be double clicked for the value to be copied. Seems to be since v2.1.0.

#### Environment Setup
- Parse Dashboard 2.1.0
- Browser Safari Version 13.1 (15609.1.20.111.8)

#### Steps to reproduce
1. Open Data Browser
2. Select a field
3. Hit Ctrl + C
4. Ch

[2020-05-06 21:01] mtrezza commented on #1544
Not sure why, but it works again. The status message in the right bottom corner "Value copied to clipboard" appears again. It didn't appear for hours. Will close for now and re-open if necessary.

[2020-05-06 21:01] #1544 closed

[2020-05-07 16:54] navjots18 opened #1545 "Unable to view/download images from parse dashboard"
![Screenshot (3)](https://user-images.githubusercontent.com/52128306/81322147-2609a980-90b1-11ea-90e0-a5ac59c0cfa8.png)

I am making an app where users can upload images , i can only view these images from the device they were uploaded from and not from other devices and parsedashboard , how can i fix this?

[2020-05-08 19:11] mtrezza commented on #1545
As you cannot open the URL, this seems to be an issue with the configuration of the file adapter of Parse Server. Compare the URL of the image which the client can open with the URL of the image in your browser.

However, this is not an issue with Parse Dashboard. Please post code level questions on Stack Overflow using the [parse-platform](https://stackoverflow.com/questions/tagged/parse-server)

[2020-05-09 01:27] #1493 closed

[2020-05-09 16:47] aakash-gavle commented on #536
how can I get master key ,appid, and other ids .. I'm using windows os and I'm stuck on this problem from the last 2 days pls help me.

[2020-05-13 14:05] b4ssey commented on #536
@aakash-gavle Type cd stack/parse-dashboard/ .Then vi config.json

[2020-05-13 16:44] aakash-gavle commented on #536
Thankyou  so much b4ssey

[2020-05-18 02:57] mtrezza commented on #1460
I was able to reproduce this:

1. Clone repository (it has to be a new clone from the current master)
2. Delete `node_modules` and `package-lock.json`
2. npm install
2. Published to AWS
3. Dashboard launches as expected according to nodejs logs
4. Opening the dashboard URL redirects to `/login`
5. Page is blank:

       <!DOCTYPE html>
        <head>
          <link rel="shortcut icon" type="image

[2020-05-18 22:11] mtrezza commented on #1460
The reason why Parse Dashboard is showing a blank page when deploying to AWS Elastic Beanstalk is that these files are in `.gitignore`:

[code]

For AWS EB CLI this means that the files are not deployed as part of the application. The solution is to either remove the files from `.gitignore` or add a `.ebignore` file so that the AWS CLI ignores the `.gitignore` and deploys all files.

From the [doc

[2020-05-22 06:59] #1506 closed

[2020-05-23 20:42] gregorskii commented on #1528
This occurred for me when my Docker image (node-slim) did not have git.

[2020-05-26 00:55] davehibshman commented on #1459
Having same problem running on local Ubuntu 20.04 box:
parse-dashboard: 2.10.0
parse-server: 4.2.0
express: 4.17.1

[2020-05-28 12:00] Simone-cogno commented on #307
Any news on this feature? It can be very useful as collaborators do not need to login into the server and mess with commands on the database.

[2020-05-30 06:52] #1505 closed

[2020-05-30 06:52] #1474 closed

[2020-06-02 16:03] kiranshendre opened #1551 "Data browser shows only first 200 records"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-06-02 19:20] danielsanfr commented on #1336
Hello people. Thanks for the great job done at Parse.

I am getting the same warning, and I would like to know if it is possible to update lib graphql-playground-react.

**From what I looked at in the library repository she has already fixed this problem. I believe that it is only necessary to update the dependency.**

Below are some images that show the problem.

![Screenshot from 2020-06-02 16-0

[2020-06-03 07:52] SebC99 opened #1552 "It's no more possible to set CLP to pointers in version 2.1.0"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-06-03 19:30] kiranshendre commented on #1551
Any help on this please?

[2020-06-10 06:08] Tapaniya25 commented on #159
I followed these steps when i try to open [this link](https://testapp.herokuapp.com/parse). Browser redirects me to [here] (https://testapp.herokuapp.com/apps/testapp/browser). Not showing parse database.

[2020-06-10 12:54] Tapaniya25 opened #1553 "Failed on deploy in heroku"
I have set my value in Parse-Dashboard/parse-dashboard-config.json then i push git on my account. After try to deploy on herocku, But got below error, So, i change value to `"scripts": {"start": "node ./Parse-Dashboard/index.js --config ./Parse-Dashboard/parse-dashboard-config.json --allowInsecureHTTP=1"}`. Then also getting same error.
I have attached logs
[Herocku Logs.txt](https://github.com/pa

[2020-06-13 08:32] hrahimi270 opened #1554 "Any plan to refactor the project?"
Hi guys.
I'd take a look at the source code, I thought it would be better if refactor it with new approaches.
What do you think?
Do you accept PR for this?

[2020-06-15 08:23] #1553 closed

[2020-06-16 09:22] halitguvenilir commented on #842
@bcopmt143 Thanks idea ;)

[2020-06-16 16:01] djlauk opened #1555 "Module not found: Error: Can't resolve 'crypto-js/aes'"
Running `npm install` fails with an error complaining that node module `crypto-js/aes` cannot be found.
As a consequence, building the docker image fails as well.

**Additional information**

I could verify that multiple versions of `crypto-js` have been installed:

[code]

I further verified, that both `parse-server` and `Parse-SDK-JS` can be built from source.

**Temporary workaround**

Running

[2020-06-19 17:39] mtrezza commented on #1554
Hi @hrahimi270, what specifically did you have in mind?

[2020-06-20 15:37] mess-lelouch commented on #1555
Hitting the same issue and tried @djlauk workaround and it worked. I think the reason it worked is because `npm dedupe` seems to bring `crypto-js` dependency to the top of the node_modules directory hierarchy and then webpack can find it.

So for instance, if I instead change the webpack configuration file from

[code]
to
[code]

it also works as well since the current configuration seems to limit

[2020-06-21 14:01] hrahimi270 commented on #1554
Hi @mtrezza.
I thought maybe using new features of React.js like Functional Components and Hooks or Context API.
Mostly refactor the components I was thinking too.

[2020-06-28 00:49] #1535 closed

[2020-07-02 03:44] hafiz013 opened #1557 "How to get live data between server and apps android"
Hi this general question, how do apps android live data changes happen in server into android. For example, i do apps bidding which is required data always get update. So when someone bidding, others should get data automatically. So how to do that?

[2020-07-02 23:07] TomWFox commented on #1557
For realtime applications you can use Parse Live Query - there is a [Android Live Query SDK](https://github.com/parse-community/ParseLiveQuery-Android) amongst others.

I'm going to close this as it's not appropriate on this repo - we use GitHub issue tracking for bugs and feature requests. If you have further general questions you can use our [community forum](https://community.parseplatform.org)

[2020-07-02 23:07] #1557 closed

[2020-07-03 03:37] #1545 closed

[2020-07-04 15:26] mohanadshaban commented on #474
Same Issue here !
so how colud i migrate my old database ? if mongoimport will malform my data !

[2020-07-07 04:48] gagansarwara commented on #536
Thank you sooo much

[2020-07-08 04:30] JeffGuKang opened #1563 "Cannot set hours and minutes in Calendar popup"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.
2.1.0

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been

[2020-07-09 04:20] jdillick opened #1565 "Navigating to relation table from class with same field name but different type can cause React exception."
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-07-09 06:27] kiranshendre commented on #1551
@douglasmuraoka Could you please suggest here, am I missing anything?

[2020-07-09 17:04] jdillick commented on #1565
@TomWFox @davimacedo @dplewis @acinader Just mentioning some folks to note this includes a simple PR [1564](https://github.com/parse-community/parse-dashboard/pull/1564). Just hoping to get a little traction.

It took me a number of hours to troubleshoot to track down the root cause, but the fix ended up being very simple.

We love the project. Cheers!

[2020-07-11 02:06] #1460 closed

[2020-07-14 23:34] #1565 closed

[2020-07-17 15:45] mess-lelouch commented on #1552
@SebC99  I could be wrong, but last time I checked it was possible to set pointer CLPs. I think you just have to press `Enter` once you select the pointer on the dropdown list. Let me know if that helps.

[2020-07-19 21:49] zanderisrael commented on #1331
I'm new to this project but I can try and help, is A-C ready for me to work with?

[2020-07-20 03:56] DevDorrejo opened #1574 "[Docker and npm] dashboard loading blank page"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-07-20 23:38] mrmarcsmith commented on #1331
Hi @zanderisrael nope! There was no point without someone to help with  D. Dashboard.

[2020-07-21 07:52] zanderisrael commented on #1331
Ok, so keep me posted, im ready :)

[2020-07-21 23:34] JeffGuKang commented on #1563
It is possible edit the time by only editing text without using the calendar UI.

[2020-07-23 23:22] DevDorrejo commented on #1574
found that this error is how are the configuration on apache, but have not found how to configure the apache.

how can i enable dashboard to access from a subdomain?

if i create a tunnel with ssh -L, will work.

http://127.0.0.1:4040
![image](https://user-images.githubusercontent.com/7697566/88347841-c1f29b00-cd19-11ea-9cad-b1918338c337.png)

docker run -d --network=host parseplatform/parse-dashb

[2020-07-26 22:36] sergous opened #1577 "Toolbar overlaps page title"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-07-27 07:37] yuenlye commented on #1528
This happens when I try to deploy to Google App Engine. Any idea how to resolve this?

[2020-07-27 15:46] therealsujitk commented on #842
@bcopmt143 Yes! This worked like a charm... tho i'm curious to why there was this error in the first place :thinking:

[2020-08-12 12:26] suathh opened #1584 "If role and username is same it causes a conflict"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X ] You're running version >=1.0.23 of Parse Dashboard.

- [ X] You're running version >=2.3.2 of Parse Server.

- [ X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2020-08-12 15:51] zanderisrael opened #1585 "Unable to select other month then current month when adding a column via dialog"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [v ] You're running version >=1.0.23 of Parse Dashboard.

- [ v] You're running version >=2.3.2 of Parse Server.

- [v ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2020-08-15 19:50] #1554 closed

[2020-08-24 08:44] farzadi commented on #1574
I have the same problem and it just shows a blank page
![error](https://user-images.githubusercontent.com/3613087/91023204-7f1f2e00-e60b-11ea-83db-212ea962c35b.png)

[2020-08-28 14:34] #1574 closed

[2020-09-03 01:47] motte commented on #1563
I can confirm you can edit the time by only editing the text.  You can also _tab_ into the fields and edit the time.  Must be a bug in the date selector component.

[2020-09-03 01:51] motte commented on #1563
Clicking anything other than the current month's date causes the component to dismiss.  This could be an issue of scope in the onclick listener to dismiss event.  Does anybody know what react component this is off the top of their heads?

[2020-09-08 19:01] abraaocaldas opened #1593 "Viewing a large table render server locked trying to read data"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=1.0.23 of Parse Dashboard.
Version 2.1.0
- [X] You're running version >=2.3.2 of Parse Server.
Version 4.3.0
- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that

[2020-09-14 20:05] nickpnmrv commented on #729
Hey @viniciusersouza ,
any progress on that? Can I support you there? We have a similar situation using parse dashboard for a project.
Best,
Nick

[2020-09-19 19:07] #1577 closed

[2020-09-29 00:49] difelice commented on #1552
I think `class_permissions` schema was updated recently on Server:

Server `3.10.0`
[code]

Server `4.3.0`
[code]

[2020-09-29 16:39] benjaminchevoor opened #1596 "Parse Dashboard only showing a blank white page"
_Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!_

- [✔] _You're running version >=1.0.23 of Parse Dashboard._

- [✔] _You're running version >=2.3.2 of Parse Server._

- [✔] _You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has bee

[2020-09-29 16:43] benjaminchevoor commented on #1596
In writing up this original post I actually solved the issue. (Don't you love it when that happens, Mr. Rubber Duck?) But I wanted to post it anyway so I can share what I learned.

For me, the issue was in the environment variable `PARSE_DASHBOARD_SERVER_URL=http://localhost:1337/parse`.

Because I was accessing the server from another system on the network, I needed to fix this to be the IP addre

[2020-09-29 16:43] #1596 closed

[2020-10-08 18:32] nstrelow commented on #1541
Anything somebody can do here?
How can we start it again?

[2020-10-08 18:35] nstrelow opened #1602 "Maintenance?"
Hey is the dashboard still mainainend by anyone?

Most issues get just stale bots response.

6 open PRs

Docker builds fail since 2.1.0.

No new release for 3 fixes (maybe that is not needed).

Can anything be done to get this back up to speed?

[2020-10-08 21:49] davimacedo commented on #1602
It would be good to have more people helping to maintain this repo. Are you interested in helping?

[2020-10-10 19:55] difelice commented on #1541
This might solve it too: https://github.com/parse-community/parse-dashboard/pull/1605

[2020-10-12 03:06] #1584 closed

[2020-10-12 03:06] #1585 closed

[2020-10-12 12:15] difelice commented on #1383
Docker Hub now has the `latest` build. It has been stuck for 6 months:
https://hub.docker.com/r/parseplatform/parse-dashboard/builds

[2020-10-12 12:17] codeKonami commented on #1383
Great thanks!

I'm closing this issue then.

[2020-10-12 12:17] #1383 closed

[2020-10-12 14:21] difelice commented on #1541
This was solved via https://github.com/parse-community/parse-dashboard/pull/1605

[2020-10-12 16:31] #1541 closed

[2020-10-15 21:33] #1555 closed

[2020-10-26 16:11] cbaker6 commented on #1602
@nstrelow though there hasn’t been an official release, you can access the latest updates on docker by using the “latest” tag which works fine from my usage. https://hub.docker.com/r/parseplatform/parse-dashboard/tags

[2020-11-01 07:42] #1563 closed

[2020-11-01 07:42] #1593 closed

[2020-11-08 09:00] dblythy opened #1618 "FR: Specify FeaturesRouter per user"
I really like Parse Dashboard, and I'd really like to use it to share with my clients to allow them to manage their parse instances. However, there are a few changes I'd like to add:

**Specify Features per user**
I'd like to change which subsections are available depending on which user logs in. For example, some users I only want to be able to view /logs, whilst others the full dashboard.

**Spe

[2020-11-08 13:06] zivchen opened #1619 "Dashboard - logs page - crashes on Mongo DB erros"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=1.0.23 of Parse Dashboard.

- [X] You're running version >=2.3.2 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-11-09 12:09] nstrelow commented on #1602
Nice seeing some activity again.
Sadly I have not used dashboard in parse enough to make informed decisions on open PRs.
Thanks for doing your best :D

[2020-11-09 18:23] #1602 closed

[2020-11-11 07:33] ptthien1012 commented on #46
<3

[2020-11-17 14:34] dblythy commented on #856
If you'd like to reopen this, I'm happy to work on it @TomWFox.

[2020-11-18 17:02] dblythy commented on #1618
Also related to #1427

[2020-11-18 18:19] #172 closed

[2020-11-26 16:28] dblythy opened #1627 "Better Support for Arrays and Objects"
The current version of Parse Dashboard stringifies and Array or Object, which I think could be improved.

I'm currently working on a PR for my own use case.

This feature will need to continue to evolve overtime to support more complex data structures. I think this is a good start for now, and I only have the capacity to improve the dashboard to my data requirements.

Current:

![Screen Shot 2020-

[2020-11-28 22:56] viniciusersouza commented on #729
My bad @nickpnmrv , a LOT happened since May 24, 2019 and I wasn't able to either continue this translation or any other personal project - totally consumed by my regular work. So, yeah, no progress on my part since then - sorry.

[2020-12-07 00:48] cjbland opened #1630 "Viewing relations on a class with a sorted column sometimes fails"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2020-12-21 15:41] Amandinepm opened #1632 "The last lines of the list are duplicated in my Dashboard."
Hello,

✅ In Parse, in the Dashboard entry in browser section, when I filter via the domain tab and my screen is full screen, then I don't have any display problems.

❌ In Parse, in the Dashboard entry in browser section, when I filter via the domain tab and my screen is not full screen, then I have a serious display problem. The last lines of the list are duplicated in my Dashboard.

We are on 2.

[2020-12-21 23:05] camdagr8 commented on #1517
Closing an issue because it's 'stale' seems shady, but whatever.

[2020-12-22 21:18] jdillick commented on #1517
We ran into pretty much this exact same issue with a custom FilesAdapter. I think you can get this error to go away by just omitting the filesAdapter property when you instantiate the ParseDashboard. Node/Express doesn't like serializing circular references in json responses.

We were reusing the Parse server config to also be the base configuration for the parse dashboard, but this meant that the

[2020-12-22 21:59] mtrezza opened #1633 "Dependency on codemirror-graphql branch"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.
- [x] You're running version >=2.3.2 of Parse Server.
- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reporte

[2020-12-24 13:53] zivchen commented on #1619
Still happening

[2021-01-06 21:11] Nes-si commented on #1633
Seems like this issue makes it impossible using **parse-dashboard** in project if you have new npm version.
`npm i` finishes with an error:

[code]

[2021-01-06 22:13] sagerio opened #1637 "Dashboard doesn't show object count"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

Parse Dashboard version: 2.1.0
Parse Server version: 4.5.0

#### Environment Setup

node version 12.20.1
OS Ubuntu 20.04.1

I don't know if I'm doing something wrong or it's a bug: The object count for every class is zero, although there are rows in the classes (see screenshot, a

[2021-01-10 18:42] mtrezza commented on #856
Maybe this can now be easily achieved with https://github.com/parse-community/parse-server/pull/7079.

[2021-01-13 03:15] tristanyi opened #1639 "Install error on npm 7"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-01-13 07:20] sagerio commented on #1637
Solved when using MongoDB instead of postgres as backend

[2021-01-13 07:20] #1637 closed

[2021-01-14 22:28] cyb3rko commented on #1637
It also appears when you only refresh an empty class page and new rows get listed.

[2021-01-18 19:43] FELS-Zak commented on #1459
I've never had any logs -
How do you build this dashboard once you make a change ?

[2021-01-18 23:40] FELS-Zak opened #1644 "License"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x ] You're running version >=1.0.23 of Parse Dashboard.

- [x ] You're running version >=2.3.2 of Parse Server.

- [x ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been re

[2021-01-19 22:18] dplewis commented on #1644
Its a BSD license.

https://github.com/parse-community/parse-dashboard/blob/master/LICENSE

You can use it in your commercial product. A lot of users have done this.

[2021-01-19 22:35] FELS-Zak commented on #1644
Thank you.The server is specified as bsd cannot see the same on the dashboard..But i really want to make sure :)Sent while mobile from a small screen with big fingers..excuse the typos
-------- Original message --------From: Diamond Lewis <notifications@github.com> Date: 19/01/2021  22:18  (GMT+00:00) To: parse-community/parse-dashboard <parse-dashboard@noreply.github.com> Cc: Zakir Hoosen <source

[2021-01-20 00:56] dplewis commented on #1644
The Server has a BSD 3 Clause vs BSD license here

[2021-01-20 00:57] #1644 closed

[2021-01-20 01:00] FELS-Zak commented on #1644
Ok  thank you !

[2021-01-24 16:42] elrumo commented on #1639
I'm also having issues installing parse-server from NPM. I get dependancy errors.

[2021-01-24 20:13] vitalii-bulyzhyn opened #1648 "Add array of files"
I've been using Parse-Dashboard for a couple of projects and there is a feature I really miss:

Sometimes I need to add few pictures to the entities in my db, and there is absolutely no problem with this. However there is no way to properly manage this kind of stuff on the parse-dashboard (it will be shown just as basic array of objects and you cannot modify it).

Is that is a feature worth adding

[2021-01-25 07:01] davimacedo commented on #1648
Yes. I think so. Would you be willed to send a PR?

[2021-01-25 09:18] beppemac commented on #1633
I solved by deleting the `node_modules` folder and `package-lock.json` file and finally run `npm i`.

[2021-01-25 21:27] vitalii-bulyzhyn commented on #1648
Of course

[2021-01-25 22:48] Nes-si commented on #1633
It's not a solution. The problem deals with new npm version (v7) which installs peer-dependencies. You obviously used npm v6 or earlier.

[2021-02-11 18:07] OpConTech opened #1653 "Time for a parse-dashboard Guide?"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=1.0.23 of Parse Dashboard.

- [X] You're running version >=2.3.2 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-02-11 18:21] mtrezza commented on #1653
Thanks for suggesting.

This has been discussed recently and due to the increasing complexity of Parse Dashboard this could help to onboard new users as well as help existing users to get familiar with new or more complex features.

Maybe this could also be an opportunity to try out a new docs framework.

[2021-02-11 18:39] OpConTech commented on #1653
Exactly. Going further with making complex features easier to understand by adding a parse-dashboard guide is the gist of my feedback.

I knew from the "permission denied" error code that I had an issue. But was it ACL, CLP or Protected Fields?  So I jumped into parse-dashboard and found the new Security tab which was great. But even with that new feature I was unable to resolve my issue. Once I s

[2021-02-11 19:19] mtrezza commented on #1653
Just a suggestion because I see some shortcomings in the usability, layout and functionality of the current guides. Ideally there is only one guide for all SDKs instead of separate docs per SDK with some common pages. Hence I'm suggesting if there is a better framework we want to transition to, this could be a starter.

[2021-02-13 06:53] moneppo commented on #1633
Originally I got stuck believing that `--legacy-peer-deps` would work until this package was upgraded. I was able to downgrade to `npm@16.14.11` to work around this issue.

[2021-02-13 16:24] dblythy commented on #1648
Already WIP at #1650 😊

[2021-02-13 16:25] dblythy commented on #1648
(Possible duplicate of #1627)

[2021-02-13 20:55] ritterb82 commented on #1633
Same problem.  Can't run parse dashboard with latest npm version.

[2021-02-13 21:03] ritterb82 commented on #1633
Just wanted to point out the version should be 6.14.11.  ( not 16.14.11 )

[2021-02-19 12:36] stepanic opened #1656 "GraphQL versions mismatch between latest ParseServer and latest ParseDashboard"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-02-22 18:16] dplewis opened #1658 "null values showing in dashboard"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [ ] You're running version >=1.0.23 of Parse Dashboard.

- [ ] You're running version >=2.3.2 of Parse Server.

- [ ] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-02-22 18:50] architectcodes commented on #1633
Just weighing in to let you know this makes for a pretty disappointing first impression when getting started with Parse Server and the stable version of Node.js and npm 😬

[2021-02-22 20:05] mtrezza commented on #1633
Thanks everyone for pinning this down. I think we should add a [compatibility table](https://github.com/parse-community/parse-server#compatibility) just like we have for Parse Server and ideally add CI tests to detect such incompatibilities.

[2021-03-02 16:32] mtrezza commented on #1633
For convenience, this is how to downgrade from npm 7 to 6 on macOS using brew:
[code]

[2021-03-03 12:11] stage88 commented on #1633
Would it work if we upgrade dependancy `graphql-playground-react`. It seems to be the one which breaks the install. See my comment here https://github.com/parse-community/parse-server/issues/7090#issuecomment-789659616

I dont have much experience with graphql, but I can try tomorrow. Its getting late here in AUS.

[2021-03-03 12:13] mtrezza commented on #1633
Thanks for trying this out. If we can't find a solution, we may have to either fork and maintain our own to bypass the prepare script or remove the playground all together.

[2021-03-06 17:09] mtrezza opened #1665 "Add Security Check page"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Current Li

[2021-03-16 13:13] dukejob opened #1668 "dashboard fetchNextPage bug"
**master/src/dashboard/Data/Browser/Browser.react.js**
![微信截图_20210316210430](https://user-images.githubusercontent.com/66236989/111313372-3d370180-869b-11eb-9686-1858ea3e1094.png)

the **field** come from **ordering** (which may start with '-'，such as，'score' & '-score'）
but the last row data object do not have a field '-score'.
![微信截图_20210316211042](https://user-images.githubusercontent.com/662

[2021-03-16 23:53] davimacedo commented on #1668
Thanks for reporting @dukejob . Would you be willed to open a PR with the fix?

[2021-03-17 13:30] ivegner commented on #1656
I worked around this by making a dummy npm package, adding `parse-dashboard` as a dependency, and calling `parse-dashboard` via the `npm start` script.

[2021-03-18 04:35] beiguancyc commented on #1336
Me too

[2021-03-18 13:11] stepanic commented on #1656
@ivegner thanks, this is the nice workaround but still this issue should be solved because when running Parse Dashboard as separate process it should be mounted to the different port but for example Heroku or Google Cloud Run could expose process to some endpoint from one Docker Container only for one process not for both ParseServer and ParseDashboard :(

My workaround was to completely remove `p

[2021-03-19 03:23] evtimmy opened #1671 "Tag latest release docker images with release version in addition to 'latest'"
Currently:
The latest release right now is 2.1.0 and on docker hub we only see last release '2.0.5' as well as 'latest'

Expected:
Docker hub should have '2.1.0' tagged image as well. This allows developers to have a fixed-version dependency on the most up-to-date release (at point of time when creating/testing the resource using the image).

[2021-03-22 21:43] siempay commented on #1639
I am having same problem right now !

[2021-03-22 21:55] dplewis commented on #1639
Can you try ignore scripts flag on install?

npm install --ignore-scripts

[2021-03-22 22:05] siempay commented on #1639
Just tried it and it failed too
[code]

[2021-03-27 16:19] elijahjcobb commented on #1633
Can confirm this is still an issue with the latest versions of everything.

[2021-03-29 14:37] dblythy commented on #1639
I too, get the same error as @siempay.

1. Create a `package.json` file in a new directory with the contents:

[code]

2. run `npm install`, or `npm install --ignore-scripts`

[2021-04-05 03:00] rakuemoevi commented on #1633
I can confirm i'm not able to deploy to heroku getting error message:
/usr/bin/git ls-remote -h -t ssh://git@github.com/timsuchanek/codemirror-graphql.git
remote:        npm ERR!
remote:        npm ERR! Host key verification failed.
remote:        npm ERR! fatal: Could not read from remote repository.

[2021-04-06 20:42] romanbsd opened #1679 "Deprecations and readiness for react 17+"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [X] You're running version >=1.0.23 of Parse Dashboard.

- [X] You're running version >=2.3.2 of Parse Server.

- [X] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-04-13 13:57] meirka commented on #307
It is very handy tool, if there a progress or is it on roadmap?

[2021-04-15 15:31] harshitmawandia opened #1681 "parse server display not working in windows-10 but working on a macOS"
I recently set up a new bitnami parse server on my windows10 based laptop and found that when I logged in entering the user-id and password, I got a blank screen.

To check if there was a problem, I asked my friend to check it on his Mac and there the display seemed to be working fine.
Both of us used google chrome.

Can anyone suggest a solution??

[2021-04-16 04:14] davimacedo commented on #1681
Could you please share any error message that you see in the parse dashboard logs or in the web browser console or any more details you may have?

[2021-04-16 08:02] harshitmawandia commented on #1681
@davimacedo you could check it out here, it would be a great help, thanks!
[3.135.216.91-1618560011187.log](https://github.com/parse-community/parse-dashboard/files/6323443/3.135.216.91-1618560011187.log)

[2021-04-16 19:56] harshitmawandia commented on #1681
The problem was solved by changing the site settings. Thanks for your time by allowing insecure content.

[2021-04-16 19:56] #1681 closed

[2021-04-17 20:33] architectcodes commented on #1633
Node 14 and lower is not compatible with Apple Silicon chips (see https://github.com/nodejs/node/issues/36161). It’s a deadlock – Parse Dashboard cannot be used on late 2020 Macs and newer 😱

[2021-04-17 21:20] mtrezza commented on #1633
I would think the dashboard runs on Node 15 too, have you tried? Is this related to this issue or something separate?

[2021-04-27 11:12] calinpastean commented on #315
Has anyone had this issue before? I am trying to run parse dashboard by running pm2 start process.json (file below), but it shows up in pm2 list with an errored status. Checking the logs I only get `Error: spawn node ENOENT`. I can run the dashboard fine in the background by running `parse-dashboard --config config.json --allowInsecureHTTP &`

`{
  "apps" : [{
        "name"        : "Dashboard",

[2021-04-27 14:51] architectcodes commented on #1633
Node 15 ships with npm 7, which refuses to install parse-dashboard.

If you’re suggesting we can downgrade npm to v6 on Node 15, I didn’t try that, because it’s a very painful workflow that I wouldn’t want to introduce. Everyone on the team would need to remember to switch to a non-default version of npm after installing Node.

[2021-05-03 21:25] itzharDev opened #1693 "Exclude fields from table. not just hide"
any way to exclude fields from the parse dashboard (not only hiding, actually not getting this field data from dashboard query)?

something like select\exclude as exists in SDK.

[2021-05-03 23:00] itzharDev commented on #1693
in Browser.react.js

this lines just do the job:

    query.limit(MAX_ROWS_FETCHED);
    let columns = localStorage.getItem(`ParseDashboard:${VERSION}:${this.props.params.appId}:${source}`)
    if (columns) {
      columns = JSON.parse(columns)
      columns = columns.filter(clmn => !clmn.visible).map(clmn => clmn.name)
      for (let columnsKey in columns) {
        query.exclude(columns[columnsK

[2021-05-03 23:07] davimacedo commented on #1693
I think that it is something that could be added, but why do you need that?

[2021-05-03 23:16] itzharDev commented on #1693
I have a big collection in which I store base64 images in a field
I don't need to fetch this data on a browser
it couse my browser to load very slow and got stack in 100+ records

[2021-05-03 23:20] davimacedo commented on #1693
That makes sense. Do you want to open a PR for this?

[2021-05-03 23:20] itzharDev commented on #1693
ill send in few minutes

[2021-05-03 23:30] itzharDev commented on #1693
https://github.com/parse-community/parse-dashboard/pull/1694

[2021-05-05 17:35] #1693 closed

[2021-05-07 20:02] LongTalent opened #1700 "Counter in browser area always show 0 after page reload"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-05-13 02:47] sadakchap commented on #1632
Hi @Amandinepm, was not able to reproduce this issue. Could you please share more information about the issue or the steps to reproduce this issue.

[2021-05-15 17:57] PraveenMarapelly commented on #1460
I had the same issue, try doing the following steps
In chrome
open Settings --> Go to Site settings -->Click on Insecure Content --> Click on "Add" button corresponding to "Allow" copy and paste your Public IPv4 DNS in the address box
it worked for me

[2021-05-19 12:35] dblythy commented on #1639
As previously discussed, this only happens on the latest version of npm on certain devices. I solved by downgrading to 6.14.10.

[2021-05-23 12:32] mtrezza opened #1711 "Open pointer in new browser tab with [Cmd] click"
## Feature Suggestion

Open a pointer in a new browser tab when clicking on it while holding the [Cmd] button.

The purpose is that while the dashboard already allows to follow a pointer and jump back with the "Back" button, the previous page is newly fetched from the server and scrolled to top. So this type of navigation cannot be practically used to follow multiple pointers.

[2021-05-23 12:38] mtrezza opened #1712 "Improve order by column flow"
### Issue

Currently, it is possible to order a collection by click on the column heading. Due to the dashboard layout, it can easily happen that while navigating the menu, one accidentally clicks on a column header, triggering a sort, for example while setting filters.

A collection sort without an index can have a sever impact on the DB. Therefore sorts should either
a) require more than a simpl

[2021-05-24 07:21] #1497 closed

[2021-05-24 08:19] mtrezza commented on #1712
Closing as duplicate of https://github.com/parse-community/parse-dashboard/issues/1497.

[2021-05-24 08:19] #1712 closed

[2021-05-25 13:18] ruxf opened #1715 "Error ERR_CONTENT_LENGTH_MISMATCH"
When I use `parse-dashboard` v2.1.0, it alert errors rencently
[code]

1. I check my domian name certificate is valid
![image](https://user-images.githubusercontent.com/23349958/119504214-57c5df00-bd9e-11eb-86af-c2d74b9b80e3.png)

2. The login page is normal
![image](https://user-images.githubusercontent.com/23349958/119504441-8e035e80-bd9e-11eb-9392-4be0b8f19f92.png)

3. It goes wrong when redire

[2021-05-25 14:05] mtrezza commented on #1715
Thanks for reporting. Can you give more details about what exactly goes wrong and a step-by-step description of what you do to reach that error?

[2021-05-25 22:27] dante-calderon commented on #1336
Same here

[2021-05-25 22:32] davimacedo commented on #805
I think https://github.com/parse-community/parse-dashboard/pull/1478 closed this one.

[2021-05-25 22:32] #805 closed

[2021-05-26 09:45] ruxf commented on #1715
Er, it's my fault :sob:, I view answers in [this](https://stackoverflow.com/questions/23521839/failed-to-load-resource-neterr-content-length-mismatch) SO post and found that I ignore to search nginx's log, so I `cat` nginx's error log in `/var/log/nginx/error.log`, I found this error:
[code]

The main reason is my disk is less space left
[code]

When I free some spaces, the nginx and the web page

[2021-05-26 09:45] #1715 closed

[2021-05-27 20:37] mtrezza opened #1716 "Un-hidden columns contain empty fields"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.
- [x] You're running version >=2.3.2 of Parse Server.
- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reporte

[2021-05-28 12:18] sadakchap opened #1719 "Can not create column name starting with numbers"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-05-28 12:31] mtrezza commented on #1719
Let's look at two separate issues:

a) Is the Parse Dashboard validation correct according to Parse Server?
b) What is the reason for Parse Server throwing the error?

For a):
The validation seems to be incorrect if Parse Server according to your example.

For b):
I don't think there is any limitation that prevents from using a key string that contains (or begins with) a number:
- JavaScript allow

[2021-05-28 14:06] sadakchap commented on #1716
Thanks @mtrezza for detailed instruction to reproduce the issue. But, I still could not reproduce the issue. could you please check below gif & tell me which step I am missing ?

#### Steps I followed -
1. Hide a column with values
2. Hit refresh button
3. Un-hide that column --> still can see the values

![unhideCols](https://user-images.githubusercontent.com/44117648/119995202-f8a8da00-bfea-11eb

[2021-05-28 22:23] mtrezza commented on #1716
Could you try to create a new column and it with that? Maybe it only happens for certain columns.

[2021-05-29 11:13] sadakchap commented on #1716
Still was not able to reproduce the issue.

[2021-05-29 14:40] mtrezza commented on #1716
This is what I see on Safari. Note that without refreshing, the column contains data after un-hiding it. But after refreshing, it does not contain data when un-hiding it. I am using branch https://github.com/parse-community/parse-dashboard/pull/1697/commits/2a4479a90d37cf930b01436f64a0b062d2331606.

I think the simple question is, if columns a not fetched when they are hidden, how would the data s

[2021-05-30 13:47] sadakchap commented on #1719
It's seems like a validation Error for parse-server, in [schemaController.js](https://github.com/parse-community/parse-server/blob/9ea355b4635226ae4da17c8cc5fb0321e3fdec5e/src/Controllers/SchemaController.js#L979).

We also have a test case for this [here](https://github.com/parse-community/parse-server/blob/9ea355b4635226ae4da17c8cc5fb0321e3fdec5e/spec/schemas.spec.js#L2698).

[2021-05-30 14:57] mtrezza commented on #1719
I don't see a reason for prohibiting field names starting with a number.

Maybe the blame lines can give more insight into why this is prohibited.

[2021-05-30 15:00] mtrezza commented on #1719
I suggest to open an issue in the parse server repo for this and link to this issue, so we have the investigation in the right repo and for future reference. There may also be existing related issues in the server repo.

[2021-05-30 18:51] gnu-lorien commented on #1656
I recently upgrade parse-dashboard and found myself into exactly this situation. Use npm resolutions just causes the graphql module to not be found for parse-server.

[2021-05-30 20:56] mtrezza commented on #1656
Just a side note, keeping the master key as env var is bad practice. If you want to share the master key between processes on a single instance or multiple instances, a better approach would be to use a separate key management service that also allows you to rotate keys automatically and keep all key-depending processes in synch.

[2021-05-30 21:39] gnu-lorien commented on #1656
I tried using the version of parse-dashboard which has updated dependencies here: https://github.com/parse-community/parse-dashboard/pull/1677

That pushed graphql to 15.5.0. parse-server is on 15.4.0. It didn't work either. Using resolutions had the same problem where now parse-server can't find graphql at all.

[2021-05-31 05:32] davimacedo commented on #1719
It looks it was done on purpose (https://github.com/parse-community/parse-server/blob/9ea355b4635226ae4da17c8cc5fb0321e3fdec5e/src/Controllers/SchemaController.js#L427) but I don't know the reason. I think we should merge this PR anyways, since it is the current status of Parse Server and the PR actually solves a current bug when someone try to create a field stating with a number.

[2021-05-31 10:23] mtrezza commented on #1719
OK, let's merge this and open @sadakchap would you mind opening an issue on Parse Server about this limitation?

[2021-05-31 23:01] mtrezza commented on #1719
closed via #1718

[2021-05-31 23:01] #1719 closed

[2021-06-02 16:42] oldbootz commented on #1656
I am having the same problem as gnu-lorien describes.
inside package.json
`  "dependencies": {
    "express": "^4.17.1",
    "parse-server": "^4.5.0",
    "parse-dashboard": "^2.1.0"
  }`

on npm install
`npm WARN ERESOLVE overriding peer dependency
npm WARN Found: graphql@14.6.0
npm WARN node_modules/graphql
npm WARN   graphql@"14.6.0" from parse-dashboard@2.1.0
npm WARN   node_modules/parse-dash

[2021-06-02 17:10] mtrezza commented on #1656
Please see https://github.com/parse-community/parse-server/issues/7410#issuecomment-852880348.

Generally, not every version of Parse Dashboard is compatible with every version of Parse Server. I think we haven't really considered both running in the same package and preventing peer dependency conflicts.

The current workaround should be to launch Parse Server and Parse Dashboard in separate node

[2021-06-02 18:13] nex-derek commented on #1656
Actually the main issue should be parse-server depends on graphql-relay 0.6.0 and both parse-server & graphql-relay depends on different version of graphql. It can be fix by updating parse-server to depend on graphql-relay 0.7.0.

[2021-06-02 18:44] mtrezza commented on #1656
Sounds even easier to fix, but why is this issue then open in the dashboard repo and not in the parse server repo?

[2021-06-02 22:16] davimacedo commented on #1346
@mrmarcsmith I was looking at this issue and not able to reproduce anymore. Could you please confirm if that's still happening or not?

[2021-06-02 22:21] davimacedo commented on #1362
@suathh I was looking at this issue and not able to reproduce anymore. Could you please confirm if that's still happening or not?

[2021-06-03 00:13] mtrezza commented on #1346
@davimacedo I remember this issue and believe to recall that it has been fixed at some point. I am also not able to reproduce it the latest release.

[2021-06-03 00:31] davimacedo commented on #1346
So let's close it for now and re-open in the case someone can reproduce.

[2021-06-03 00:31] #1346 closed

[2021-06-03 13:14] mtrezza commented on #151
Interesting that this PR still open.

I think this is a nice idea, but before attempting any PR on this, we should agree on some fundamentals.

Some issues that come to mind:
- How to decide which representation should be displayed
- What to display if the representation field is missing
- What is the data traffic / performance impact? Does this require new indices, how are these created?
- How to

[2021-06-04 11:27] suathh commented on #1362
@davimacedo I tried with couple of different instances and I can say that problem is not persist anymore

[2021-06-04 12:55] mtrezza commented on #1362
@suathh thanks for reporting back, closing this issue.

[2021-06-04 12:55] #1362 closed

[2021-06-09 08:38] fn-faisal commented on #1716
I tried to reproduce this on Chrome, Safari browsers but could not reproduce this. I tried the master branch and the [commit](https://github.com/parse-community/parse-dashboard/commit/2a4479a90d37cf930b01436f64a0b062d2331606) but can't reproduce this.
It would be helpful if we had some more information regarding this like the devtools console, network request response for the refresh call.
Thank y

[2021-06-10 21:47] davimacedo commented on #1716
What do you guys think about automatically refreshing the data everytime a new column is marked as visible?

[2021-06-10 22:56] mtrezza commented on #1716
Yes, that was my previous question:

[2021-06-11 16:34] fn-faisal opened #1726 "Add option to create a field after creating a class"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-06-11 16:45] mtrezza commented on #1726
Thanks for suggesting.

Generally, to keep the codebase maintainable, we should avoid feature duplication. Unless it provides a clear benefit for usability to maintain multiple flows to achieve the same outcome.

If I understand your suggestion correctly, you want combine the following features into one modal view:
- create class
- add columns

Before we come to the conclusion of adding an additio

[2021-06-11 17:35] sadakchap commented on #1716
Yes, no server request is going when the column is unhidden.

[2021-06-11 17:59] sadakchap commented on #1716
@mtrezza, I tried to add a breakpoint before exclude query. Please see the below gif.

![unhideExplained](https://user-images.githubusercontent.com/44117648/121729079-afd54300-cb0b-11eb-9a21-9b78c932927e.gif)

1. added a breakpoint, cleared the localstorage(as this is where we store column preference)
2. Hit refresh for the first time ( no column is hidden till now )
3. Hide a column, here we got

[2021-06-14 11:00] fn-faisal commented on #1726
The idea was to tie flows together to reduce user navigation. So that users can create a class and columns in one flow.
So when the users create a class, they can choose to continue adding columns in the same flow by allow the user to open the create column dialog with an additional button.
Something similar to flow below. The create buttons will simply close the dialogs while create and add butto

[2021-06-15 09:20] fn-faisal opened #1729 "Copy-paste of date data does not work"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-06-15 09:22] amankch commented on #1639
resolved with yarn add parse-dashboard --save. Maybe it will help others. graphql warning still there.

[2021-06-15 12:20] fn-faisal opened #1731 "Message error for required fields"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-06-15 15:49] sadakchap commented on #1716
I think it is clear from above video, that we are unable to get columns from local storage. Here's the pr https://github.com/parse-community/parse-dashboard/pull/1734 for that.

[2021-06-15 19:11] mtrezza commented on #1716
Well, I think that is the simple explanation, isn't it? Where would the column data come from if a previous query excluded the field.

[2021-06-17 06:55] contentsr commented on #1656
Same problem facing, I am running both, Parse Dashboard and Parse Server, in the same instance. Please fix it ASAP.

[2021-06-19 17:26] InTheClodus commented on #1596
Thank you very much. Your article has helped me successfully. I have revised it for an hour before that. Thank you very much

[2021-06-20 03:27] InTheClodus commented on #46
Thank you, this method is successful in my case. I don't need to pay for SSL certificate

[2021-06-20 17:02] mtrezza commented on #1731
I am wondering whether
a) dashboard should re-format the error message, or
b) Parse Server should send more readable error messages

I tend to think (b), because we are lacking a style guide for error messages in Parse Server and now Dashboard tries to correct this, but it seems like addressing the symptom instead of the issue. Error messages appear in a variety of forms:
- beginning upper case or

[2021-06-21 11:36] fn-faisal commented on #1731
In the current implementation, I see in the dashboard
`
let msg = typeof error === 'string' ? error : error.message;
if (msg) {
  msg = msg[0].toUpperCase() + msg.substr(1);
}`

The first letter of the all the error messages is currently being capitalised.
So, I think for (b), this would need to be changed in the dashboard too.
The implementation of (b) makes sense.

[2021-06-21 14:17] mtrezza commented on #1731
Would you want to tackle (b)? It is surely quite an undertaking, but I think it would be a sustainable fix and improve the quality of error messages in Parse Server.

[2021-06-21 21:36] mtrezza commented on #1729
Thanks for opening this issue.

Can you describe in more detail what the issue is? It is currently possible to double click into a date field and paste a date string, without using the calendar popup.

[2021-06-21 22:30] mtrezza commented on #1726
I think I understand what you are aiming for. I assumed you wanted to add a more complex dialog for column addition / management. But you are only suggesting to add a "Add a new column" button directly into the dialog for not having to click on the "Add column" button in the browser bar. I think that makes sense, as it saves 1 click.

[2021-06-22 11:46] fn-faisal commented on #1731
Implementing (b) would make sense as it'll delegate the responsibility to show an error dialog and the server to send reformatted error strings.

[2021-06-22 13:50] fn-faisal commented on #1729
It does work but it causes confusion with the popup. If there's an option within the popup to also paste the date from clipboard, the user would be able to manage that from the calendar too without having to double click + erase existing date and then paste new date.
And since the button would only appear if there's a date string on clipboard, it can make copy pasting quicker.

[2021-06-23 00:26] mtrezza commented on #1729
Selecting a cell's content and pasting from the clipboard is a common gesture. Are you suggesting to add a "Paste" button to the calendar pop-up to paste the clipboard content?

[2021-06-23 00:29] mtrezza commented on #1731
So we can close this issue?

[2021-06-24 12:59] fn-faisal commented on #1731
I think there's already existing formatting in the dashboard as well which would need to be removed.
I can update this PR or make a new one.

[2021-06-25 11:48] fn-faisal commented on #1731
I have made a PR for server [https://github.com/parse-community/parse-server/pull/7446](https://github.com/parse-community/parse-server/pull/7446) and the dashboard [https://github.com/parse-community/parse-dashboard/pull/1737](https://github.com/parse-community/parse-dashboard/pull/1737)
The formatting is removed from the dashboard and moved to server in these PRs.

[2021-06-25 15:49] mtrezza commented on #1731
I'm not sure we should introduce a change in capitalization for a single error message. Not only may this be a breaking change for some deployments, but it is also missing a broader concept of how error messages should be styled across the server.

[2021-06-26 02:32] #1627 closed

[2021-06-26 02:32] #1648 closed

[2021-06-26 05:39] danielsanfr commented on #1633
Don't close it please.

[2021-06-26 07:22] mtrezza commented on #1633
Isn't that also true for Parse Server? I think it currently also doesn't install with npm 7 due to dependency issues.

[2021-06-26 13:27] alljinx commented on #1633
No problem installing Parse Server with npm 7 but no way for Parse Dashboard even with the lagacy peer deps or the force option. With regret, we are forced to consider discontinuing the use of this package. It's sad, especially just for one dependency...

[2021-06-28 10:14] fn-faisal commented on #1731
I've made a new update to the PR for the server [https://github.com/parse-community/parse-server/pull/7446#issuecomment-869558056](https://github.com/parse-community/parse-server/pull/7446#issuecomment-869558056). This PR should remove formatting for frontend.

[2021-06-29 04:42] sadakchap commented on #1716
Yes but, the previous request actually never excluded the field. Please refer the video above once more. You can see the Network tab.

I think I am using latest `master` branch. I also had put a debugger, you can see the code, it's from `master` branch.

[2021-07-10 07:35] 404-html opened #1744 "Store user data on account so it's available across different browsers"
Currently user preferences like columns order, visibility, height are stored in Local Storage.
When accessing dashboard from other machine all those changes are not preserved.
It would be nice to have all those customizations available across different browsers/devices.

[2021-07-10 11:39] mtrezza commented on #1744
Thanks for suggesting. Storing user-specific settings in Parse Server seems like a useful feature. Do you want to explore how this could be done conceptually?

Side note: it is already possible to pre-set some settings in the Parse Dashboard config file.

[2021-07-10 18:31] 404-html commented on #1744
I think database seems to be the best place to store this data. Could the mechanism for storing and reading schemas be used?
Here's how I see it:

- The mechanism would take Parse Dashboard user settings stored in Local Storage and save them to the database;
- On next start it would read settings from the database with fallback to Local Storage;
- Each user settings change would update settings ob

[2021-07-10 22:54] mtrezza commented on #1744
ad 1)
Should settings be saved on-demand (click on `Save dashboard settings`) or automatically? If on-demand, then you can simply ignore this issue for now. Later on, if you want to refine the feature, you could display a warning dialog when trying to save settings but the settings on the server are newer than the settings cached in the browser.

ad 2)
Yes, local browser settings are the cached se

[2021-07-11 21:52] mtrezza commented on #1653
Maybe we can take this opportunity and create the Parse Dashboard docs trying out https://docusaurus.io. It seems to be one of the most advanced docs frameworks, open source and seems to be backed by FB Open Source with a large community.

@TomWFox What do you think about this and how much effort would it be to set this up on our server?

[2021-07-12 22:22] davimacedo opened #1849 "Distinguish external from internal classes"
### New Feature / Enhancement Checklist

- [ X ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ X ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ X ] I have searched through [existing issues](https://github.com/parse-community/parse-server/issues?q=is%3Aissue).

### Curr

[2021-07-13 01:53] #1700 closed

[2021-07-13 12:16] TomWFox commented on #1653
I think that's a good idea. I played around with Docusaurus a while a go and it was pretty easy to setup and required fairly minimal changes to bring in the old docs.

[2021-07-15 14:22] sadakchap opened #1746 "Dashboard takes long time to open"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been reported or resolved before.
- [x] You're running version >=

[2021-07-21 04:25] #1632 closed

[2021-07-21 06:26] dantehemerson opened #1747 "Error loading resources when parse-dashboard in mounted on a subpath"
Make sure these boxes are checked before submitting your issue -- thanks for reporting issues back to Parse Dashboard!

- [x] You're running version >=1.0.23 of Parse Dashboard.

- [x] You're running version >=2.3.2 of Parse Server.

- [x] You've searched through [existing issues](https://github.com/ParsePlatform/parse-dashboard/issues?utf8=%E2%9C%93&q=). Chances are that your issue has been repor

[2021-07-27 13:57] BFK-78 commented on #536
Thank you All

[2021-07-27 14:38] mtrezza commented on #536
It's interesting that this old thread about a basic topic is still relevant today. Does anyone have a suggestion what we could improve in the docs to address this?

[2021-08-02 16:44] sadakchap opened #1751 "Can not save new _User object after deleting field value"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-08-02 17:40] mtrezza commented on #1751
Thanks for reporting. Interesting find, I think we should try to merge all of the pending PRs over the next days and then see which issues still occur. A lot of PRs are changes in the Data Browser, so maybe the issue will self-resolve.

[2021-08-04 09:42] dblythy commented on #1665
I'm happy to work on this if no one is working on it!

[2021-08-04 09:42] dblythy commented on #1618
WIP

[2021-08-04 10:44] mtrezza commented on #1665
That's great! This would significantly improve accessibility to the security state of Parse Server.

[2021-08-04 16:50] dblythy commented on #1665
Ok, no worries. Will post here!

[2021-08-05 13:55] fn-faisal opened #1753 "the bold border is not covering the whole cell"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-08-16 18:18] mtrezza opened #1756 "Export feature"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-08-17 15:40] #1756 closed

[2021-08-17 19:32] mtrezza commented on #1711
@sadakchap, @fn-faisal Would any of you interested in looking into this issue? It should be a fairly small PR.

[2021-08-17 19:59] fn-faisal commented on #1711
@mtrezza  Ok, I'll take a look at it.

[2021-08-17 21:31] fn-faisal commented on #1711
I have made a PR for this.
https://github.com/parse-community/parse-dashboard/pull/1757

[2021-08-18 11:21] phineasla opened #1758 "feat(file): add option to delete file from storage"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-08-18 11:54] mtrezza commented on #1758
Thanks for opening this issue.

This is expected behavior. Deleting a file reference in dashboard does not delete the file from storage. This behavior is uniform across Parse Platform, if you delete a file reference via a Parse SDK, the file is also not deleted.

That is because there are use cases, in which a file should not be deleted. For example, a file can have multiple file references. There

[2021-08-18 18:28] mtrezza opened #1759 "feat(sidebar): collapse sidebar"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-08-19 11:15] 0biWanKenobi commented on #1639
Hi all,

this still happens. Current npm LTS is 7.20.6, and for most users it's not feasible to downgrade.. Could this problem be fixed?

[2021-08-19 11:23] #1753 closed

[2021-08-19 11:23] mtrezza commented on #1753
Closed via #1754

[2021-08-19 11:24] mtrezza commented on #1726
Closed via #1728

[2021-08-19 11:24] #1726 closed

[2021-08-19 11:27] mtrezza commented on #1679
Hi @romanbsd, thanks for opening this issue and apologies for the lack of activity here. We would be very interested in someone pickup up the modernization fo the dashboard. Would you still be interested in pursuing this and if yes, please let me how we can support you.

[2021-08-19 11:28] mtrezza commented on #1653
Update: We added a Feature section to the README page to at least already start to collect content for a future dashboard guide.

[2021-08-19 11:32] mtrezza commented on #1639
There is another issue (which I can't find now) that has been opened regarding this. It seems to be an issue with the graphql dependency. We have an open PR to upgrade the dependency, which probably will solve this issue.

[2021-08-19 14:12] romanbsd commented on #1679
My work (linked above) is in a pretty good shape, but needs a review. It needs some work, but it's mostly done.
So I can open a pull request and you can start reviewing the changes.

[2021-08-19 14:17] mtrezza commented on #1679
Sure, let's do that! There have been many PR merged in the dashboard lately, so it may take a bit of effort to rebase your PRs on the current master branch.

[2021-08-19 18:48] 0biWanKenobi commented on #1639
Probably #1633 ? Yeah I've seen the PR, and I even used that branch locally to ease my development, seems to work - of course it would need rigorous testing though. I mainly commented here in hopes the problem gets picked up, as someone mentioned its really a bad first hands-on experience for a developer, I know it has been for me. I struggled a lot and ended up finding a fork on npmjs that ""work

[2021-08-19 21:30] #1759 closed

[2021-08-19 21:36] mtrezza commented on #1639
@0biWanKenobi Thanks for sharing your concern. I agree that this is something we should fix ASAP, since npm 6 is already considered "legacy" by node.

Would you be willing to take a look at the [PR](https://github.com/parse-community/parse-dashboard/pull/1752) and try to update to the next version of the GraphQL dependency?

As far as I remember, the alternative solution is to remove the GraphQL p

[2021-08-20 12:48] Mabenan commented on #1459
I think i have found the  problem for me the following line made the problem:
`{"message":{"ok":0,"code":40352,"codeName":"Location40352","name":"MongoError"},"code":1,"level":"error","stack":"Error: MongoError: FieldPath cannot be constructed with empty string\n    at C:\\Users\\doene\\Documents\\ServerManagerDocker\\node_modules\\parse-server\\lib\\Controllers\\DatabaseController.js:1170:21\n

[2021-08-20 12:53] Mabenan commented on #1459
after looking at the source i think it would be the easiest thing to check the message property and if it is not a string to execute a stringify maybe `JSON.stringify`.

[2021-08-20 14:19] mtrezza commented on #1459
Can you verify whether this issue still exists with the current master branch?

[2021-08-23 13:18] #1711 closed

[2021-08-24 04:32] Phineasla commented on #1758
Thank you for your reply. But does beforeSave/beforeDelete also work for ParseConfig since it have different structure?

[2021-08-24 07:16] mtrezza commented on #1758
Can you explain?

[2021-08-24 12:00] 404-html commented on #1744
An easy way to import an export `LocalStorage`:
To export:
[code]
To import:
[code]

I found that [here](https://stackoverflow.com/a/46128830).

[2021-08-24 13:32] mtrezza commented on #1744
We are gathering the pieces!

What could a most basic version of this look like, so we get a first version implemented?

Maybe we could focus on a single setting to store in the DB, future PRs can then build on top of that. For example, we could store only the column preferences (visibility and order). The tasks would probably be:

- [ ] Add dashboard PR
  - [ ] Add button to manually save setting

[2021-08-24 16:07] Phineasla commented on #1758
ParseConfig also accept file object. So when I delete a file typed config, the file is still there, with nothing reference it anymore. In MongoDB, ParseConfig is a single object contains all configs using arrays. So I imagine to clean up the file, I must compare each item in array from `request.original` vs. `request.object` in `beforeSave(Parse.Config)`, check if that item is a file and not found

[2021-08-24 21:44] mtrezza commented on #1758
Not sure whether triggers are invoked when changing the config, you could just try it out. If you need support regarding the workarounds, I suggest you post in our [community forum](https://community.parseplatform.org). So we can keep this thread focused on the discussion around adding the feature to the dashboard.

[2021-08-25 16:29] davimacedo commented on #1716
@mtrezza can we close this one?

[2021-08-25 16:34] mtrezza commented on #1716
Yes, closed with https://github.com/parse-community/parse-dashboard/pull/1734

[2021-08-25 16:34] #1716 closed

[2021-08-27 14:23] mtrezza opened #1765 "Add issue bot"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-08-27 14:27] #1765 closed, assigned to nobody

[2021-08-27 14:55] mtrezza opened #1768 "Issue template not uniform across repos"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-08-27 14:58] #1768 closed, assigned to nobody

[2021-08-30 07:59] johanarnor opened #1770 "Impossible to edit array of pointers in v2.2.0"
### New Issue Checklist
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the iss

[2021-08-30 09:32] mtrezza commented on #1770
@sadakchap Could you take a look at this?

[2021-08-30 11:44] sadakchap commented on #1770
Sure @mtrezza , Thanks!

[2021-08-30 14:07] Mabenan commented on #1459
Yes it does

[2021-08-30 18:30] mtrezza commented on #1459
@Mabenan Thanks for confirming. The next step would be to determine whether this should be fixed in Parse Server (where the log is written) or in dashboard (where the log is displayed).

If the expectation also from Parse Server side is that `message` is a string, not an object, then it would be enough to `JSON.stringify` the `message` value before writing it to the log.

[2021-08-31 05:25] sadakchap commented on #1770
Here's the pr https://github.com/parse-community/parse-dashboard/pull/1771

[2021-08-31 11:48] mtrezza opened #1772 "Remove tooltip for read-only date field"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-08-31 11:49] mtrezza commented on #1772
@sadakchap Could you take a look at this? This is the continuation of our discussion in https://github.com/parse-community/parse-dashboard/pull/1688.

[2021-09-02 12:10] mtrezza opened #1775 "Layout issue in field containig array of pointers"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-02 12:11] mtrezza commented on #1770
Closing via #1771

[2021-09-02 12:11] #1770 closed

[2021-09-02 17:29] sadakchap commented on #1775
Here's the [pr](https://github.com/parse-community/parse-dashboard/pull/1776)!

[2021-09-02 17:41] sadakchap opened #1777 "Layout issue, Sidebar comes on top of modal"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-02 17:53] mtrezza commented on #1775
Closed via #1776

[2021-09-02 17:53] #1775 closed

[2021-09-02 17:57] mtrezza commented on #1777
I think that's because I changed the sidebar `z-index` in https://github.com/parse-community/parse-dashboard/pull/1760/files#diff-beaf5f033a1bc7a22b0ff907b0c114ab47f21efd5ff140fe53fbe87f08f71654.

If the `z-index` is now changed again to fix this, the `API Console > JS Console` should be checked, because that overlapped the sidebar.

[2021-09-03 07:37] 0biWanKenobi commented on #1639
Yeah ideally I'd love to, but work hours don't leave much free time 😞 If someone can pick this up, it would be awesome

[2021-09-03 14:08] henrikperrochon commented on #1552
Hi,

I am also facing issues with the pointer / array of pointer CLP edition on parse dashboard.

Adding an authorization for a specific pointer would add the field name of the pointer in the `readUserFields` in previous version (first screenshot) ; now it adds the field name in the action (get, find, etc. second screenshot). It looks like more granular but it simply does not work.

<img width="21

[2021-09-04 04:04] mtrezza commented on #1777
Closed via #1778

[2021-09-04 04:04] #1777 closed

[2021-09-04 21:41] cbaker6 opened #1782 "Docker images are not updated on docker hub anymore"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-05 13:46] dblythy opened #1783 "Add ESLint to CI and Commit Hooks"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-09-06 15:43] sadakchap opened #1784 "Wrong CLP shown after creating new class"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-06 16:30] sadakchap commented on #1784
Here's the [pr](https://github.com/parse-community/parse-dashboard/pull/1785)

[2021-09-07 22:38] #856 closed

[2021-09-07 22:50] mtrezza commented on #1784
Closed via #1785

[2021-09-07 22:50] #1784 closed

[2021-09-08 09:08] Klaitos opened #1787 "Docker image doesn't work anymore with the MFA feature"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-08 13:14] mtrezza commented on #1787
We would have to make a 3.0 release as bumping the min node version is breaking.

a) How could we have prevented this issue?
  Our CI needs a multi-environment setup, like parse server. Currently:
  - the PR CI runs only on node 10.14
  - the release CI only on node 12

b) How do we resolve this issue?
  Maybe an opportunity to start a LTS trial also for dashboard

[2021-09-08 13:36] Klaitos commented on #1787
Hello @mtrezza,

I'm not surprise for a `latest` tag to be buggy, it was my mistake to use it in my docker-compose. I fixed my compose to stick the version to 2.0.5 to prevent future issues.

For your **b)** i think it's a good idea to release a last stable version of parse-dashboard 2.x without MFA and node 12.

For your **a)** i need to think more about it.

[2021-09-08 13:44] mtrezza commented on #1787
Anything below node 12 has actually reached its EOL, so we wouldn't even offer LTS for a dashboard 2.x version.
You discovered an interesting case that is not yet covered by out CI, if there is a way to prevent this, I'd like to add it to our CI.

So the plan is:
1. Update our CI to find a way to prevent this, at least with multiple node versions
2. Bump min node version to 12
3. Release dashboard

[2021-09-08 16:23] mtrezza commented on #1787
@Klaitos How did you encounter the error? I am trying to fore-see that in the CI, but the docker builds without issues.
We this a runtime error when you tried to use the MFA auth feature?

[2021-09-08 16:34] Klaitos commented on #1787
Just try to run the container without any option.
` docker run  -p 8080:4040 -v "/path/to/parsedashboard.json:/src/Parse-Dashboard/parse-dashboard-config.json" parseplatform/parse-dashboard:latest`

<img width="1300" alt="Capture d’écran 2021-09-08 à 18 31 53" src="https://user-images.githubusercontent.com/644360/132548921-eaa632f9-610b-4135-87ea-5d8c91caa84e.png">

And with node 12 (builded on

[2021-09-08 16:34] Klaitos commented on #1787
The build is ok, the issue at runtime

[2021-09-08 17:06] Klaitos commented on #1787
node 10 is the new minimal. See https://github.com/parse-community/parse-dashboard/pull/1788#discussion_r704605515

[2021-09-08 17:23] mtrezza commented on #1787
Got it, that's why the builds were pushed successfully. So we need a CI step that ensures that we don't have a dependency that requires a higher node engine than the parent package.

[2021-09-08 18:30] mtrezza commented on #1787
closed via #1788

[2021-09-08 18:30] #1787 closed

[2021-09-08 21:36] Klaitos commented on #1787
Any chance to have 2.2 or recent tag uploading to the docker hub ? i do not want to use latest anymore for now, but 2.0.5 is quite old :)

[2021-09-09 00:31] mtrezza commented on #1787
I think we can do that, if you want to open just a short new issue so we don't forget.

[2021-09-09 00:44] cbaker6 opened #1793 "Current version of sass preventing ability to run on node lts"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-09 09:46] Klaitos opened #1794 "Push recent tags to docker hub"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-09 11:33] mtrezza opened #1795 "Required node engine 12.20.0"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-10 00:11] #1793 closed

[2021-09-10 02:31] mtrezza commented on #751
Closing due to inactivity

[2021-09-10 02:31] #751 closed

[2021-09-10 02:53] mtrezza commented on #1795
closed via #1796

[2021-09-10 02:53] #1795 closed

[2021-09-13 18:10] jadsonlourenco opened #1798 "Side bar above the relational popup on v2.2.0"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-13 18:25] mtrezza commented on #1798
Does this still occur with the dashboard of the master branch? An issue like this has been recently fixed.

[2021-09-13 21:23] jadsonlourenco commented on #1798
Yes, it's solved on the master branch, thank you.

[2021-09-13 21:23] #1798 closed

[2021-09-14 11:02] mtrezza opened #1799 "Revert using objectId as tie breaker in infinite scrolling"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-14 12:12] mtrezza commented on #1798
Great, we plan to release a new version in the coming days.

[2021-09-14 16:26] sadakchap commented on #1799
@mtrezza, yeah.. we should revert #1706 . Could you please do that? And then we can tackle #1551 later separately (probably using [getMore](https://docs.mongodb.com/manual/reference/command/getMore/)).

[2021-09-14 18:03] Klaitos commented on #1799
I'm glad you changed your mind about it 🙂.

[2021-09-14 20:45] mtrezza commented on #1799
It's unfortunate that we need to revert it, because that opens the original scrolling issue again, and @sadakchap put some good work into fixing this. However, I think the implications we discovered now do not justify the type of fix.

[2021-09-15 21:54] Klaitos commented on #1799
Yes sure but I can't do it this week.

[2021-09-15 22:51] Klaitos commented on #1799
Done here https://github.com/parse-community/parse-dashboard/pull/1800

[2021-09-16 10:15] mtrezza commented on #1799
Closing via #1800

[2021-09-16 10:15] #1799 closed

[2021-09-16 10:16] mtrezza commented on #1551
Reopening this issue, because #1706 has been reverted by #1800 due to index issues described [here](https://github.com/parse-community/parse-dashboard/pull/1706#issuecomment-919064899).

[2021-09-16 11:53] Klaitos opened #1801 "Performance issue on calculating classes count"
### New Issue Checklist
- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the iss

[2021-09-16 12:01] Klaitos commented on #1801
https://user-images.githubusercontent.com/644360/133608274-feab825d-933c-4a14-b0d3-f729226940f4.mov

After my first try fix :

https://user-images.githubusercontent.com/644360/133608535-2418bb8a-8883-450c-abf4-6bb55892db88.mov

[2021-09-17 08:16] mtrezza commented on #1801
Amazing, thanks for opening this issue and submitting the PR!

[2021-09-19 17:12] dblythy commented on #1639
My rather odd solution to this is:

`yarn install && rm yarn.lock && npm install && rm -rf node_modules && npm install`

Yarn can install fine, and once `node_modules` are there, npm seems to be able to build pacakge-lock.json. From there, you can remove node_modules, and install using npm (as the way yarn installs dependancies files seems to be different).

Not sure if there are any unknown side

[2021-09-20 10:38] mtrezza commented on #1801
Closing via #1802

[2021-09-20 10:38] #1801 closed

[2021-09-21 12:02] gSilas opened #1809 "Upload of default File fails"
The upload of a default File value fails when adding a new column.

I think this issue is caused by the following code line:
https://github.com/parse-community/parse-dashboard/blob/6cfcb46e3399a02f141cbaf9c969cfb7b9ede88a/src/dashboard/Data/Browser/AddColumnDialog.react.js#L85

The Masterkey is no passed during the upload. For reference the implementation of the file upload in the data table:

htt

[2021-09-23 12:21] github-actions[bot] opened #1812 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2021-09-23 12:32] mtrezza commented on #1812
Resolved via 501774a

[2021-09-23 12:32] #1812 closed

[2021-09-23 12:37] mtrezza opened #1813 "♻️ Release Automation"
## New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

## Current L

[2021-09-23 17:30] mtrezza opened #1814 "Link icon not visible for long text values"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-09-24 22:46] mtrezza commented on #1671
I'm closing this. The latest release is on docker. There may be releases in between that are missing on docker, but unless someone really needs them, releasing the missing docker images doesn't have a high priority.

[2021-09-24 22:46] #1671 closed

[2021-09-24 22:50] mtrezza commented on #1656
https://github.com/parse-community/parse-dashboard/pull/1807 should fix this issue. It contains several changes:
- Use same graphql version as on parse server (4.10.3), see https://github.com/parse-community/parse-dashboard/pull/1807#issuecomment-925716930
- Replace graphql playground with better maintained library
- Adds support for npm 7 and Node 16

[2021-09-24 22:52] mtrezza commented on #1746
Can you please try whether this issue still exists in the latest release? I suspect https://github.com/parse-community/parse-dashboard/pull/1802 has fixed this issue.

[2021-09-28 22:58] mtrezza commented on #1665
We already have the log output of Security Checks on the server side in v5, so that is already a big step forward.

[2021-09-29 23:47] dblythy commented on #1639
This issue was mainly caused by `graph-ql-playground` no longer receiving updates. This is because `graph-ql-playground` is no longer maintained, in favour of `graph-iql`.

If you use the GraphQL playground in Parse Dashboard, you'll notice that it has been changed in v3.1.0.

All install issues on npm v7 should be resolved in v3.1.0.

Please let us know if you have installation issues with v3.1.0

[2021-09-29 23:47] #1639 closed

[2021-09-29 23:47] dblythy commented on #1633
Closed via #1807

[2021-09-29 23:47] #1633 closed

[2021-09-29 23:55] dblythy opened #1823 "Bump `package-lock.json` to version 2"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-09-29 23:57] mtrezza opened #1824 "Input form always has auto-focus on user field"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-09-30 00:06] mtrezza commented on #1824
Closed via #1825

[2021-09-30 00:06] #1824 closed

[2021-09-30 00:09] mtrezza commented on #1823
Do you mean we should generate the package-lock file with npm 7 instead of npm 6? Even if it says it's currently backwards compatible, wouldn't it always be the safer approach to let npm 7 convert a npm 6 lockfile, than letting npm 6 convert a npm 7 lockfile?

[2021-09-30 00:13] dblythy commented on #1823
Yes that's what I mean sorry!

From the NPM release notes:

Wouldn't we want to take advantage of this new feature and use lockfile v2?

[2021-09-30 01:33] mtrezza commented on #1782
Closing via https://github.com/parse-community/parse-dashboard/commit/d207347e4e79c26255ba9ffb460ca3df8348f9fd

[2021-09-30 01:33] #1782 closed

[2021-09-30 01:52] mtrezza commented on #1794
Old versions cannot easily be published as docker images as they had a dev-dependency on Parse Server `master` branch, since removed in https://github.com/parse-community/parse-dashboard/pull/1796. Since these old Parse Dashboard images require a lower Node version (usually around 8), but Parse Server `master` today requires at least Node 12, they have build issues. Possibly also related to the do

[2021-09-30 01:52] #1794 closed

[2021-09-30 01:56] mtrezza commented on #1823
I guess so, not sure what the benefits of v2 over v1 are though.

[2021-09-30 02:35] mtrezza commented on #1729
Closing due to inactivity.

[2021-09-30 02:35] #1729 closed

[2021-09-30 04:17] dblythy commented on #1823
If there are other complications, it might be worth waiting and weighing up the benefits. I’m not sure of the overall benefits either, but I would assume contributors should use the latest npm on their branches, and using lock file version one means contributors need to use npm 6 if adding dependencies

[2021-09-30 08:47] mtrezza commented on #1823
I think npm 7 auto-converts a v1 lockfile into v2 as a one-time task when running `npm i`. The doubts I have about moving to v2 while we still support npm 6 are because:

- running npm 7 with a v1 lockfile logs a neutral message about that one-time conversion
- running npm 6 with a v2 lockfile logs these "I'll try my best to interpret this v2 lockfile" messages, see my previous comment

Just from

[2021-10-01 01:45] mtrezza commented on #1619
Closing as duplicate of https://github.com/parse-community/parse-dashboard/issues/1459

[2021-10-01 01:45] #1619 closed

[2021-10-01 10:41] dblythy commented on #1656
I think we can close this @mtrezza as GraphQL has been bumped for the dashboard?

[2021-10-01 15:44] mtrezza commented on #1656
I think so too. Closing via #1807.

[2021-10-01 15:44] #1656 closed

[2021-10-03 09:09] cyb3rko opened #1826 "Explanation of the `--dev` parameter"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-10-04 12:52] mtrezza commented on #1198
Closing because I'm not able to reproduce this with the latest version of Parse Dashboard.

[2021-10-04 12:52] #1198 closed

[2021-10-04 17:23] mtrezza commented on #1336
Closing, since we have removed the dependency `parse-playground-react`. If the issue still exists in the latest version, please let us know and we can re-open this issue.

[2021-10-04 17:24] #1336 closed

[2021-10-04 17:26] mtrezza commented on #1330
Closing via https://github.com/parse-community/parse-dashboard/pull/1694

[2021-10-04 17:26] #1330 closed

[2021-10-04 17:28] #1018 closed

[2021-10-05 14:26] cyb3rko commented on #1826
@mtrezza I think it's enough information, right?
Or should I add empty information fields to make the assistant happy?

[2021-10-05 15:02] jadsonlourenco opened #1831 "Make selected text visible on the Edit modal title"
Sometimes we need to copy the objectId, now when we click on this row open the edit modal, but when selecting the text on this modal title, blue area, we can't see that the text is selected.

The fix is just to not set, or remove, this CSS:
[code]
So, will use the browser default style or set a different color for the background in this style.

Current:
![Screen Shot 2021-10-05 at 11 48 33](https:

[2021-10-05 15:14] jadsonlourenco opened #1832 "Cannot delete file from field in modal dialog"
The latest version 3.2.0 has a new design for some parts, but the File buttons to "Download/Replace/Remove" was a good UX.

Before (good)
![Screen Shot 2021-10-05 at 12 03 25](https://user-images.githubusercontent.com/1428013/136050340-ffdc7f5a-4925-405f-992b-2c2a27e95982.png)

Now (missing the delete button):
![Screen Shot 2021-10-05 at 12 03 34](https://user-images.githubusercontent.com/1428013/

[2021-10-05 16:35] mtrezza commented on #1832
@jadsonlourenco Thanks for opening this issue. Can you please use the provided template when opening an issue and explain in more detail what specifically you want to change and why. The template should guide you with that.

[2021-10-06 03:08] mtrezza opened #1833 "⚠️ `master` branch is now `alpha`"
# ⚠️ New branch model

The `master` branch of this repository has been renamed `alpha`, which is the new "default" branch. This is part of [release automation](https://github.com/parse-community/parse-dashboard/issues/1813) to implement pre-releases (alpha, beta) to mature versions before official release.

## ✔️ Steps

- If you have a clone locally or forked remotely, update your clones according

[2021-10-06 07:49] axelhildingson opened #1834 "GraphiQL is missing header configuration"
### New Issue Checklist

- [X ] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [ X ] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [ X ] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [X ] I can reproduce

[2021-10-06 08:41] dblythy commented on #1834
Hey @axelhildingson! Thanks for submitting this issue. `GraphIQL` is a new feature added to resolve the issues that `GraphQLPlayground` was causing, so we appreciate you jumping in and trying it out!

Would you be willing to submit a PR fixing this?

[2021-10-06 08:43] axelhildingson commented on #1834
Thank you for fast answer!

I can take a look at it, when I have time it is not super prio at this moment.

[2021-10-06 10:54] mtrezza commented on #1746
Closing as this issue seems to be resolved.

[2021-10-06 10:54] #1746 closed

[2021-10-06 10:59] mtrezza commented on #1234
I can confirm this issue still exists on version 3.2.0.

[2021-10-06 11:06] mtrezza commented on #1668
Maybe related to https://github.com/parse-community/parse-dashboard/issues/1551

Closing as this probably needs to be fixed as part of the larger issue of #1551.

[2021-10-06 12:12] mtrezza opened #1835 "Open pointer in new tab shows blank page"
### New Issue Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).
- [x] I can reproduce the is

[2021-10-06 12:18] #1668 closed

[2021-10-06 12:22] mtrezza commented on #853
Closing as this issue seems to have been resolved; this only seems to occur with legacy `Audience` objects in the DB from old Parse Server versions (~2016).

[2021-10-06 12:22] #853 closed

[2021-10-06 12:27] mtrezza commented on #230
Closing as this is a non-specific discussion about the availability of various features. If there is a specific feature you would like to continue to discuss, please search whether a specific issue has been opened already, otherwise please feel free to open one.

[2021-10-06 12:27] #230 closed

[2021-10-06 12:32] mtrezza commented on #1053
Can anyone give more details about the expected feature?

[2021-10-06 12:33] mtrezza commented on #929
Closing due to missing details about the expected feature; if anyone can give more details we can reopen this issue.

[2021-10-06 12:33] #929 closed

[2021-10-06 12:35] mtrezza commented on #210
Closing as this describes various issues from old versions of Parse Dashboard (~2016). We can reopen if if anyone still faces this issues in the latest version.

[2021-10-06 12:35] #210 closed

[2021-10-06 12:36] mtrezza commented on #227
Closing as this seems to a duplicate of https://github.com/parse-community/parse-dashboard/issues/151

[2021-10-06 12:36] #227 closed

[2021-10-06 12:42] mtrezza commented on #1826
Yes, thanks for reporting, it's clear what you mean (we will simplify the templates soon). Would you want to create a PR for this?

[2021-10-06 12:45] cyb3rko commented on #1826
I would like to but I don't know what the parameter does so I think I can not help here, sry.
That's why I opened this issue.

[2021-10-06 12:58] mtrezza commented on #1826
Did you take a look into the code? That would be my first step, I think it should be pretty easy to discover.

[2021-10-06 19:37] cyb3rko commented on #1826
I took a look and I found this:

`program.option('--dev', 'Enable development mode. This will disable authentication and allow non HTTPS connections. DO NOT ENABLE IN PRODUCTION SERVERS');`

This fits to the occurences I found in the code for the keyword `dev` where it allows non HTTPS connections.
Do you think that's it? Then I could add it to the README?

[2021-10-06 19:43] mtrezza commented on #1826
If you follow the dev parameter in code, is insecure http the only effect?

[2021-10-06 19:48] cyb3rko commented on #1826
No, there's another point.

The description of the allowed non HTTPS connections in localhost is:
`Disallow HTTP requests except on localhost, to prevent the master key from being transmitted in cleartext`

The other thing is that auth is not necessary if you access the Dashboard via localhost:
`Allow no-auth access on localhost only, if they have configured the dashboard to not need auth`

That's

[2021-10-06 21:40] mtrezza commented on #1826
Sounds good, do you want to add a paragraph to the README?

[2021-10-07 14:02] mtrezza commented on #1826
Closing via #1842

[2021-10-07 14:24] cyb3rko commented on #1826
@mtrezza You can remove the bounty, because I don't need it.
I want to make that money available for "real" and laborious contributions in this open source community.
I did not contribute anything here :)

[2021-10-07 15:18] mtrezza commented on #1826
@cyb3rko That is very noble of you! Just know that your contribution here is much appreciated, because you picked up the issue, looked into it and engaged others to solve it together - and most importantly, solved it is. A pull request is often a team effort, so feel free to claim the bounty within the next 90 days, otherwise it will automatically go back into the community funds.

[2021-10-08 11:32] mtrezza opened #1848 "Optimize review process"
### New Feature / Enhancement Checklist

- [x] I am not disclosing a [vulnerability](https://github.com/parse-community/parse-server/blob/master/SECURITY.md).
- [x] I am not just asking a [question](https://github.com/parse-community/.github/blob/master/SUPPORT.md).
- [x] I have searched through [existing issues](https://github.com/parse-community/parse-dashboard/issues?q=is%3Aissue).

### Current

[2021-10-08 11:58] dblythy commented on #1848
I think it would be good to encourage contributors to submit their initial workings as "draft" reviews, so we can give them feedback on the technical approach prior to them perfecting their code. That way features that aren't going to be merged for certain reasons aren't required to meticulously refine test cases, syntax, etc. This would also help the collaborative approach of giving tips and poin

[2021-10-08 12:02] dblythy commented on #1848
I really like the suggested approach here though Manuel and am looking forward to you creating (yet another) bot to help simplify our process for now and the future 😊

[2021-10-08 12:04] dblythy commented on #1848
Just thinking as well - should the bot auto-mark a review as a "draft" if there are merge conflicts, the PR is outdated with the default branch, or considerable tests are failing?

[2021-10-08 12:59] mtrezza commented on #1848
Yes, that is correct. The bot could do that though.

[2021-10-08 15:45] mtrezza commented on #1848
@sadortun I think you also previously suggested to set PRs to draft initially - what do you think about this process?

[2021-10-08 15:48] mtrezza commented on #1834
Closing via #1836

[2021-10-08 15:48] #1834 closed, assigned to nobody

[2021-10-08 15:50] parseplatformorg commented on #856
🎉 This pull request has been released in version [3.3.0-alpha.1](https://github.com/parse-community/parse-dashboard/releases/tag/3.3.0-alpha.1)

[2021-10-08 17:13] sadortun commented on #1848
A few ideas,

GH have an Auto assign reviewers  feature. Create a Reviewer team, (no need for members to have write access)  Make sure to check https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-assignment-for-your-team#configuring-code-review-assignment

If a PR went from Draft to Non-Draft after being reviewed, please don't set it back to draft. Draft sho

[2021-10-08 19:27] mtrezza commented on #1848
Before anyone starts looking for a 3rd party GitHub Action or bot - we would be extending our custom Parse bot for any automation that we need in his regard.

[2021-10-09 01:45] dblythy commented on #1848
I think that's a good point @sadortun, maybe draft should be used for WIPs only and we should encourage PR contributors to request reviews from the respective reviewers where appropriate. We don't want features held up because PR reviewers aren't notified that features are ready, so perhaps we could encourage PR submitters to request reviews as they please.

[2021-10-09 05:29] sadortun commented on #1848
The bot could simply have a command for submited like :

- Press 🚀  if your PR is ready for review or ask for a new review, and the bot would ping the reviewers.

Once a reviewer submited comments, the submitter will have the name of the reviewer and could just ask directly.

If a reviewer thinks it's a WIP set the PR as Draft again

[2021-10-09 12:21] mtrezza commented on #1832
@jadsonlourenco Under the new UI, deleting a file works just like deleting any other field value by pressing the `delete` key. If this does not work in the modal dialog, then this would be a bug.

Could you clarify what the issue is - are you just preferring the old UI or are you unable to delete the file?

[2021-10-09 12:28] mtrezza commented on #1783
I personally am not particularly fond of commit hooks. I think we have discussed that in the past - a prettified code block may not always be the most practical style during code development. I would prefer a CI step over commit hooks. Unless having both brings any benefits?

[2021-10-09 12:32] mtrezza commented on #1823
I think we could just close this issue, unless we find a reason to use v2. Naturally, once Node 14 support will be dropped in April 2023, we will move to v2 anyway.

[2021-10-09 12:38] dblythy commented on #1823
Sounds good!

[2021-10-09 12:44] dblythy commented on #1783
I think commit hooks are good to make sure that PRs fit the lint standards that we apply, regardless of the additional styles of prettier. Hooks can always be skipped with `--no-verify`

[2021-10-09 13:21] jadsonlourenco commented on #1832
Good, but I don't know about this keyboard shortcut, most of the time on desktop and mobile we use mouse/touch. On the preview version, as we can see on the images, was three buttons, including one to delete by clicking/touching on it.
So, how can we delete a file with mouse/touch now?

[2021-10-09 13:57] mtrezza commented on #1832
It should work the same as with every other field. How do you delete the content of a file/text/pointer field in the data browser?

[2021-10-09 13:59] mtrezza commented on #1783
As I understand it,
"ensuring" would be the purpose of the CI step
"adapting" would be the purpose of the commit hook

I don't believe it's developer friendly to force-prettify code they are still working on when making a commit. Just thinking about breakpoints that are set to specific lines, when suddenly the lines change because of a prettify. When working on a code block and the structure sudde

[2021-10-09 14:18] jadsonlourenco commented on #1832
Did you saw the images that have in this issue, first post?

[2021-10-09 14:20] mtrezza commented on #1832
Yes, but these button never existed for non-file field. How do you delete non-file fields in the data browser in a touch interface?

[2021-10-09 14:22] jadsonlourenco commented on #1832
Yes, like I've said in the first post too, the issue is on the modal edit.

[2021-10-09 14:22] mtrezza commented on #1832
I understand, but how did you delete non-file fields in the data browser in a touch interface, before the upgrade to 3.2.0?

[2021-10-09 14:28] jadsonlourenco commented on #1832
Yes, in the data browser we have the three buttons, before the upgrade (2.1.0). Now on 3.2.0 is the same as the edit modal, with no delete button.

Version 2.1.0, data browser column:
![Screen Shot 2021-10-09 at 11 31 40](https://user-images.githubusercontent.com/1428013/136662285-d09cc97b-eb5b-4f46-8248-955bfa116636.png)

Version 3.2.0:
![Screen Shot 2021-10-09 at 11 31 19](https://user-images.gi

[2021-10-09 16:06] mtrezza commented on #1832
Please read my question again, I am specifically asking for *non-file* fields 🙂 For example the `username` field in `_User`, how would you delete that?

[2021-10-09 20:38] jadsonlourenco commented on #1832
With keyboard.

[2021-10-09 20:40] mtrezza commented on #1832
I assume by pressing the "Delete" key. Would it help you if you could delete a file the same way in the modal dialog?

[2021-10-09 20:43] jadsonlourenco commented on #1832
Sorry, you are right, great UX without buttons, "welcome to Windows 8", hahaha. You got the issue, so, if you want to write documentation explaining how to "delete" on the File field will be great, so, do the same as Microsoft did on Windows 8, hide the simple things to the user search on the UI, very good UX, very good.

At least this project is open source and I can add the buttons, use the old

[2021-10-09 20:53] mtrezza commented on #1832
The buttons have been removed because other fields also do not have any buttons. If you can delete the `username` field with your touch UI, why do you need buttons for file fields.

If the modal dialog does not support this, then this would be a bug that needs to be fixed, so you can delete it the same way as in the data browser. I just checked and this seems to be an issue with the modal dialog i